<template>
  <div class="pNewsSlugMobile pNewsSlug">

    <section class="section section-index">
      <h1 class="section-heading">{{ blogCurrent.title }}</h1>
      <div class="section-description m-t-20">
        <div class="row">
          <div class="col-xs-7 text-center">
            {{ [ blogCurrent.date, "dddd MMMM Do, YYYY" ] | moment("MMM DD.YYYY") }} <span class="text-highlight">•</span> <span class="" style="display: none;">Simon Corbell</span>
          </div>
        </div>
      </div>
    </section>

    <section class="section section-article p-0">

      <div class="article-image"  v-if="blogCurrent.thumbnail">
        <img class="img-responsive" :src="blogCurrent.thumbnail" alt="artivle-name"/>
      </div>
      <div class="article-content p-30" v-html="$md.render(blogCurrent.body)">
      </div>
    </section>

    <!--<section class="section section-video">
      <div class="video-container">
        <a class="btn-play">
          <img class="img-responsive" src="~/assets/images/icon-play.png" alt="icon"/>
        </a>
      </div>
    </section>
    <section class="section section-social">
      <div class="section-description">
        <ul class="list-unstyled">
          <li>
            <a href="#" class="">
              <img class="img-responsive" src="~/assets/images/twitterBlack.png" alt="twitter"/>
            </a>
          </li>
          <li>
            <a href="#" class="">
              <img class="img-responsive" src="~/assets/images/linkedinBlack.png" alt="twitter"/>
            </a>
          </li>
          <li>
            <a href="#" class="">
              <img class="img-responsive" src="~/assets/images/facebookBlack.png" alt="twitter"/>
            </a>
          </li>
        </ul>
      </div>
    </section>-->
    <section class="section section-next-article" v-if="blogNext.title">
      <h4 class="section-heading text-uppercase">Next Article</h4>
      <div class="section-description m-t-20">
        <div class="row">
          <div class="col-md-12">
            <div class="news-item">
              <h4 class="news-title">{{ blogNext.title }}</h4>
              <p class="news-date">
                {{ [ blogNext.date, "dddd MMMM Do, YYYY" ] | moment("M.YYYY") }}
              </p>
              <div class="news-description">
                {{ blogNext.shortBody }}
              </div>
              <div class="news-links m-t-20">
                <a class="" :href="blogNext._path"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";
  import messages from "~/assets/translations/newsDetail";

  export default {
    name: 'cNewsDetailMobile',
    components: {},
    i18n: {
      messages
    },
    props: {
        slug: {
            type: String,
            required: true
        }
    },
    data() {
      return {
        blogCurrent: {},
        blogBack: {},
        blogNext: {}
      };
    },

    computed: {
      ...mapState({
        allBlogs: state => state.allBlogs,
      }),
    },

    head () {
      return {
        title: `${this.$t('head.companyName')} | ${this.blogCurrent.title}`,
        meta: [
          { hid: 'description', name: 'description', content: this.blogCurrent.shortBody }
        ]
      }
    },

    created() {
      for (let index = 0; index < this.allBlogs.length; index++) {
        const element = this.allBlogs[index];

        if (element._path.includes(this.slug)) {
          this.blogCurrent = element;

          // min index = 0
          if (index > 0) {
            this.blogBack = this.allBlogs[index - 1]
          }

          // mac index = lenght - 1
          if (index < this.allBlogs.length - 1) {
            this.blogNext = this.allBlogs[index + 1]
          }

          break;
        }
      }
    }
  };
</script>
