<template>
  <div class="pHome">
    <section class="div-first g-bg-position--center js__parallax-window pHome__header-image">
      <img class="header-overlay" src="~/assets/images/CommonItems/header-overlay.png"/>

      <div class="container g-position--overlay g-text-center--xs">
        <div class="g-padding-y-50--xs g-margin-t-100--xs g-margin-b-100--xs g-margin-b-100--md">
          <div class="title-list">
            <!-- <h1 class="g-font-size-36--xs g-font-size-50--sm g-font-size-60--md g-color--white">{{$t('heading.title.first')}}</h1> -->
            <h1 class="g-font-size-36--xs g-font-size-50--sm g-color--white header-title">
              {{$t('heading.title.first')}}</h1>
            <h2 class="g-font-size-36--xs g-font-size-50--sm g-color--white header-title">
              {{$t('heading.title.second')}}</h2>
            <h3 class="g-font-size-36--xs g-font-size-50--sm header-title">{{$t('heading.title.third')}}</h3>

          </div>

          <a href="#js__scroll-to-section" class="scroll-down">
            <span class="scroll-down__title">{{$t('explore.title')}}</span>
            <!-- <span class="btn s-icon s-icon--md s-icon--white-brd g-radius--circle fas fa-arrow-down scroll-down__icon"></span> -->
            <span class="btn s-icon s-icon--md s-icon--white-brd g-radius--circle fas fa-arrow-down scroll-down__icon font-weight-900"></span>
            <!-- <i class="fas fa-arrow-down"></i> -->
          </a>
        </div>
      </div>
    </section>

    <c-map-component id="js__scroll-to-section" idName="map-component-carousel-desktop" :dataContent="$t('explore')" :btnContent="$t('button')"></c-map-component>

    <!-- <section id="js__scroll-to-section" class="div-second">
      <img :class="{ 'mugga-lane-location': true, 'pin-active': isMuggaLaneLocation }"
           src="~/assets/images/media_assets/frontpage/2_ProjectsMap/map-pin.svg" v-on:click="muggaLocation()"/>
      <img :class="{ 'sunraysia-solar-location': true, 'pin-active': isSunraysiaLocation }"
           src="~/assets/images/media_assets/frontpage/2_ProjectsMap/map-pin.svg" v-on:click="sunraysiaLocation()"/>
      <img :class="{ 'mugga-lane-location-active': true, 'pin-active': !isMuggaLaneLocation }"
           src="~/assets/images/media_assets/frontpage/2_ProjectsMap/map-pin-active.svg"/>
      <img :class="{ 'sunraysia-solar-location-active': true, 'pin-active': !isSunraysiaLocation }"
           src="~/assets/images/media_assets/frontpage/2_ProjectsMap/map-pin-active.svg"/>

      <div class="container g-padding-y-50--xs">
        <div class="row g-hor-centered-row--md g-margin-t-30--xs g-margin-t-20--sm">
          <div class="col-md-7 col-sm-12">
            <div id="carousel-example-generic" class="carousel slide carousel-fade div-second__carousel"
                 data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              </ol>

              <div class="carousel-inner" role="listbox">
                <div :class="{ item: true, active: true }">
                  <div class="card">
                    <div class="card-body">
                      <p class="text-uppercase title-project">{{$t('explore.projects')}}</p>
                      <h4 class="title1">{{$t('explore.operation')}}</h4>
                      <h4 class="title2">{{$t('explore.muggatitle')}}</h4>
                      <p class="card-text">
                        {{$t('explore.muggadesc')}}
                      </p>
                      <a href="/projects/mugga-lane" class="btn btn-outline-white">{{$t('button.moreinfo')}}</a>
                    </div>
                  </div>
                </div>
                <div :class="{ item: true }">
                  <div class="card">
                    <div class="card-body">
                      <p class="text-uppercase title-project">{{$t('explore.projects')}}</p>
                      <h4 class="title1">{{$t('explore.operation')}}</h4>
                      <h4 class="title2">{{$t('explore.sunraysiatitle')}}</h4>
                      <p class="card-text">
                        {{$t('explore.sunraysiadesc')}}
                      </p>
                      <a href="/projects/sunraysia" class="btn btn-outline-white">{{$t('button.moreinfo')}}</a>
                    </div>
                  </div>
                </div>

              </div>

              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"
                 v-on:click="mapLocationChange()">
                <span class="fas fa-arrow-left" aria-hidden="true" style="font-size: 35px;"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"
                 v-on:click="mapLocationChange()">
                <span class="fas fa-arrow-right" aria-hidden="true" style="font-size: 35px;"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>

          </div>
        </div>
      </div>
    </section> -->

    <section class="div-third">
      <div class="container container-content">
        <div class="row">
          <div class="col-md-5 g-margin-t-0--xs g-margin-t-70--lg g-margin-b-60--xs g-margin-b-0--lg">
            <div class="div-left g-margin-b-40--xs">
              <h2 class="g-font-size-32--xs g-font-size-36--sm g-margin-b-30--xs">{{$t('trackrecord.title.first')}} <span
                  class="tc-blue">{{$t('trackrecord.title.second')}}</span> {{$t('trackrecord.title.third')}}</h2>
              <p>{{$t('trackrecord.description')}}</p>
            </div>
          </div>
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-6 item-img">
                <div class="card card__content">
                  <h3 class="card__content--title">{{$t('trackrecord.card1.title')}}</h3>
                  <p class="card__content--details">{{$t('trackrecord.card1.desc')}}</p>
                </div>
              </div>
              <div class="col-md-6 item-img">
                <div class="card thumb1">
                  <h3 class="card__content--title invisible">{{$t('trackrecord.card1.title')}}</h3>
                  <p class="card__content--details invisible">{{$t('trackrecord.card1.desc')}}</p>
                </div>
              </div>
              <div class="col-md-6 item-img">
                <div class="card thumb2">
                  <h3 class="card__content--title invisible">{{$t('trackrecord.card2.title')}}</h3>
                  <p class="card__content--details invisible" style="padding-bottom:57px;">{{$t('trackrecord.card2.desc')}}<span class="invisible"></span></p>
                </div>
              </div>
              <div class="col-md-6 item-img">
                <div class="card card__content">
                  <h3 class="card__content--title">{{$t('trackrecord.card2.title')}}</h3>
                  <p class="card__content--details" style="padding-bottom:57px;">{{$t('trackrecord.card2.desc')}}<span class="invisible"></span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="div-fourth container-fluid" :style="backgroundImage">
      <div class="container">

        <div class="row g-hor-centered-row--md g-row-col--5 g-margin-b-60--xs g-margin-b-100--md">
          <!-- Start left container -->
          <div class="col-md-12">
            <ul class="nav nav-tabs">
              <li class="active" v-on:click="tabPanelChange(1)"><a :class="{ white: isWhite }" data-toggle="tab" href="#vision">{{$t('visionteam.menu.vision')}}</a></li>
              <li v-on:click="tabPanelChange(2)"><a :class="{ white: isWhite }" data-toggle="tab" href="#team">{{$t('visionteam.menu.team')}}</a></li>
            </ul>

            <div class="tab-content g-margin-t-30--xs g-margin-t-50--sm">
              <div id="vision" class="tab-pane fade in active">
                <div class="row">
                  <div class="tab-title col-md-6">
                    <h2 class="tab-title__caption"><span class="">{{$t('visionteam.vision.title.first')}}</span> {{$t('visionteam.vision.title.second')}}</h2>
                  </div>
                  <div class="tab-details col-md-6 g-hor-centered-row__col">
                    <p class="tab-details--p g-font-size-18--sm">{{$t('visionteam.vision.desc.first')}}</p>
                    <p class="tab-details--p g-font-size-18--sm">{{$t('visionteam.vision.desc.second')}}</p>
                    <p class="tab-details--p g-font-size-18--sm">{{$t('visionteam.vision.desc.third')}}</p>
                    <p class="tab-details--p g-font-size-18--sm">{{$t('visionteam.vision.desc.fourth')}}</p>
                    <p class="tab-details--p g-font-size-18--sm">{{$t('visionteam.vision.desc.fifth')}}</p>
                  </div>
                </div>
              </div>
              <div id="team" class="tab-pane fade">
                <div class="row">
                  <div class="tab-title col-md-5 team-content">
                    <h3 class="team-content__first-title">{{$t('visionteam.team.title.first')}}</h3>
                    <h2 class="team-content__second-title"><span class="team-content__second-title--white">{{$t('visionteam.team.title.second')}}</span>
                      {{$t('visionteam.team.title.third')}}</h2>
                    <p class="team-content__content">{{$t('visionteam.team.desc')}}</p>
                    <a class="btn btn-outline-white" href="/team">{{$t('button.team')}}</a>
                  </div>
                  <div class="tab-details col-md-7 g-hor-centered-row__col invisible">
                    <p class="tab-details--p g-font-size-18--sm">{{$t('visionteam.vision.desc.first')}}</p>
                    <p class="tab-details--p g-font-size-18--sm">{{$t('visionteam.vision.desc.second')}}</p>
                    <p class="tab-details--p g-font-size-18--sm">{{$t('visionteam.vision.desc.third')}}</p>
                    <p class="tab-details--p g-font-size-18--sm">{{$t('visionteam.vision.desc.fourth')}}</p>
                    <p class="tab-details--p g-font-size-18--sm">{{$t('visionteam.vision.desc.fifth')}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End left container -->
        </div>

      </div>

    </section>

    <!-- <section class="div-fifth articles-card-component">
      <div class="container container-content">
        <div class="div-header row">
          <div class="col-sm-5 g-hor-centered-row__col">
            <p class="text-uppercase title-header">{{$t('news.title.first')}}</p>
            <h2 class="title-caption">{{$t('news.title.second')}}</h2>
            <p class="title-details">{{$t('news.title.third')}}</p>
          </div>
        </div>

        <div class="div-content articles-card-list row">
          <div class="col-md-4">
            <div class="card"
                :style="{ 'background-image': 'url(' + this.allBlogPosts[0].thumbnail + ')' }"
                style="background-repeat: no-repeat; background-position: center center; background-size: cover; position: relative;">
              <div class="card-body">
                <p class="card-body__date position-relative">{{ [ this.allBlogPosts[0].date, "dddd MMMM Do, YYYY" ] | moment("M.YYYY") }}</p>

                <div class="card-body__info">
                  <a :href="this.allBlogPosts[0]._path" class="card-body__title card-body__title">{{ this.allBlogPosts[0].title }}</a>
                  <div class="card-body__info__expanded-component">
                    <p class="card-body__details">
                      {{ this.allBlogPosts[0].shortBody }}
                    </p>
                    <a :href="this.allBlogPosts[0]._path" class="card-body__icon"/>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card"
                :style="{ 'background-image': 'url(' + this.allBlogPosts[1].thumbnail + ')' }"
                style="background-repeat: no-repeat; background-position: center center; background-size: cover; position: relative;">
              <div class="card-body">
                <p class="card-body__date position-relative">{{ [ this.allBlogPosts[1].date, "dddd MMMM Do, YYYY" ] | moment("M.YYYY")}}</p>

                <div class="card-body__info">
                  <a :href="this.allBlogPosts[1]._path" class="card-body__title card-body__title">{{ this.allBlogPosts[1].title }}</a>
                  <div class="card-body__info__expanded-component">
                    <p class="card-body__details">
                      {{ this.allBlogPosts[1].shortBody }}
                    </p>
                    <a :href="this.allBlogPosts[1]._path" class="card-body__icon"/>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card"
                :style="{ 'background-image': 'url(' + this.allBlogPosts[2].thumbnail + ')' }"
                style="background-repeat: no-repeat; background-position: center center; background-size: cover; position: relative;">
              <div class="card-body">
                <p class="card-body__date position-relative" style="-webkit-box-orient: vertical;">{{ [ this.allBlogPosts[2].date, "dddd MMMM Do, YYYY" ] | moment("M.YYYY")}}</p>

                <div class="card-body__info">
                  <a :href="this.allBlogPosts[2]._path" class="card-body__title card-body__title">{{ this.allBlogPosts[2].title }}</a>
                  <div class="card-body__info__expanded-component">
                    <p class="card-body__details">
                      {{ this.allBlogPosts[2].shortBody }}
                    </p>
                    <a :href="this.allBlogPosts[2]._path" class="card-body__icon"/>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="div-more-news row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
              <a href="/news" class="btn btn-gray-outline" role="button">{{$t('button.morenews')}}</a>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <c-news-list-component :news="$t('news')" 
      :button="$t('button')"
      :allBlogsList="this.allBlogPosts"
      :blogBeginNumber="0" 
      :blogsNumber="3"
    ></c-news-list-component>

    <c-carousel-component idName="projects-carousel" :project="$t('project')" :button="$t('button')"></c-carousel-component>
  </div>
</template>

<script>
  import messages from "~/assets/translations/home";
  import cMapComponent from "~/components/cMapComponent/cMapComponent"
  import cCarouselComponent from "~/components/cCarouselComponent/cCarouselComponent"
  import cNewsListComponent from "~/components/cNewsListComponent/cNewsListComponent"

  export default {
    name: 'cIndexDesktop',

    i18n: {
      messages
    },

    components: {
      cMapComponent,
      cCarouselComponent,
      cNewsListComponent
    },

    data() {
      return {
        backgroundImage: "background: url('/images/media_assets/frontpage/4_VisionTeam/vision-bg.png') no-repeat center center; background-size: 600px;",
        isWhite: false,
        isMuggaLaneLocation: true,
        isSunraysiaLocation: false,
        carouselObject: undefined
      }
    },
    computed: {
      allBlogPosts() {
        return this.$store.state.allBlogs
      }
    },
    created () {

    },
    mounted() {
      // this.initMapCarousel()
      this.initSwiper()
    },
    methods: {
      initSwiper () {
        var swiper = new Swiper(".js__swiper-testimonialss", {
          pagination: '.js__swiper-fraction',
          // paginationType: "fraction", 
          paginationClickable: !0, 
          nextButton: ".js__swiper-btn--next", 
          prevButton: ".js__swiper-btn--prev", 
          slidesPerView: 1,
          effect: 'fade', 
          speed: 1e3, 
          autoplay: 7e3, 
          loop: !0,
        });
      },
      tabPanelChange(panelId) {
        if (panelId === 1) {
          this.backgroundImage = "background: url('/images/media_assets/frontpage/4_VisionTeam/vision-bg.png') no-repeat center center; background-size: 600px;"
          this.isWhite = false
        }
        if (panelId === 2) {
          this.backgroundImage = "background: url('/images/media_assets/frontpage/4_VisionTeam/team-bg.jpg') no-repeat center center; background-size: cover;"
          this.isWhite = true
        }
      },
      initMapCarousel () {
        this.carouselObject = $('#carousel-example-generic')
        $(document).ready(() => {
          $('#carousel-example-generic').on('slide.bs.carousel', (e) => {
            var currentIndex = $('div.item.active').index();
            if (currentIndex === 0) {
              this.isMuggaLaneLocation = false;
              this.isSunraysiaLocation = true;
            } else if (currentIndex === 1) {
              this.isMuggaLaneLocation = true;
              this.isSunraysiaLocation = false;
            }
          })
        })
      },
      mapLocationChange() {
        this.isMuggaLaneLocation = !this.isMuggaLaneLocation
        this.isSunraysiaLocation = !this.isSunraysiaLocation
      },
      muggaLocation() {
        this.isMuggaLaneLocation = true
        this.isSunraysiaLocation = false

        // this.carouselObject.carousel('next')
        this.carouselObject.carousel(0)
      },
      sunraysiaLocation() {
        this.isMuggaLaneLocation = false
        this.isSunraysiaLocation = true

        // this.carouselObject.carousel('prev')
        this.carouselObject.carousel(1)
      }
    }
  }
</script>
