<template>
  <div class="pProjects">
    <section class="div-first js__parallax-window" v-bind:style="{ 'background-image': 'url(' + currentProject.header.image + ')' }">
        <div class="container g-position--overlay g-text-center--xs">
          <img class="header-overlay" src="~/assets/images/CommonItems/header-overlay.png">
          <div class="g-padding-y-50--xs g-margin-t-100--xs g-margin-b-100--xs g-margin-b-100--md title-content">
            <div class="title-list position-relative">
              <p class="title-list__page-name">{{ $t('heading.pageName')}}</p>
              <h1 class>{{ currentProject.header.title.first }}</h1>
              <h2 class>{{ currentProject.header.title.second }}</h2>
              <h3 class>{{ currentProject.header.title.third }}</h3>
            </div>

            <a href="#js__scroll-to-section" class="scroll-down-btn position-relative">
              <span class="btn s-icon s-icon--md s-icon--white-brd g-radius--circle fas fa-arrow-down font-weight-900"></span>
            </a>
          </div>
      </div>
    </section>

    <c-project-detail-component id="js__scroll-to-section"
      :currentProject="currentProject"
      :button="$t('button')"
    ></c-project-detail-component>

    <c-project-map-component :mapContent="currentProject.mapContent" ></c-project-map-component>

  </div>
</template>

<script>
  import messages from "../../../assets/translations/projects";
  import cProjectMapComponent from '~/components/cMapComponent/cProjectMapComponent'
  import cProjectDetailComponent from '~/components/cProjectComponent/cProjectDetailComponent'

  export default {
    name: 'cProjectsDesktop',

    components: {
      cProjectMapComponent,
      cProjectDetailComponent
    },

    i18n: {
      messages
    },

    props: {
      projectName: {
        type: String,
      },
      currentProject: {

      }
    }
  }
</script>
