<template>
  <div class="pTeam">
    <section class="div-first js__parallax-window">
      <div class="container g-position--overlay g-text-center--xs">
        <img class="header-overlay" src="~/assets/images/CommonItems/header-overlay.png">
        <div class="g-padding-y-50--xs g-margin-t-100--xs g-margin-b-100--xs g-margin-b-100--md title-content">
          <div class="title-list position-relative">
            <p class="title-list__page-name">{{$t('heading.title.caps')}}</p>
            <h1 class>
              <span class="tc-white">{{$t('heading.title.first.white')}}</span>
            </h1>
            <h1 class>{{$t('heading.title.second')}}</h1>
            <h1 class>{{$t('heading.title.third')}}</h1>
          </div>

          <a href="#js__scroll-to-section" class="scroll-down-btn position-relative">
            <span class="btn s-icon s-icon--md s-icon--white-brd g-radius--circle fas fa-arrow-down font-weight-900"></span>
          </a>
        </div>
      </div>
    </section>

    <c-team-carousel-component idName="team-profiles-carousel" :profiles="$t('profiles')" :button="$t('button')"></c-team-carousel-component>

    <!-- <section id="js__scroll-to-section" class="div-second">
      <div class="container g-text-center--xs">
        <div class="s-swiper js__swiper-testimonials">
          <div class="swiper-wrapper g-margin-b-50--xs">
            <div
              class="swiper-slide g-padding-x-130--sm g-padding-x-150--lg profile-slide"
              v-for="(profile, profileIndex) in $t('profiles')"
              :key="`profile-${profileIndex}`"
            >
              <div class="profile-slide__left">
                <img class="profile-slide__left__avatar" :src="profile.avatar" :alt="profile.name">
                <a class="profile-slide__left__profile-link" target="_blank" :href="profile.link">
                  <i class="fab fa-linkedin profile-slide__left__profile-link--linkedin-icon"></i>
                  <span class="profile-slide__left__profile-link--text">{{$t('button.profile')}}</span>
                </a>
              </div>

              <div class="div-body g-padding-x-20--xs g-padding-x-50--lg profile-slide__right">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-body__name">{{ profile.name }}</h4>
                    <p class="text-uppercase card-body__position">{{ profile.title }}</p>
                    <p
                      class="card-body__content"
                      v-for="(content, contentIndex) in profile.intro"
                      :key="`profile-${profileIndex}-detail-${contentIndex}`"
                    >{{ content }}</p>

                    <a class="card-body__profile-link">
                      <i class="fab fa-linkedin card-body__profile-link--linkedin-icon"></i>
                      <span class="card-body__profile-link--text">View Profile</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="g-font-size-22--xs g-color--heading js__swiper-fraction"></div>
          <a
            href="javascript:void(0);"
            class="btn projectsfp s-swiper__arrow-v1--right js__swiper-btn--next"
          ></a>
          <a
            href="javascript:void(0);"
            class="btn projectsfp s-swiper__arrow-v1--left js__swiper-btn--prev"
          ></a>
        </div>
      </div>
    </section> -->

    <section class="div-third">
      <div class="container-fluid">
        <div class="row">
          <!-- Start div lef5 component -->
          <div class="col-lg-6 div-left">
            <h2>{{$t('join.title')}}</h2>
            <p>
              {{$t('join.desc.first')}}
            </p>
            <p>
              {{$t('join.desc.second')}}
            </p>

            <div class="m-t-70">
              <a href="/careers" type="button" class="btn btn-gray-outline">{{$t('button.careers')}}</a>
            </div>
          </div>
          <!-- End div left component -->
          <!-- Start div right component -->
          <div class="col-lg-6 div-right">
            <div class="contact-form">
              <!-- <form
                name="contact-maoneng"
                method="POST"
                data-netlify="true"
                data-netlify-honeypot="spam-field"
                class="center-block"
                @submit="handleSubmit"
              > -->

              <form
                name="contact-maoneng"
                netlify-honeypot="spam-field"
                class="center-block"
                @submit.prevent="handleSubmit"
              >
                <input type="hidden" name="spam-field" value="contact-maoneng">
                <div class="g-margin-b-15--xs">
                  <input
                    type="text"
                    class="form-control s-form-v3__input"
                    :placeholder="$t('form.name')"
                    name="name"
                    v-model="form.name"
                    required :oninvalid="`this.setCustomValidity(${$t('form.requiredFieldMessage')})`" oninput="this.setCustomValidity('')"
                  >
                </div>
                <div class="g-margin-b-15--xs">
                  <input
                    type="number"
                    class="form-control s-form-v3__input"
                    :placeholder="$t('form.number')"
                    name="number"
                    v-model="form.number"
                    required :oninvalid="`this.setCustomValidity(${$t('form.requiredFieldMessage')})`" oninput="this.setCustomValidity('')"
                  >
                </div>
                <div class="g-margin-b-15--xs">
                  <input
                    type="email"
                    class="form-control s-form-v3__input"
                    :placeholder="$t('form.email')"
                    name="email"
                    v-model="form.email"
                    required :oninvalid="`this.setCustomValidity(${$t('form.requiredFieldMessage')})`" oninput="this.setCustomValidity('')"
                  >
                </div>
                <div class="g-margin-b-15--xs">
                  <input
                    type="text"
                    class="form-control s-form-v3__input"
                    :placeholder="$t('form.enquiry')"
                    name="subject"
                    v-model="form.subject"
                  >
                </div>
                <div class="g-margin-b-80--xs">
                  <textarea
                    class="form-control s-form-v3__input"
                    rows="8"
                    :placeholder="$t('form.message')"
                    name="message"
                    v-model="form.message"
                  ></textarea>
                </div>
                <div class="m-t-70">
                  <button
                    type="submit"
                    class="btn btn-blue-outline submit-btn mn-w-230 text-uppercase"
                  >{{$t('button.submit')}}</button>
                </div>
              </form>
            </div>
          </div>
          <!-- End div right component -->
        </div>
      </div>
    </section>

    <c-news-list-component :news="$t('news')" 
      :button="$t('button')"
      :allBlogsList="this.allBlogPosts"
      :blogBeginNumber="0" 
      :blogsNumber="3"
    ></c-news-list-component>
  </div>
</template>

<script>
import messages from "~/assets/translations/team";
import axios from "axios";
import cTeamCarouselComponent from '~/components/cCarouselComponent/cTeamCarouselComponent'
import cNewsListComponent from '~/components/cNewsListComponent/cNewsListComponent'

export default {
  name: "cTeamDesktop",
  components: {
    cTeamCarouselComponent,
    cNewsListComponent
  },
  i18n: {
    messages
  },
  computed: {
    allBlogPosts() {
      return this.$store.state.allBlogs;
    }
  },
  data() {
    return {
      form: {
        name: undefined,
        number: undefined,
        email: undefined,
        subject: undefined,
        message: undefined
      }
    };
  },

  mounted () {
    this.initSwiper()
  },

  methods: {
    initSwiper () {
      var swiper = new Swiper(".js__swiper-testimonialss", {
        pagination: '.js__swiper-fraction',
        // paginationType: "fraction", 
        paginationClickable: !0, 
        nextButton: ".js__swiper-btn--next", 
        prevButton: ".js__swiper-btn--prev", 
        slidesPerView: 1,
        // effect: 'fade',
        speed: 1e3, 
        autoplay: 7e3, 
        loop: !0,
        watchSlidesProgress: true,
        onProgress: function(swiper, progress){
            for (var i = 0; i < swiper.slides.length; i++){
                var slide = swiper.slides[i];
                var opacity;
                progress = slide.progress;
                console.log('new;', progress)
                if (progress === 0) {
                  opacity = 1
                }
                else {
                  opacity = 0
                }
                $(slide).css({
                  opacity: opacity,
                  transform: 'translate3d(0,0,0)' 
                });
            }
        },
        onTouchStart: function(swiper){
          for (var i = 0; i < swiper.slides.length; i++){
            $(swiper.slides[i]).css({ 
              transition: '',
            });
          }
        },
        onSetTransition: function(swiper, speed) {
          for (var i = 0; i < swiper.slides.length; i++){
            $(swiper.slides[i]).css({ transition: speed + 'ms' });
          }
        }
      });
    },
    encode (data) {
      return Object.keys(data)
        .map(
          key => `${encodeURIComponent(key)}=${encodeURIComponent(data[key])}`
        )
        .join("&");
    },
    handleSubmit () {
      const axiosConfig = {
        header: { "Content-Type": "application/x-www-form-urlencoded" }
      };
      axios.post(
        "/team",
        this.encode({
          "form-name": "contact-maoneng",
          ...this.form
        }),
        axiosConfig
      )
      .then(() => {
        window.location.href = 'submission-success'
      })
      .catch(() => {
        window.location.href = 'submission-fail'
      });
    }
  }
};
</script>
