<template>
  <div class="pTeamMobile">

    <section class="section section-index" :style="'min-height: ' + height + 'px'">
      <h4 class="section-heading text-uppercase m-t-70">{{$t('heading.title.caps')}}</h4>
      <div class="section-description">
       {{$t('heading.title.first.white')}} {{$t('heading.title.second')}} <span
          class="text-highlight">{{$t('heading.title.third')}}</span>
      </div>
    </section>

    <section class="section section-profile">
      <div class="profile-carousel">
        <div id="carousel-profile" class="owl-carousel owl-theme" style="display: block;">
          <div class="item profile-item" v-for="(profile, index) in profiles" :key="`profile-${index}`">

            <div class="profile-image text-center">
              <img class="img-responsive img-circle"
                   :src="profile.avatar"
                   :alt="profile.name"/>
            </div>
            <div class="profile-links m-t-10 text-center">
              <a class="btn btn-outline-white  text-uppercase"
                 target="_blank"
                 :href="profile.link">
                <i class="fab fa-linkedin"></i>
                View Profile
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section section-profile-info" v-if="!!selectedProfile">
      <div class="profile-name">{{ selectedProfile.name }}</div>
      <div class="profile-position">{{ selectedProfile.position }}</div>
      <div class="profile-intro">
        <ul class="list-unstyled">
          <li v-for="(item, index) in selectedProfile.intro" :key="`profile-detail-${index}`">
            {{ item }}
          </li>
        </ul>
      </div>
    </section>

    <section class="section section-join-us">
      <h3 class="section-heading">{{$t('join.title')}}</h3>
      <div class="section-description">
        <p>{{$t('join.desc.first')}}</p>
        <p>{{$t('join.desc.second')}}</p>
      </div>
      <div class="section-links m-t-20">
        <a href="/careers" class="btn btn-gray-outline mn-w-230  text-uppercase">Careers</a>
      </div>
    </section>

    <section class="section section-contact-us">
      <div class="contact-form">
        <form name="contact-maoneng" class="center-block" netlify-honeypot="spam-field" @submit.prevent="handleSubmit">
          <input type="hidden" name="spam-field" value="contact-maoneng">
          <div class="g-margin-b-15--xs">
            <input type="text" class="form-control s-form-v3__input" :placeholder="$t('form.name')" name="name" v-model="form.name" required :oninvalid="`this.setCustomValidity(${$t('form.requiredFieldMessage')})`" oninput="this.setCustomValidity('')">
          </div>
          <div class="g-margin-b-15--xs">
            <input type="text" class="form-control s-form-v3__input" :placeholder="$t('form.number')" name="number" v-model="form.number" required :oninvalid="`this.setCustomValidity(${$t('form.requiredFieldMessage')})`" oninput="this.setCustomValidity('')">
          </div>
          <div class="g-margin-b-15--xs">
            <input type="email" class="form-control s-form-v3__input" :placeholder="$t('form.email')" name="email" v-model="form.email" required :oninvalid="`this.setCustomValidity(${$t('form.requiredFieldMessage')})`" oninput="this.setCustomValidity('')">
          </div>
          <div class="g-margin-b-15--xs">
            <input type="text" class="form-control s-form-v3__input" :placeholder="$t('form.enquiry')" name="subject" v-model="form.subject">
          </div>
          <div class="g-margin-b-80--xs">
            <textarea class="form-control s-form-v3__input" rows="5" :placeholder="$t('form.message')" name="message" v-model="form.message"></textarea>
          </div>
          <div class="m-t-70">
            <button type="submit" class="btn btn-blue-outline mn-w-230  text-uppercase">Submit</button>
          </div>
        </form>
      </div>
    </section>

    <section class="section section-news">
      <h4 class="section-heading text-uppercase">News</h4>
      <div class="section-description">
        <h1>Latest News.</h1>
        <p>Keep up with the latest news.</p>

        <div class="news-carousel">
          <div id="carousel-news" class="owl-carousel owl-theme">
            <div class="item news-item"
                 :style="{ background: 'url(' + blog.thumbnail + ')' }"
                 v-for="(blog, index) of blogs"
                 :key="`blog-${index}`">
              <div class="news-time">{{ [ blog.date, "dddd MMMM Do, YYYY" ] | moment("M.YYYY") }}</div>
              <div class="news-info">
                <h1 class="news-title">{{ blog.title }}</h1>
                <div class="news-link">
                  <a :href="blog._path"></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="m-t-40">
          <a class="btn btn-link btn-gray-outline mn-w-230" href="/news">MORE NEWS</a>
        </div>
      </div>
    </section>
  </div>
</template>

<script>

  import messages from "~/assets/translations/team";
  import axios from "axios";

  export default {
    name: "cTeamMobile",
    components: {},
    i18n: {
      messages
    },
    data() {
      return {
        height: null,
        width: null,
        profileCarousel: undefined,
        newsCarousel: undefined,
        profiles: [],
        selectedProfile: {},
        blogs: [],
        form: {
          name: undefined,
          number: undefined,
          email: undefined,
          subject: undefined,
          message: undefined
        }
      };
    },computed: {
      allBlogPosts() {
        return this.$store.state.allBlogs
      }
    },
    created() {
      this.blogs = this.allBlogPosts.slice(0, 3);

    },
    mounted() {
      this.profiles = this.$t('profiles')
      this.selectedProfile = this.profiles[0];

      var _this = this;

      $(document)
        .ready(() => {

          this.height = $(window).height();
          this.width = $(window).width();

          $(window).bind('load resize', () => {
            this.height = $(window).height();
            this.width = $(window).width();
          });

          // news carousel
          this.newsCarousel = $('#carousel-news');
          this.newsCarousel.owlCarousel({
            autoWidth: true,
            margin: 15
          });

          // project detail section
          this.profileCarousel = $('#carousel-profile');
          this.profileCarousel
            .owlCarousel({
              navSpeed: 1000,
              items: 1,
              nav: true,
              dot: true,
              navText: [
                '<img class="img-responsive" src="images/CommonItems/arrow-left-background.svg" alt="prev"/>',
                '<img class="img-responsive" src="images/CommonItems/arrow-right-background.svg" alt="prev"/>',
              ]
            })
            .on('changed.owl.carousel', function (event) {
              _this.onSelectProfile(event.item.index);

            });
        });
    },
    methods: {
      onSelectProfile(index) {
        this.selectedProfile = this.profiles[index]
      },
      encode (data) {
        return Object.keys(data)
          .map(
            key => `${encodeURIComponent(key)}=${encodeURIComponent(data[key])}`
          )
          .join("&");
      },
      handleSubmit () {
        const axiosConfig = {
          header: { "Content-Type": "application/x-www-form-urlencoded" }
        };
        axios.post(
          "/team",
          this.encode({
            "form-name": "contact-maoneng",
            ...this.form
          }),
          axiosConfig
        )
        .then(() => {
          window.location.href = 'submission-success'
        })
        .catch(() => {
          window.location.href = 'submission-fail'
        });
      }
    }
  };
</script>
