<template>
  <footer class="footer">
    <!-- Links -->
    <div class="g-hor-divider__dashed--white-opacity-lightest">
      <div class="container">
        <!-- for desktop -->
        <div class="row hidden-xs">
          <div class="col-md-6">
            <ul class="bd-footer-links">
              <li><a href="/disclaimers">Disclaimers</a></li>
              <li><a href="/">Home</a></li>
              <li><a href="/news">News</a></li>
              <li><a href="/careers">Careers</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="footer-social-links text-center">
              <!--<li>
                <a class="" href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>-->
              <li>
                <a class="" target="_blank" href="https://www.linkedin.com/company/maoneng-group/about/">
                  <i class="fab fa-linkedin"></i>
                </a>
              </li>
              <li>
                <a class="" target="_blank" href="https://www.youtube.com/channel/UCgfWEbNGL-R6Vo_zDcMIJbQ">
                  <i class="fab fa-youtube"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <div class="copyright">
              © Maoneng Group 2019
            </div>
          </div>
        </div>

        <!-- for mobile -->
        <div class="row visible-xs">
          <div class="col-md-12">
            <ul class="footer-social-links text-center">
              <!--<li>
                <a class="" href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>-->
              <li>
                <a class="" target="_blank" href="https://www.linkedin.com/company/maoneng-group/about/">
                  <i class="fab fa-linkedin"></i>
                </a>
              </li>
              <li>
                <a class="" target="_blank" href="https://www.youtube.com/channel/UCgfWEbNGL-R6Vo_zDcMIJbQ">
                  <i class="fab fa-youtube"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-12 m-t-40">
            <ul class="footer-links text-center">
              <li><a href="/disclaimers">Disclaimers</a></li>
              <li><a href="/">Home</a></li>
              <li><a href="/news">News</a></li>
              <li><a href="/careers">Careers</a></li>
            </ul>
          </div>
          <div class="col-md-12 m-t-50">
            <div class="copyright">
              © Maoneng Group 2019
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Links -->
  </footer>
</template>

<script>
  import messages from "../assets/translations/home";

  export default {
    components: {},

    i18n: {
      messages
    }
  };
</script>

<style>

</style>
