<template>
  <header id="headerMenu" class="navbar-fixed-top s-header js__header-sticky js__header-overlay">
    <!-- Navbar -->
    <div class="s-header__navbar">
      <div class="s-header__container">
        <div class="s-header__navbar-row">
          <div class="s-header__navbar-row-col">
            <!-- Logo -->
            <div class="s-header__logo">
              <a href="/" class="s-header__logo-link">
                <img v-if="this.menuWhiteTheme" class="s-header__logo-img s-header__logo-img-default"
                     src="~assets/images/CommonItems/MaonengLogoLight.svg">
                <img v-else class="s-header__logo-img s-header__logo-img-default" src="~assets/images/CommonItems/MaonengLogoDark.svg">
                <img class="s-header__logo-img s-header__logo-img-shrink" src="~assets/images/CommonItems/MaonengLogoDark.svg">
              </a>
            </div>
            <!-- End Logo -->
          </div>

          <div class="s-header__navbar-row-col">
            <div v-for="(transObject, index) in this.translationList" :key="`trans-${index}`">
              <button :class="{ 'btn-translate--black': !menuWhiteTheme, 'display-none': transObject.value !== currentTranslationSelected }"
                class="btn btn-outline-white btn-translate"
                @click="setTranslationValueByIndex(index)"
                >
                  <i class="fas fa-circle btn-translate--icon"></i> {{ transObject.title }}
              </button>
            </div>
          </div>

          <div class="s-header__navbar-row-col">
            <!-- Trigger -->
            <a id="headerTrigger" v-if="this.menuWhiteTheme" href="javascript:void(0);" class="s-header__trigger" v-on:click="openMenuBar()">
              <span class="s-header__trigger-icon"></span>
            </a>
            <a id="headerTrigger" v-else href="javascript:void(0);" class="s-header__trigger s-header__trigger-black" v-on:click="openMenuBar()">
              <span class="s-header__trigger-icon"></span>
            </a>
            <!-- End Trigger -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Navbar -->

    <!-- Overlay -->
    <div id="menuOverlay" class="s-header-bg-overlay js__bg-overlay">
      <!-- Nav -->
      <nav class="s-header__nav js__scrollbar">
        <div class="container-fluid div-content-menu">
          <div class="row">
            <div class="col-md-12 div-content-menu-header">
              <a href="/">
                <img src="~assets/images/CommonItems/MaonengLogoDark.svg">
              </a>
              <a class="btn-close-menu" v-on:click="closeMenuBar()">
                <i class="fas fa-times"></i>
              </a>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4 hidden-xs hidden-sm hidden-md">
              <div class="card">
                <div class="card-body">
                  <p class="card-text">
                  {{ $t('map.details.first') }}
                  <br/>
                  {{ $t('map.details.second') }}</p>
                  <p class="card-text">
                  {{ $t('map.details.third') }}
                  <br/>
                  {{ $t('map.details.fourth') }}
                  </p>
                  <!--<a href="#" class="card-link">GET DIRECTIONS</a>-->
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="main-menu-nav">
                <h6 class="title">{{$t('menu.title')}}</h6>
                <ul class="list-unstyled s-header__nav-menu">
                  <li class="s-header__nav-menu-item">
                    <a class="s-header__nav-menu-link s-header__nav-menu-link-divider -is-active" href="/">
                      {{$t('menu.home')}}
                    </a>
                  </li>
                  <li class="s-header__nav-menu-item">
                    <!-- <a class="s-header__nav-menu-link s-header__nav-menu-link-divider"
                       href="/projects">
                       Projects
                    </a> -->

                    <a class="s-header__nav-menu-link s-header__nav-menu-link-divider"
                       data-toggle="collapse" href="#collapse1">
                       {{$t('menu.projects')}}
                    </a>

                    <div id="collapse1" class="panel-collapse collapse">
                      <ul class="list-group">
                        <li class="list-group-item">
                          <a class="s-header__nav-menu-link" href="/projects/mugga-lane">Mugga Lane</a>
                        </li>
                        <li class="list-group-item">
                          <a class="s-header__nav-menu-link" href="/projects/sunraysia">Sunraysia</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="s-header__nav-menu-item">
                    <a class="s-header__nav-menu-link s-header__nav-menu-link-divider"
                       href="/team">
                       {{$t('menu.team')}}
                    </a>
                  </li>
                  <li class="s-header__nav-menu-item">
                    <a class="s-header__nav-menu-link s-header__nav-menu-link-divider"
                       href="/news">
                       {{$t('menu.news')}}
                       </a>
                  </li>
                  <li class="s-header__nav-menu-item">
                    <a class="s-header__nav-menu-link s-header__nav-menu-link-divider"
                       href="/careers">{{$t('menu.careers')}}</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-5 col-md-6">
              <div class="contact-form">
                <h6 class="title">{{$t('form.title')}}</h6>
                <form name="contact-maoneng" method="POST" netlify-honeypot="spam-field" class="center-block" @submit.prevent="handleSubmit">
                  <input type="hidden" name="spam-field" value="contact-maoneng" />
                  <div class="g-margin-b-15--xs">
                    <input type="text" name="name" class="form-control s-form-v3__input" :placeholder="$t('form.name')" v-model="form.name" required :oninvalid="`this.setCustomValidity(${$t('form.requiredFieldMessage')})`" oninput="this.setCustomValidity('')">
                  </div>
                  <div class="g-margin-b-15--xs">
                    <input type="number" name="number" class="form-control s-form-v3__input" :placeholder="$t('form.number')" v-model="form.number" required :oninvalid="`this.setCustomValidity(${$t('form.requiredFieldMessage')})`" oninput="this.setCustomValidity('')">
                  </div>
                  <div class="g-margin-b-15--xs">
                    <input type="email" name="email" class="form-control s-form-v3__input" :placeholder="$t('form.email')" v-model="form.email" required :oninvalid="`this.setCustomValidity(${$t('form.requiredFieldMessage')})`" oninput="this.setCustomValidity('')">
                  </div>
                  <div class="g-margin-b-15--xs">
                    <input type="text" name="subject" class="form-control s-form-v3__input" :placeholder="$t('form.enquiry')" v-model="form.subject">
                  </div>
                  <div class="g-margin-b-80--xs">
                    <textarea name="message" class="form-control s-form-v3__input" rows="5" :placeholder="$t('form.message')" v-model="form.message"></textarea>
                  </div>
                  <div class="">
                    <button type="submit" class="btn btn-gray-outline">{{$t('form.submit')}}</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid visible-xs visible-sm visible-md div-info">
          <div class="card">
            <div class="card-body text-center">
              <p class="card-text">
              {{$t('map.details.first')}}
              <br/>
              {{$t('map.details.second')}}</p>
              <p class="card-text">
                <a href="tel:+61291998599">{{$t('map.details.third')}}</a>
                <br/>
                <a href="mailto:corporate@maoneng.co">{{$t('map.details.fourth')}}</a>
              </p>

            </div>
          </div>
          <div class="m-t-40 text-center">
            <!--<a href="#" class="btn btn-link btn-blue-outline mn-w-230">GET DIRECTIONS</a>-->
          </div>
        </div>
      </nav>
      <!-- End Nav -->

    </div>
    <!-- End Overlay -->
  </header>
</template>

<script>
  import messages from "~/assets/translations/header";
  import {mapState} from 'vuex'
  import axios from "axios";

  export default {
    components: {},
    data() {
      return {
        isOpenMenu: false,
        form: {
          name: undefined,
          number: undefined,
          email: undefined,
          subject: undefined,
          message: undefined
        }
      }
    },

    computed: {
      ...mapState({
        menuWhiteTheme: state => state.menuWhiteTheme
      })
    },

    i18n: {
      messages
    },

    beforeMount () {
      this.processRoute()
    },

    created () {

    },

    methods: {
      encode (data) {
        return Object.keys(data)
          .map(
            key => `${encodeURIComponent(key)}=${encodeURIComponent(data[key])}`
          )
          .join("&");
      },
      handleSubmit () {
        const axiosConfig = {
          header: { "Content-Type": "application/x-www-form-urlencoded" }
        };
        axios.post(
          "/",
          this.encode({
            "form-name": "contact-maoneng",
            ...this.form
          }),
          axiosConfig
        )
        .then(() => {
          window.location.href = 'submission-success'
          // this.closeMenuBar()
        })
        .catch(() => {
          window.location.href = 'submission-fail'
          // this.closeMenuBar()
        });
      },
      closeMenuBar () {
        if (process.client) {
          var overlayMenu = document.getElementById('menuOverlay')
          overlayMenu.classList.remove('-is-open')

          var headerMenuElement = document.getElementById('headerMenu')
          headerMenuElement.classList.remove('-is-open')

          var headerTrigger = document.getElementById('headerTrigger')
          headerTrigger.classList.remove('-is-active')
        }
      },
      openMenuBar () {
        if (process.client) {
          console.log('testststst')
          var overlayMenu = document.getElementById('menuOverlay')
          overlayMenu.classList.add('-is-open')

          var headerMenuElement = document.getElementById('headerMenu')
          headerMenuElement.classList.add('-is-open')

          var headerTrigger = document.getElementById('headerTrigger')
          headerTrigger.classList.add('-is-active')
        }

      }
    }
  };
</script>
