<template>
  <div class="pProjectsMobile">
    <section class="section section-index" :style="'min-height: ' + height + 'px'">
      <h3 class="section-heading text-uppercase">{{ $t('heading.pageName')}}</h3>
      <div class="section-description">
        <span class="text-highlight">{{ currentProject.header.title.first }}</span> {{ currentProject.header.title.second }} {{ currentProject.header.title.third }}
      </div>
    </section>

    <section class="section section-project">
      <div class="section-description">
        <div class="project">
          <div class="project-info">
            <h4 class="project-title">
              {{ currentProject.statisticOne.caption }}
            </h4>
            <div class="project-intro">
              {{ currentProject.statisticOne.details }}
            </div>
          </div>
          <div class="project-info m-t-50">
            <h4 class="project-title">
              {{ currentProject.statisticTwo.caption }}
            </h4>
            <div class="project-intro">
              {{ currentProject.statisticTwo.details }}
            </div>
          </div>
          <div class="project-content m-t-40">
            <p v-for="(content, index) in currentProject.content" :key="`projectContent-${index}`">{{ content }}</p>
          </div>
          <div class="project-links">
            <a :href="currentProject.websiteUrl" target="blank" class="btn btn-gray-outline text-uppercase mn-w-230">{{$t('button.visitWebsiteBtn')}}</a>
          </div>
        </div>
      </div>
    </section>

    <div class="section section-projects p-none" :style="'min-height: ' + width + 'px'">
      <div id="carousel-project" class="owl-carousel owl-theme" style="display: block;">
        <div v-for="(galleryImage, index) in currentProject.gallery" :key="`galleryImage-${index}`" class="item project-item">
          <div class="project-image" :style="'height: ' + width + 'px'">
            <img class="img-responsive" :src="galleryImage" :alt="currentProject.header.title.first"/>
          </div>
        </div>

      </div>
    </div>

    <c-project-map-component :mapContent="currentProject.mapContent" ></c-project-map-component>

  </div>
</template>

<script>
  import messages from "../../../assets/translations/projects";
  import cProjectMapComponent from '~/components/cMapComponent/cProjectMapComponent'

  export default {
    name: 'cProjectsMobile',

    components: {
      cProjectMapComponent
    },
    
    i18n: {
      messages
    },
    
    props: {
      projectName: {
        type: String,
      },
      currentProject: {

      }
    },

    data() {
      return {
        height: null,
        width: null,
        projectCarousel: undefined
      }
    },
    
    mounted() {

      $(document)
        .ready(() => {
          this.height = $(window).height();
          this.width = $(window).width();

          $(window).bind('load resize', () => {
            this.height = $(window).height();
            this.width = $(window).width();
          });

          this.projectCarousel = $('#carousel-project');
          this.projectCarousel
            .owlCarousel({
              items: 1,
              nav: true,
              dot: true,
              navText: [
                '<img class="img-responsive" src="/images/CommonItems/arrow-left-background.svg" alt="prev"/>',
                '<img class="img-responsive" src="/images/CommonItems/arrow-right-background.svg" alt="prev"/>',
              ]
            });
        });
    },
    
    methods: {
      onLoad() {
        console.log('onLoad');
        this.projectCarousel = $('#carousel-project');
        this.projectCarousel.owlCarousel({
          items: 1,
          nav: true,
          dot: true,
          navText: [
            '<img class="img-responsive" src="/images/CommonItems/arrow-left-background.svg" alt="prev"/>',
            '<img class="img-responsive" src="/images/CommonItems/arrow-right-background.svg" alt="prev"/>',
          ]
        });
      }
    }
  }
</script>