<template>
    <div class="pDisclaimers">
        <section class="div-first">
          <div class="container g-position--overlay g-text-center--xs">
            <div class="">
              <div class="title-list">
                <h1 class="g-font-size-50--sm g-font-size-60--md">{{$t('heading.title')}}</h1>
                <h2>{{$t('heading.author')}}</h2>
              </div>
            </div>
          </div>
        </section>

        <div id="js__scroll-to-section" class="div-second">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="news-content">
                  <div v-for="(content, index) in $t('contents')" :key="`content-${index}`">
                    <p v-if="index !== 0">
                      {{ content }}
                    </p>
                    <p v-else>
                      <span class="highlight">{{ content.highlight }}</span>
                      {{ content.content }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</template>

<script>
    import {
        mapState,
        mapActions
    } from "vuex";
    import messages from "~/assets/translations/disclaimers";

    export default {
        name: 'cDisclaimerDesktop',

        i18n: {
            messages
        }
    }
</script>