<template>
  <div class="pNews">
    <section class="div-first">
      <img class="header-overlay" src="~/assets/images/CommonItems/header-overlay.png"/>

      <div class="container g-position--overlay g-text-center--xs">
        <div class="g-padding-y-50--xs g-margin-t-100--xs title-content">
          <div class="title-list">
            <p>NEWS</p>
            <h1 class="g-font-size-36--xs g-font-size-50--sm g-font-size-60--md"><span class="tc-white">{{$t('heading.title.first.white')}} </span>{{$t('heading.title.first.blue')}}
            </h1>
          </div>
        </div>
        <div class="row g-margin-b-40--xs">
          <div class="col-md-12 categories">
            <span
                class="g-display-block--xs g-display-inline-block--sm g-margin-b-10--xs g-margin-b-0--sm category"
                v-for="(item, index) in categories" :key="`category-${index}`">
              <!-- <a class="category-item" :class="item.value === categorySelected.value ? 'active' : ''"
                 @click="filterBlogsByCategoryTitle(item)">{{item.name}}</a> -->
              <a class="category-item" :class="item.value === categorySelected.value ? 'active' : ''" :href="'/news?category=' + item.value" v-if="item.value !== ''">{{item.name}}</a>
              <a class="category-item" :class="item.value === categorySelected.value ? 'active' : ''" href="/news" v-else>{{item.name}}</a>
            </span>
          </div>
        </div>

      </div>
    </section>

    <div id="js__scroll-to-section" class="div-second">
      <div class="container">
        <div class="row">
          <div v-for="(item, index) in blogsFilter" :key="`blog-${index}`">
            <div class="col-md-12" v-if="index === 0">
              <div class="item-first card card-first position-relative"
                  :style="{ 'background-image': 'url(' + item.thumbnail + ')'}"
                  style="background-repeat: no-repeat; background-position: center, center; background-size: cover;">

                  <!-- <p class="position-relative">{{ [ item.date, "dddd MMMM Do, YYYY" ] | moment("M.YYYY") }}</p>
                  <a :href="item._path"><h3 class="position-relative" :href="item._path">{{ item.title }}</h3></a> -->

                  <div class="card-body">
                    <p class="card-body__date position-relative">{{ [ item.date, "dddd MMMM Do, YYYY" ] | moment("M.YYYY") }}</p>

                    <div class="card-body__info">
                      <a :href="item._path" class="card-body__title">{{ item.title }}</a>
                      <div class="card-body__info__expanded-component">
                        <p class="card-body__details">
                          {{ item.shortBody }}
                        </p>
                        <a :href="item._path" class="card-body__icon"/>
                      </div>

                    </div>
                  </div>

              </div>
            </div>
            <div class="col-md-4" v-if="index === 1 || index === 2 || index === 3">
              <div class="item-second card card-second position-relative"
                  :style="{ 'background-image': 'url(' + item.thumbnail + ')'}"
                  style="background-repeat: no-repeat; background-position: center, center; background-size: cover;">

                  <!-- <p class="position-relative">{{ [ item.date, "dddd MMMM Do, YYYY" ] | moment("M.YYYY")
                    }}</p>
                  <a :href="item._path"><h3 class="position-relative" :href="item._path">{{ item.title }}</h3></a> -->

                  <div class="card-body">
                    <p class="card-body__date position-relative">{{ [ item.date, "dddd MMMM Do, YYYY" ] | moment("M.YYYY") }}</p>

                    <div class="card-body__info">
                      <a :href="item._path" class="card-body__title card-body__title">{{ item.title }}</a>
                      <div class="card-body__info__expanded-component">
                        <p class="card-body__details">
                          {{ item.shortBody }}
                        </p>
                        <a :href="item._path" class="card-body__icon"/>
                      </div>

                    </div>
                  </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="div-third">
      <div class="container">
        <div class="row">

          <div v-for="(item, index) in blogsFilter" :key="`blog-${index}`">
            <div class="col-md-6" v-if="index !== 0 && index !== 1 && index !== 2 && index !== 3">
              <div class="card">
                <div class="card-body">
                  <a :href="item._path"><h4 class="card-title">{{item.title}}</h4></a>
                  <p class="card-date">
                    {{ [ item.date, "dddd MMMM Do, YYYY" ] | moment("M.YYYY") }}
                  </p>
                  <p class="card-text">
                    {{ item.shortBody }}
                  </p>
                  <a class="card-link" :href="item._path"><i class="fas fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";
  import messages from "~/assets/translations/news";

  export default {
    name: "cNewsIndexDesktop",
    components: {},
    i18n: {
      messages
    },
    // props: {
    //   routeQuery: {}
    // },
    data() {
      return {
        categorySelected: {
          name: 'All',
          value: ''
        },
        categories: [{
          name: 'All',
          value: ''
        }],
        blogs: [],
        blogsFilter: []
      };
    },

    computed: {
      ...mapState({
        allCategories: state => state.allCategories,
        allBlogs: state => state.allBlogs,
        // Make some test
        // blogsFilter: state => state.blogsFilter,
        // categorySelected: state => state.categorySelected
      }),
    },

    created () {
      // console.log(this.$route.query.category, 'this.$route.query categorySelected')
      let category = this.$route.query.category
      for (let index = 0; index < this.allCategories.length; index++) {
        const element = this.allCategories[index];
        this.categories.push({
          name: element.title,
          value: element.title
        })
      }

      this.processCategorySelected(category)

      this.filterBlogsByCategoryTitle(this.categorySelected);

      this.blogs = this.blogsFilter.slice(0, 4);
    },

    methods: {
      processCategorySelected (categoryValue) {
        let categories = this.categories
        if (categoryValue === undefined) {
          categoryValue = ''
        }
        let category = categories.find(function (obj) {
          return obj.value === categoryValue
        })
        if (category !== undefined) {
          this.categorySelected = category
        }
      },
      filterBlogsByCategoryTitle(category) {
        var posts = this.allBlogs;
        this.blogsFilter = posts.filter(function (obj) {
          return category.value === '' ? true : obj.category == category.value
        });

        this.categorySelected = category;
      }
    }
  };
</script>
