<template>
  <div class="pNewsMobile">

    <section class="section section-index" :style="'min-height: ' + height + 'px'">
      <h4 class="section-heading text-uppercase m-t-70">News</h4>
      <div class="section-description">Latest <span class="text-highlight">News</span></div>

      <div class="div-category m-t-70">
        <!-- <button class="btn btn-white"
                :class="{active: item.value === categorySelected.value}"
                v-for="(item, index) in categories" :key="`category-${index}`"
                @click="filterBlogsByCategoryTitle(item)"> -->
        <span class="category-btn" v-for="(item, index) in categories" :key="`category-${index}`">
          <a class="btn btn-white"
                  :class="{active: item.value === categorySelected.value}"
                  :href="'/news?category=' + item.value" v-if="item.value !== ''">
              {{item.name}}
          </a>
          <a class="btn btn-white"
                  :class="{active: item.value === categorySelected.value}"
                  href="/news" v-else>
              {{item.name}}
          </a>
        </span>

      </div>
    </section>

    <div class="section section-news-list">

      <div class="row">
        <div class="col-xs-12"
             :class="{'m-t-20': index > 0}"
             v-for="(blog, index) in blogs"
             :key="`news-${index}`">
          <div class="news-item"
               :class="{'first-item': index == 0}"
               :style="{ 'background-image': 'url(' + blog.thumbnail + ')'}">
            <a :href="blog._path">
              <div class="news-date">
                {{ [ blog.date, "dddd MMMM Do, YYYY" ] | moment("M.YYYY") }}
              </div>
              <div class="news-info">
                <h3 class="news-title">{{ blog.title }}</h3>

                <div class="news-description" v-if="index == 0">
                  {{ blog.shortBody }}
                </div>
                <div class="news-links m-t-20" v-if="index == 0">
                  <a :href="blog._path">
                    <!--<img class="img-responsive" src="/images/icon-arrow-right-white.png" alt="icon"/>-->
                  </a>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="section section-news-filter">
      <div class="row">
        <div v-for="(blog, index) in blogsFilter" :key="`blog-${index}`">
          <div class="col-xs-12"
              :class="{'m-t-60': index > 0}"
              v-if="index !== 0 && index !== 1 && index !== 2 && index !== 3">
            <div class="news-item">
              <h4 class="news-title">{{blog.title}}</h4>
              <p class="news-date">
                {{ [ blog.date, "dddd MMMM Do, YYYY" ] | moment("M.YYYY") }}
              </p>
              <div class="news-description">
                {{ blog.shortBody }}
              </div>
              <div class="news-links m-t-20">
                <a class="" :href="blog._path"></a>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-xs-12"
             :class="{'m-t-60': index > 0}">
          <div class="news-item">
            <h4 class="news-title">{{blog.title}}</h4>
            <p class="news-date">
              {{ [ blog.date, "dddd MMMM Do, YYYY" ] | moment("M.YYYY") }}
            </p>
            <div class="news-description">
              {{ blog.shortBody }}
            </div>
            <div class="news-links m-t-20">
              <a class="" :href="blog._path"></a>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";

  import messages from "~/assets/translations/news";

  export default {
    name: "cNewsIndexMobile",
    components: {},
    i18n: {
      messages
    },
    // props: {
    //   routeQuery: {}
    // },
    data() {
      return {
        height: null,
        width: null,
        categorySelected: {
          name: 'All',
          value: ''
        },
        categories: [{
          name: 'All',
          value: ''
        }],
        blogs: [],
        blogsFilter: []
      };
    },

    computed: {
      ...mapState({
        allCategories: state => state.allCategories,
        allBlogs: state => state.allBlogs,
        // Make some test
        // blogsFilter: state => state.blogsFilter,
        // categorySelected: state => state.categorySelected
      }),
    },

    created() {
      // let category = this.routeQuery.category
      let category = this.$route.query.category
      for (let index = 0; index < this.allCategories.length; index++) {
        const element = this.allCategories[index];
        this.categories.push({
          name: element.title,
          value: element.title
        })
      }

      this.processCategorySelected(category)

      this.filterBlogsByCategoryTitle(this.categorySelected);

      this.blogs = this.blogsFilter.slice(0, 4);
    },

    mounted() {
      $(document)
        .ready(() => {
          this.height = $(window).height();
          this.width = $(window).width();

          $(window).bind('load resize', () => {
            this.height = $(window).height();
            this.width = $(window).width();
          });
        });
    },

    methods: {
      processCategorySelected (categoryValue) {
        let categories = this.categories
        if (categoryValue === undefined) {
          categoryValue = ''
        }
        let category = categories.find(function (obj) {
          return obj.value === categoryValue
        })
        if (category !== undefined) {
          this.categorySelected = category
        }
      },
      filterBlogsByCategoryTitle(category) {
        var posts = this.allBlogs;
        this.blogsFilter = posts.filter(function (obj) {
          return category.value === '' ? true : obj.category == category.value
        });

        this.categorySelected = category;
      }
    }
  };
</script>
