<template>

  <div class="">
    <div class="hidden-xs">
      <c-careers-desktop/>
    </div>
    <div class="hidden-sm hidden-md hidden-lg">
      <c-careers-mobile/>
    </div>
  </div>
</template>

<script>
  import messages from "~/assets/translations/careers";
  import cCareersDesktop from "~/components/careers/desktop/cCareersDesktop";
  import cCareersMobile from "~/components/careers/mobile/cCareersMobile";

  export default {
    components: {
      cCareersDesktop,
      cCareersMobile
    },

    i18n: {
      messages
    },
    head () {
      return {
        title: this.$t('head.title'),
        meta: this.$t('head.meta')
      }
    }
  };
</script>
