<template>
  <div class="">
    <div class="hidden-sm hidden-md hidden-lg">
      <c-disclaimers-mobile></c-disclaimers-mobile>
    </div>
    <div class="hidden-xs">
      <c-disclaimers-desktop></c-disclaimers-desktop>
    </div>
  </div>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";
  import messages from "~/assets/translations/disclaimers";

  import cDisclaimersDesktop from "~/components/disclaimers/desktop/cDisclaimersDesktop"
  import cDisclaimersMobile from '~/components/disclaimers/mobile/cDisclaimersMobile'

  export default {
    components: {
      cDisclaimersDesktop,
      cDisclaimersMobile
    },
    
    i18n: {
      messages
    },

    async asyncData({ params, app, payload, route, store }) {
      // Config menuWhite or menuDark
      store.commit('SET_MENU_WHITE_THEME', false);

      let result = {};

      return result;
    }
  };
</script>
