<template>
  <div class="">
    <div class="hidden-sm hidden-md hidden-lg">
      <c-index-mobile/>
    </div>
    <div class="hidden-xs">
      <c-index-desktop/>
    </div>
  </div>
</template>

<script>
  import messages from "../assets/translations/home";
  import cIndexDesktop from "../components/index/desktop/cIndexDesktop.vue"
  import CIndexMobile from "../components/index/mobile/cIndexMobile";

  export default {
    components: {
      CIndexMobile,
      cIndexDesktop,
    },
    i18n: {
      messages
    },
    created () {
      
    },
    head () {
      return {
        title: this.$t('head.title'),
        meta: this.$t('head.meta')
      }
    }
  };
</script>
