<template>
  <div class="">
    <div class="hidden-sm hidden-md hidden-lg">
      <c-team-mobile/>
    </div>
    <div class="hidden-xs">
      <c-team-desktop/>
    </div>
  </div>
</template>

<script>
  import messages from "~/assets/translations/team";
  import CTeamMobile from "../components/team/mobile/cTeamMobile";
  import CTeamDesktop from "../components/team/desktop/cTeamDesktop";

  export default {
    components: {
      CTeamDesktop,
      CTeamMobile
    },
    i18n: {
      messages
    },
    head () {
      return {
        title: this.$t('head.title'),
        meta: this.$t('head.meta')
      }
    }
  };
</script>
