<template>
    <section class="cNewsListComponent" :style="{ 'background-color': backgroundColor }">
        <div class="container container-content">
            <div class="div-header row">
            <div class="col-sm-5 g-hor-centered-row__col">
                <p class="text-uppercase title-header">{{ news.title.first }}</p>
                <h2 class="title-caption">{{ news.title.second }}</h2>
                <p class="title-details">{{ news.title.third }}</p>
            </div>
            </div>

            <div class="div-content articles-card-list row">
                <div v-for="(blog, index) in blogsList" :key="`blog-${index}`" class="col-md-4">
                    <div class="card"
                        :style="{ 'background-image': 'url(' + blog.thumbnail + ')' }"
                        style="background-repeat: no-repeat; background-position: center center; background-size: cover; position: relative;">
                        <div class="card-body">
                            <p class="card-body__date position-relative">{{ [ blog.date, "dddd MMMM Do, YYYY" ] | moment("M.YYYY") }}</p>

                            <div class="card-body__info">
                                <a :href="blog._path" class="card-body__title card-body__title">{{ blog.title }}</a>
                                <div class="card-body__info__expanded-component">
                                    <p class="card-body__details">
                                    {{ blog.shortBody }}
                                    </p>
                                    <a :href="blog._path" class="card-body__icon"/>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="div-more-news row">
                    <div class="col-md-8"></div>
                    <div class="col-md-4">
                        <a href="/news" class="btn btn-gray-outline" role="button">{{ button.morenews }}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: 'cNewsListComponent',
        props: {
            button: {},
            news: {},
            allBlogsList: {
                type: Array,
            },
            blogBeginNumber: {
                type: Number,
                require: false
            },
            blogsNumber: {
                type: Number,
                require: false
            },
            backgroundColor: {
                type: String,
                require: false,
                default: '#FFFFFF'
            }
        },

        data () {
            return {
                blogsList: []
            }
        },

        computed: {
            allBlogPosts() {
                return this.$store.state.allBlogs
            }
        },

        mounted () {
            this.sliceBlogList()
        },

        methods: {
            sliceBlogList () {
                this.blogsList = this.allBlogsList.slice(this.blogBeginNumber, this.blogsNumber);
            }
        }
    }
</script>