<template>
  <div class="pCareersMobile">
    <section class="section section-index" :style="'min-height: ' + height + 'px'">
      <h3 class="section-heading text-uppercase">{{$t('heading.title.caps')}}</h3>
      <div class="section-description">
        <span class="text-highlight">{{$t('heading.title.first')}}</span> {{$t('heading.title.second')}} <span class="text-highlight">{{$t('heading.title.third')}}</span>
      </div>
    </section>

    <section class="section section-intro">
      <h3 class="section-heading">{{ $t('jobs.head.title') }}</h3>
      <div class="section-description">
        {{ $t('jobs.head.description') }}
      </div>
    </section>

    <section class="section section-job" v-if="!!isShow">
      <h3 class="section-heading">
        {{ currentJob.title }}
        <button class="btn btn-gray-outline" v-on:click="onClose()">
          <i class="fas fa-times"></i>
        </button>
      </h3>
      <div class="section-description">
        <p>{{ currentJob.role}}</p>

        <!--<p class="highlight">Responsibilities</p>
        <ul class="list-unstyled">
          <li v-for="(responsibility, index) in currentJob.responsibilities" :key="`responsibility-${index}`">
            {{ responsibility }}
          </li>
        </ul>
        <p>{{ currentJob.responsibilitiesDescription }}</p>

        <p class="highlight">Requirements</p>
        <ul class="list-unstyled">
          <li v-for="(requirement, index) in currentJob.requirements" :key="`requirements-${index}`">
            {{ requirement }}
          </li>
        </ul>-->
        <a class="btn btn-gray-outline" :href="currentJob.websiteUrl" target="blank">APPLY ON SEEK</a>
      </div>
    </section>

    <section class="section section-career" v-if="!isShow">
      <div class="section-description">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#sydney"
               class="text-uppercase"
               aria-controls="sydney" role="tab"
               data-toggle="tab">Sydney</a>
          </li>
          <!--<li role="presentation">
            <a href="#singapore"
               class="text-uppercase"
               aria-controls="singapore"
               role="tab"
               data-toggle="tab">Singapore</a>
          </li>-->

        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="sydney">
            <ul class="list-unstyled">
              <li v-for="(job, index) in $t('jobs.sydney')" :key="`sydney-${index}`">
                <a class="" v-on:click="onSelectJob(job)">
                  {{ job.title }}
                </a>
              </li>
            </ul>
          </div>
          <div role="tabpanel" class="tab-pane" id="singapore">
            <ul class="list-unstyled">
              <li v-for="(job, index) in $t('jobs.singapore')" :key="`singapore-${index}`">
                <a class="" v-on:click="onSelectJob(job)">
                  {{ job.title }}
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </section>

    <section class="section section-news" :style="isShow ? 'display: none' : ''">
      <h4 class="section-heading text-uppercase">{{$t('news.title.first')}}</h4>
      <div class="section-description">
        <h1>{{$t('news.title.second')}}</h1>
        <p>{{$t('news.title.third')}}</p>

        <div class="news-carousel">
          <div id="carousel-news" class="owl-carousel owl-theme">
            <div class="item news-item"
                 :style="{ background: 'url(' + blog.thumbnail + ')' }"
                 v-for="(blog, index) of blogs"
                 :key="`blog-${index}`">
              <div class="news-time">{{ [ blog.date, "dddd MMMM Do, YYYY" ] | moment("M.YYYY") }}</div>
              <div class="news-info">
                <h1 class="news-title">{{ blog.title }}</h1>
                <div class="news-link">
                  <a :href="blog._path"></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="m-t-40">
          <a class="btn btn-link btn-gray-outline mn-w-230" href="/news">MORE NEWS</a>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  import messages from "~/assets/translations/careers";

  export default {
    name: 'cCareersMobile',

    components: {},

    i18n: {
      messages
    },

    data() {
      return {
        isShow: false,
        width: null,
        height: null,
        newsCarousel: undefined,
        blogs: [],
        currentJob: this.$t('jobs.sydney[0]'),
      }
    },

    computed: {
      allBlogPosts() {
        return this.$store.state.allBlogs
      }
    },

    created() {
      this.blogs = this.allBlogPosts.slice(0, 3);
    },

    mounted() {
      $(document)
        .ready(() => {
          this.width = $(window).width();
          this.height = $(window).height();

          $(window).bind('load resize', () => {
            this.width = $(window).width();
            this.height = $(window).height();
          });

          // news carousel
          this.newsCarousel = $('#carousel-news');
          this.newsCarousel.owlCarousel({
            autoWidth: true,
            margin: 15
          });
        })
    },

    methods: {
      onClose() {
        this.isShow = false;
      },
      onSelectJob(job) {
        // get data of job
        this.isShow = true;

        this.currentJob = job
      }
    }
  };
</script>
