<template>
  <div class="">
    <div class="hidden-sm hidden-md hidden-lg">
      <c-news-detail-mobile :slug="slug"/>
    </div>
    <div class="hidden-xs">
      <c-news-detail-desktop :slug="slug"/>
    </div>
  </div>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";
  import messages from "~/assets/translations/careers";
  import cNewsDetailDesktop from '~/components/news/detail/desktop/cNewsDetailDesktop';
  import CNewsDetailMobile from "~/components/news/detail/mobile/cNewsDetailMobile";

  export default {
    components: {
      CNewsDetailMobile,
      cNewsDetailDesktop
    },
    i18n: {
      messages
    },
    async asyncData({params, app, payload, route, store}) {
      // Config menuWhite or menuDark
      store.commit('SET_MENU_WHITE_THEME', false)

      let result = {
        slug: params.slug
      };

      return result;
    },
    data() {
      return {
        blogCurrent: {},
        blogBack: {},
        blogNext: {}
      };
    },

    computed: {
      ...mapState({
        allBlogs: state => state.allBlogs,
      }),
    },

    // created() {
    //   for (let index = 0; index < this.allBlogs.length; index++) {
    //     const element = this.allBlogs[index];

    //     if (element._path.includes(this.slug)) {
    //       this.blogCurrent = element;

    //       // min index = 0
    //       if (index > 0) {
    //         this.blogBack = this.allBlogs[index - 1]
    //       }

    //       // mac index = lenght - 1
    //       if (index < this.allBlogs.length - 1) {
    //         this.blogNext = this.allBlogs[index + 1]
    //       }

    //       break;
    //     }
    //   }
    // }
  };
</script>
