<template>
  <div class="">
    <div class="visible-xs">
      <c-news-index-mobile/>
    </div>
    <div class="hidden-xs">
      <c-news-index-desktop/>
    </div>
  </div>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";
  import messages from "../../assets/translations/news";
  import cNewsIndexDesktop from "../../components/news/desktop/cNewsIndexDesktop.vue"
  import CNewsIndexMobile from "../../components/news/mobile/cNewsIndexMobile";

  export default {
    components: {
      CNewsIndexMobile,
      cNewsIndexDesktop
    },
    i18n: {
      messages
    },
    async asyncData({params, app, payload, route, store}) {
      // Config menuWhite or menuDark
      store.commit('SET_MENU_WHITE_THEME', false);

      // Old style blog filter
      // let queryParam = route.query

      let result = {
        // queryParam: queryParam
      };

      return result;
    },
    head () {
      return {
        title: this.$t('head.title'),
        meta: this.$t('head.meta')
      }
    }
  };
</script>
