a {
  color: $primary;
  &:hover,
  &:focus,
  &:active {
    color: darken($primary, 10%);
  }
}

.btn-primary {
  background-color: $primary !important;
  border-color: $primary !important;
  color: $white !important;
  &:hover,
  &:focus,
  &:active {
    background-color: darken($primary, 10%) !important;
    border-color: darken($primary, 10%) !important;
  }
}

.btn-secondary {
  background-color: $secondary !important;
  border-color: $secondary !important;
  color: $white !important;
  &:hover,
  &:focus,
  &:active {
    background-color: darken($secondary, 10%) !important;
    border-color: darken($secondary, 10%) !important;
  }
}

.btn-dark {
  color: $white !important;
}

.bg-primary {
  background-color: $primary !important;
}

.text-primary {
  color: $primary !important;
}

.text-secondary {
  color: $secondary !important;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background-color: transparent;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent;
}

@media (min-width: 1400px){
  .cNewsListComponent .container {
    width: 1350px;
  }

  .pHome {
    .div-fifth .container {
      width: 1350px;
    }

    .cCarouselComponent .container {
      width: 1350px;
    }
  }

  .pNews {
    .div-first .container {
      width: 1350px;
    }

    .div-second .container {
      width: 1350px;
    }

    .div-third .container {
      width: 1350px;
    }
  }

  .pNewsSlug {
    .div-first .container {
      width: 1170px;
    }

    .div-second .container {
      width: 1170px;
    }

    .div-third .container {
      width: 1350px;
    }
  }

  .pTeam {
    .div-second .container {
      width: 1350px;
    } 

    .div-fourth .container {
      width: 1350px;
    }

    .cTeamCarouselComponent .container {
      width: 1350px;
    }
  }

  .pCareers {
    .div-third .container {
      width: 1350px;
    }

  }

  .footer {
    .container {
      width: 1350px;
    }
  }
}
