.btn {
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);

  @media (max-width: 767px) {
    box-shadow: none !important;
  }

  &:active, &:focus {
    outline: none;
  }

  &.active {
    &:active, &:focus {
      outline: none;
    }
  }

  &:hover {
    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.14);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }

  &.btn-white {
    padding: 10px 30px;
    background-color: $white;
    color: $mirage;
    box-shadow: none;
    border-radius: 0;
    font-family: Effra, sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 5px;
  }

  &.btn-outline-white {
    border: 2px solid $white;
    padding: 22px 50px;
    background-color: transparent;
    font-family: Effra, sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 0px;
    color: $white;
    letter-spacing: 5px;

      &:hover {
        border-color: $blue;
        color: $woodsmoke;
        background-color: $blue;
      }
  }

  &.btn-gray-outline {
    border: 2px solid $woodsmoke;
    padding: 22px 50px;
    background-color: transparent;
    font-family: Effra, sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 0px;
    color: $woodsmoke;
    letter-spacing: 5px;

      &:hover {
        color: $woodsmoke;
        background-color: $blue;
      }
  }

  &.btn-blue-outline {
    border-color: $blue;
    padding: 22px 30px;
    background-color: transparent;
    font-family: Effra, sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 0px;
    color: $blue;
    letter-spacing: 5px;
  }

  &.s-icon--white-brd {
    &:hover, .s-icon--white-brd:focus {
      background: $blue;
      border-color: $blue;
    }
  }

  &.projectsfp {
    background: url('../images/next_white.svg');
    height: 45px;
    width: 45px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    filter: invert(30%);
  }
  &.projectsfp.js__swiper-btn--prev {
    transform: rotate(180deg);
  }

  &.projectsfp:hover {
    filter: invert(100%);
  }
}
