.cCarouselComponent {
    // margin-top: 5rem;
    // margin-bottom: 4rem;
    background-color: $alabaster;

    padding-top: 4rem;

    .carousel-indicators {
        position: absolute;
        bottom: 35px;
        left: 37%;

        li {
            margin-right: 10px;
            width: 4px;
            height: 4px;
            border: 1px solid $black;
            background-color: $black;
            border-radius: 50%;
            -webkit-transform: translateY(50%);
            transform: translateY(50%);
        }

        li.active {
            width: 12px;
            height: 12px;
            border: 1px solid $blue;
            background-color: transparent;
        }
    }

    .carousel-prev {
        transition-duration: 0.5s;
        color: $black;
        opacity: 0.3;
    }

    .carousel-next {
        transition-duration: 0.5s;
        color: $black;
        opacity: 0.3;
    }

    .carousel-prev:hover {
        opacity: 0.8;
    }

    .carousel-next:hover {
        opacity: 0.8;
    }

    .div-body {
        padding-top: 1rem;
        padding-bottom: 1rem;

        &__item-1 {
            background-position: top right;
            background-repeat: no-repeat;
            background-size: 60% 100%;
        }

        &__item-2 {
            background-position: top right;
            background-repeat: no-repeat;
            background-size: 60% 100%;
        }
    }

    @media (min-width: 767px) and (max-width: 1200px) {
        .card {
            width: 100%;
        }
        .div-body {
            &__item-1 {
            background-image: none!important;
            }
            &__item-2 {
            background-image: none!important;
            }
        }
    }

    @media (min-width: 1200px) {
        .card {
            width: 60%;
        }
    }

    .card {
        // border: 1px solid;
        // width: 60%;
        text-align: left;
        padding: 3rem;
        background-color: $white;

        margin-top: 1rem;
        margin-bottom: 1rem;

        box-shadow: 1px 1px 16px 0 rgba(0, 0, 0, 0.16);
        min-height: 600px;

        .title-project {
            font-family: Effra;
            font-size: 20px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 1.1px;
            color: $blue;
        }

        .project-name-title {
            font-family: Effra;
            font-size: 44px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 1.5px;
            color: $gray;

            margin-bottom: 2rem;
        }

        .project-content {
            margin-top: 1rem;

            font-family: Effra;
            font-size: 18px;
            font-weight: 400;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.67;
            letter-spacing: 0.5px;
            color: $gray;

            &--last {
            margin-top: 2rem;
            margin-bottom: 4.5rem;
            }
        }
    }

    @media (max-width: 992px) {
        .carousel-indicators {
            bottom: 10px;
            left: 50%;
        }
    }

    @media (max-width: 1200px) {
        .carousel-indicators {
            bottom: 10px;
            left: 50%;
        }
    }

    @media (min-width: 1400px) {
        .carousel-indicators {
            bottom: 50px;
            left: 37%;
        }
    }

}

.cTeamCarouselComponent {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #F8F8F8;

    .carousel-indicators {
        position: absolute;
        bottom: 50px;
        left: 31%;

        li {
            margin-right: 10px;
            width: 4px;
            height: 4px;
            border: 1px solid $black;
            background-color: $black;
            border-radius: 50%;
            -webkit-transform: translateY(50%);
            transform: translateY(50%);
        }

        li.active {
            width: 12px;
            height: 12px;
            border: 1px solid $blue;
            background-color: transparent;
        }
    }

    .carousel-inner {
        padding-bottom: 25px;
    }

    .carousel-prev {
        transition-duration: 0.5s;
        color: $black;
        opacity: 0.3;
    }

    .carousel-next {
        transition-duration: 0.5s;
        color: $black;
        opacity: 0.3;
    }

    .carousel-prev:hover {
        opacity: 0.8;
    }

    .carousel-next:hover {
        opacity: 0.8;
    }

    .swiper-pagination-fraction {
      // display: none;
    }

    .div-body {
        background-position: top left;
        background-repeat: no-repeat;
        // background-size: contain;
        background-size: 55% 95%;
        // background-size: 55% 90%;
        background-image: url('~assets/images/media_assets/team/profile-background.jpg');
        padding-top: 5%;
        // padding-bottom: 1rem;
    }

    .profile-slide {

      &__left {

        &__avatar {
            width: 288px;
            height: 288px;
            position: absolute;
            left: 17%;
            top: 15%;
        }

        &__profile-link {
            position: absolute;
            left: 18.8%;
            top: 63%;

            min-width: 239.86px;

            transition-duration: 0.5s;

            font-family: Effra;
            // font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 5px;
            text-align: center;
            color: $white;
            text-transform: uppercase;

            padding: 1rem 1.5rem;
            border: solid 2px $white;

            &--linkedin-icon {
                font-size: 16px;
            }

            &--text {
                font-size: 16px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 5px;
                text-align: center;
            }
        }

        &__profile-link:hover {
            color: $woodsmoke;
            background-color: $blue;
            border-color: $blue;
            transition-duration: 0.5s;
        }

      }

    }

    .card {
        min-height: 726px;

        // border: 1px solid;
        box-shadow: 1px 1px 16px 0 rgba(0, 0, 0, 0.16);
        width: 60%;
        text-align: left;
        padding: 3rem;
        background-color: $white;

        // margin-left: 18rem;
        margin-left: 45%;

        // height: 680px;
        display: inline-block;

        .title-project {
            color: $blue;
            font-weight: bold;
        }
        .card-link {
            border: 1px solid #000;
            padding: .5rem 2rem;
            color: #000;
        }

        .card-body {
            &__name {
                font-family: Effra;
                font-size: 32px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 1.5px;
                color: $gray;
            }

            &__position {
                font-family: Effra;
                font-size: 18px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 1.1px;
                color: $blue;
            }

            &__content {
                font-family: Effra;
                font-size: 16px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.67;
                letter-spacing: 0.5px;
                color: $gray;
            }

            &__profile-link:hover {
                // color: $white;
                // background-color: $woodsmoke;
                // transition-duration: 0.2s;
                // border: solid 2px $woodsmoke;
                color: $woodsmoke;
                background-color: $blue;
                border-color: $blue;
                transition-duration: 0.5s;
            }

            &__profile-link {
                display: none;

                margin-top: 25px;
                // display: inline-block;

                transition-duration: 0.5s;

                font-family: Effra;
                // font-size: 16px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 5px;
                text-align: center;
                color: $woodsmoke;
                text-transform: uppercase;

                padding: 1rem 1.5rem;
                border: solid 2px $woodsmoke;

                &--linkedin-icon {
                    font-size: 16px;
                }

                &--text {
                    font-size: 16px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: 5px;
                    text-align: center;
                }
            }
        }
    }

    @media (max-width: 992px) {
        .profile-slide {
            &__left {
                &__avatar {
                    width: 176px!important;
                    height: 176px!important;
                    left: 37%!important;
                    top: 7%!important;
                }
        
                &__profile-link {
                    display: none;
                }
            }
        }
    
        .card {
            .card-body {
                &__name {
                    font-size: 46px;
                }
        
                &__position {
                    font-size: 20px;
                }
            }
        }

        .carousel-indicators {
            bottom: 10px;
            left: 50%;
        }
    }

    @media (max-width: 1200px) {
        .profile-slide {
            &__left {
                &__avatar {
                    width: 208px;
                    height: 208px;
                    left: 39%;
                    top: 7%;
                }
        
                &__profile-link {
                    display: none;
        
                }
            }
    
            .div-body {
                background-size: 100% 100%;
                padding-left: 0px!important;
                padding-right: 0px;
            }
        }
    
        .card {
            min-height: unset;
    
            width: 100%;
            margin-left: 0px;
            margin-top: 300px;
    
            .card-body {
                &__name {
                    font-size: 46px;
                }
        
                &__position {
                    font-size: 20px;
                }
        
                &__profile-link {
                    display: inline-block;
                }
            }
        }

        .carousel-indicators {
            bottom: 10px;
            left: 50%;
        }
    }

    @media (min-width: 1400px) {
        .profile-slide {
            &__left {
                &__avatar {
                    width: 320px;
                    height: 320px;
                    position: absolute;
                    left: 16.5%;
                    top: 16%;
                }
        
                &__profile-link {
                    position: absolute;
                    left: 19.4%;
                    top: 68%;
                }
            }
        }
    
        .card {
    
            .card-body {
                &__name {
                    font-size: 46px;
                }
        
                &__position {
                    font-size: 20px;
                }
        
                &__content {
                    font-size: 18px;
                }
            }
        }

        .carousel-indicators {
            bottom: 50px;
            left: 30%;
        }
    }
}

