footer.footer {
  background-image: url('~assets/images/CommonItems/BgFooter.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .container {
    padding-top: 2rem;
    padding-bottom: 1rem;

    @media (min-width: 768px) {
      padding-top: 10rem;
      padding-bottom: 2rem;
    }
  }

  .bd-footer-links, .footer-links {
    padding-left: 0;
    margin-bottom: 1rem;
    li {
      display: inline-block;
      margin-right: 2rem;
      &:last-child {
        margin: 0;
      }
      a {
        font-size: 18px;
        font-family: Effra, sans-serif;
        font-weight: 500;
        color: $white;
        letter-spacing: 1px;
        text-align: center;
      }
    }
  }

  .footer-links {
    > li {
      padding: 10px 30px;
      margin: 0;
    }
  }

  .footer-social-links {
    text-align: center;
    padding-left: 0;
    margin-bottom: 1rem;

    li {
      display: inline-block;
      margin-right: 3rem;

      &:last-child {
        margin: 0
      }

      a {
        color: $white;
        font-weight: 500;
      }

      i {
        font-size: 25px;
        color: $white;
      }
    }
  }

  .copyright {
    color: $white;
    text-align: center;
    font-family: Effra, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 16px;
  }

}
