.s-header__shrink {
  // top: -10rem;

  .s-header__navbar {
    background: $white;
  }
}

.s-form-v3__input {
  text-transform: none;
}

// Disappear when scroll down
.navbar-fixed-top {
  position: absolute;
}

.-is-open {
  .s-header__navbar {
    .s-header__container {
      display: none;
    }
  }
  .div-content-menu-header {
    img {
      width: 80px;

      @media(max-width: 767px) {
        width: 110px;
      }
    }

    .btn-close-menu {
      float: right;
      width: 3.125rem;
      height: 3.125rem;
      border: 1px solid $black;
      position: relative;

      i {
        position: absolute;
        top: 25%;
        left: 35%;
        font-size: 1.5rem;
        color: $black;
      }

      @media(max-width: 767px) {
        width: 62px;
        height: 62px;

        i {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

    }
  }
}

.s-header__nav-menu-item {
  padding: 0;
  // transition: unset;
}

// Remove transition briefly see the content before disappearing when close menu
.s-header-bg-overlay .s-header__nav-menu-item {
  transition: unset;
}

.s-header__nav-menu {
  width: 100%;
  // float: left;
  float: unset;
  text-align: left;
  margin-bottom: 0;

  @media(max-width: 767px) {
    float: none;

    &:after {
      content: '';
      clear: both;
    }
  }
}

.s-form-v3__input {
  color: $black;
  border-bottom-color: $gray;
  @include placeholder($gray);

  // Remove transition briefly see the content before disappearing when close menu
  transition: unset;

  &:focus {
    color: $black;
    border-color: $gray;
    @include placeholder($gray);
  }
}

.s-header-bg-overlay {
  transition: none;
  // transition: all 1s ease-in 0.4s;
  // -webkit-transition: all 1s ease-in 0.4s;

  .btn {
    transition: unset;
  }
}

.s-header-bg-overlay .-is-open {
  // transition: all 0.2s ease-out;
  // -webkit-transition: all 0.2s ease-out;
}

.s-header__container {
  padding: 90px 14rem;

  .s-header__logo-img {
    width: 110px;
    height: 62px;
  }

  @media(max-width: 1399px) {
    padding: 30px 4rem;
  }

  @media(max-width: 1199px) {
    padding: 30px 4rem;
  }

  @media(max-width: 991px) {
    padding: 0 2rem;
  }

  @media(max-width: 767px) {
    padding: 0 2rem;

    .s-header__logo-link {
      padding: 2rem 0;
    }
  }
}

.s-header__nav {
  height: 100%;
  padding: 0;
}

.div-content-menu {

  background-color: $white;
  padding: 2rem;

  // @media (min-width: 768px) {
  @media (min-width: 1200px) {
    background-image: url('~assets/images/CommonItems/Menu/directions.jpg');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: $white;
    // margin: 4rem;
    padding: 2rem 2rem 4rem 2rem;

    // Fix menu too wide
    margin: 4rem auto;
    max-width: 1200px;
  }

  .s-header__nav-menu-link {
    color: $black;
    font-size: 2rem;
    &:hover {
      color: $blue;
    }
  }

  .title {
    color: $blue;
  }

  .card {
    margin-top: 16rem;
    width: 80%;
    background-color: $woodsmoke;
    padding: 2rem;

    .card-body {
      text-align: center;
    }
    p {
      color: $white;
      font-weight: 500;
    }
    .card-link {
      border: 1px solid $blue;
      padding: .5rem 1rem;
      color: $blue;
    }
  }
}

.s-header__trigger {
  background-color: $white;
  width: 92px;
  height: 92px;

  .s-header__trigger-icon {
    background-color: $black;
  }

  @media(max-width: 767px) {
    width: 62px;
    height: 62px;
  }

  @media(max-width: 992px) {
    width: 62px;
    height: 62px;
  }
}

.s-header__trigger-black {
  background-color: $gray;

  .s-header__trigger-icon {
    background-color: $white;
  }
}

.s-header__shrink {
  .s-header__trigger-black {
    background-color: $white;

    .s-header__trigger-icon {
      background-color: $black;
    }
  }
}

.div-menu {
  padding-top: 5rem;
  color: $white;

  .div-menu-first {
    height: 30rem;
    background-image: url('~assets/images/CommonItems/Menu/directions.jpg');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
}

.s-header__logo-img-shrink {
  @media (max-width: 767px) {
    top: 2rem;
  }
}

.main-menu-nav, .contact-form {
  @media(max-width: 767px) {
    margin-top: 50px;

    .title {
      font-size: 24px;
      margin: 0;
    }

    .s-header__nav-menu {
      .s-header__nav-menu-item {

        > a {
          color: #241A1A;
          width: 100%;
          font-size: 42px;
          font-family: Effra, sans-serif;
          font-weight: 300;
          padding: 0;
          line-height: 1.5;
        }
      }
    }

    form {
      margin-top: 15px;
      input, textarea {
        font-size: 20px;
      }

      > div {
        margin-bottom: 30px;
      }
    }
  }
}

.main-menu-nav {
  .list-group {
    .list-group-item {
      border: unset;
      padding-left: 35px;

      .s-header__nav-menu-link {
        font-size: 1.6rem;
      }
    }
  }
}
.s-header__nav-menu-link-divider[href]:focus {
  color: $blue;
}

.div-info {
  padding: 50px;
  background-color: #161F1E;

  .card {
    font-size: 18px;
    font-family: Effra, sans-serif;
    font-weight: 400;
    color: $white;
    max-width: 220px;
    margin: 0 auto;

    p {
      color: inherit;
      font-size: initial;

      > a {
        color: inherit;
      }
    }
  }
}

.s-header {
  .btn-translate {
    // float position
    float: right;

    // border button
    border-radius: 30px;

    margin-right: 35px;
    padding: 12px 18px;

    font-family: Effra;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.3px;
    text-align: center;
    color: #ffffff;

    &--black {
      border-color: $gray;
      color: $gray;
    }

    &--icon {
      font-size: 14px;
    }
  }

  @media(max-width: 767px) {
    .btn-translate {
      font-size: 12px;

      margin-right: 20px;
      padding: 6px 12px;

      &--icon {
        font-size: 10px;
      }
    }
  }

  @media (min-width: 767px) and (max-width: 992px) {
    .btn-translate {
      font-size: 14px;

      margin-right: 25px;
      padding: 10px 14px;

      &--icon {
        font-size: 12px;
      }

    }
  }
}
