.cMapComponent {
    position: relative;

    .carousel-position {
        position: absolute;
        top: 0;
        left: 7%;
    }

    .carousel-size {
        width: 635px;
    }

    .carousel-component {
        z-index: 1;
    }

    .map-component__carousel {
        .carousel-indicators {
            top: 5%;
            right: 5%;
            width: unset;
            left: unset;
        }
  
        .carousel-control {
            height: 10%;
            width: 10%;
            top: unset;
            bottom: 1rem;
            // right: 3%;
            left: unset;
            color: #6be3c2;
            z-index: 30;
            transition: 300ms;
    
            &.left {
                right: 15%;
                background-image: unset;
            }
    
            &.right {
                background-image: unset;
                margin-right: 1rem;
            }
        }
  
    }

    .map-component {
        &__map {
            &__map-view {
                width: 100%;
                height: 790px;

                &--title {

                }

                // Remove satelite and map button on default google map
                .gmnoprint:last-child {
                    display: none;
                }
            }
        }
    }
  
    .card {
        border: 1px solid;
        text-align: left;
        padding: 3rem;
        padding-top: 5em;
        padding-bottom: 3em;
        padding-left: 3em;
        padding-right: 4em;
        background: linear-gradient(170deg, $woodsmoke 55%, $outerSpace 55%);
        margin: 0 3rem;
        margin: 0 0;
  
        .title-project {
            font-family: Effra;
            font-size: 16px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 1.1px;
            color: $blue;
        }
        .title1 {
            color: $white;
            font-family: Effra;
            padding-bottom: 7rem;
            font-size: 45px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.06;
            letter-spacing: 1.5px;
        }
        .title2 {
            margin-bottom: 0.5em;
    
            font-family: Effra;
            font-size: 40px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 1px;
            color: $blue;
        }
        .card-text {
            padding-bottom: 1.5em;
            font-family: Effra;
            font-size: 15px;
            font-weight: 400;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.67;
            letter-spacing: 0.8px;
            color: $white;
        }
    }

    @media (min-width: 1400px) {
        .carousel-position {
            left: 16%;
        }

        .carousel-size {
            width: 635px;
        }

        .card {
            .title-project {
                font-size: 20px;
            }
    
            .title1 {
                font-size: 66px;
                font-family: Effra;
                font-weight: 500;
            }
    
            .title2 {
                font-size: 46px;
                font-family: Effra;
                font-weight: 500;
            }
    
            .card-text {
                font-size: 18px;
            }
    
        }
    }

    @media (min-width: 1200px) and (max-width: 1399px) {
        .carousel-position {
            left: 7%;
        }

        .carousel-size {
            width: 635px;
        }
    }

    @media (min-width: 992px) and (max-width: 1199px) {
        .carousel-position {
            left: 4%;
        }

        .carousel-size {
            width: 518px;
        }
    }

    @media (min-width: 768px) and (max-width: 991px) {
        .carousel-position {
            position: unset;
            top: unset;
            left: unset;
            // left: 4%;

            padding-top: 0px!important;
            padding-bottom: 0px!important;
        }
        .carousel-size {
            width: 100%;
        }
    }

    @media (max-width: 767px) {
        .carousel-position {
            position: unset;
            top: unset;
            left: unset;
            // left: 4%;

            padding-top: 0px!important;
            padding-bottom: 0px!important;
        }
        .carousel-size {
            width: 100%;
        }
    }
}

.cProjectMapComponent {
    .map-component {
        &__map {
            width: 100%;
            height: 755px;
        }
    }
}