// News article card style
@media (min-width: 767px) and (max-width: 1200px) {
    .cNewsListComponent {
      background-image: none !important;
    }
  }
  .cNewsListComponent {
    background-image: url('~assets/images/CommonItems/news-bg.jpg');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 45% 75%;
    margin-top: 4rem;
    margin-bottom: 2rem;
    .div-header {
      margin: 3rem 0rem 2.5rem 2.5rem;
  
      .title-header {
        color: $blue;
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 1.1px;
        color: $blue;
      }
  
      .title-caption {
        font-size: 66px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.5px;
        color: $gray;
      }
  
      .title-details {
        font-family: Effra;
        font-size: 18px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.44;
        letter-spacing: 0.5px;
        color: $gray;
      }
    }
  
    .articles-card-list {
      .card::before {
        content: '';
        position: absolute;
        border-radius: 5px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(165deg, rgba(0, 0, 0, 0.05) 60%, rgba(38, 27, 27, 0.2) 60%);
        transition-duration: 0.5s;
      }
  
      .card:hover::before {
        content: '';
        position: absolute;
        border-radius: 5px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(165deg, rgba(102, 161, 255, 0.4) 60%, rgba(255, 255, 255, 0.3) 60%);
        // background: linear-gradient(165deg, rgba(25, 87, 187, 0.5) 60%, rgba(102,161,255, 0.4) 60%);
  
        transition-duration: 0.5s;
      }
  
      .card:hover {
  
        transform: scale3d(1.030, 1.030, 1);
  
        .card-body {
          &__info {
            &__expanded-component {
              max-height: 200px;
              transition: max-height 0.5s ease-in;
            }
          }
          &__title {
            color: $blue;
            transition-duration: 0.5s;
          }
        }
      }
  
      .card {
        transition: transform .5s;
  
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        border-radius: 5px;
        min-height: 312px;
        box-shadow: 1px 1px 16px 0 rgba(0, 0, 0, 0.16);
  
        margin-top: 35px;
  
        .card-body {
  
          &__info {
            position: absolute;
            bottom: 0;
            margin-bottom: 2rem;
            margin-right: 2rem;
  
            width: 280px;
  
            &__expanded-component {
              max-height: 0px;
              width: 100%;
              overflow: hidden;
              transition: max-height 0.5s ease-out;
            }
          }
  
          &__date {
            font-size: 24px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.7px;
            color: #ffffff;
            margin-bottom: 3rem;
          }
  
          &__title {
            font-size: 28px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: 1.5px;
            color: $white;
  
            min-height: 60px;
  
            transition-duration: 0.5s;
  
            // test text overflow
            // overflow: hidden;
            // white-space: nowrap;
            // text-overflow: ellipsis;
            // max-height: 64px;
  
            &--white {
              color: $white;
  
              // Get title to
              // position: absolute;
              // bottom: 0;
              // margin-bottom: 2rem;
              // margin-right: 2rem;
            }
          }
  
          &__details {
            font-family: Effra;
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.56rem; /* fallback */
            letter-spacing: 0.5px;
            color: #ffffff;
  
            // Text overflow ellipsis
            // First case
            // overflow: hidden;
            // text-overflow: ellipsis;
            // display: -webkit-box;
            // -webkit-box-orient: vertical;
            // -webkit-line-clamp: 2; /* number of lines to show */
            // max-height: 3.12rem;       /* fallback */
  
            // Second try
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
  
            // min-height: 42px;
            // max-height: 42px;
          }
  
          &__icon {
            // min-height: 45px;
            position: relative;
            display: block;
            width: 45px;
            height: 45px;
            background: url('~assets/images/CommonItems/next_white.svg');
            background-repeat: no-repeat;
            background-size: contain;
          }
  
        }
      }
  
      @media (min-width: 1400px) {
        .card {
          min-height: 410px;
  
          .card-body__title {
            font-size: 34px;
          }
  
          .card-body__details {
            font-size: 18px;
          }
        }
      }
    }
  
    .div-more-news {
      margin-top: 3rem;
      margin-bottom: 2.5rem;
      text-align: center;
  
      a {
        margin-top: 35px;
        // transition-duration: 0.2s;
        // border: solid 1px $tundora;
      }
  
      // a:hover {
      //   background-color: $tundora;
      //   color: $white;
  
      //   transition-duration: 0.2s;
      // }
    }
}

  
// .cNewsListComponent {
    
// }