body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: Effra, sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

.tc-blue {
  color: $blue;
}

.tc-white {
  color: $white;
}

.font-weight-900 {
  font-weight: 900!important;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  font-family: Effra, Helvetica, sans-serif;
  line-height: 1.2;
  color: #242424;
  margin-top: 0;
  margin-bottom: .5rem;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.text-white {
  color: $white;
}

.text-highlight {
  color: $blue;
}

.position-relative {
  position: relative;
}

.m-t-10 {
  margin-top: 10px !important;
}

.m-t-15 {
  margin-top: 15px !important;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-t-50 {
  margin-top: 50px;
}

.m-t-60 {
  margin-top: 60px;
}

.m-t-70 {
  margin-top: 70px;
}

.p-none {
  padding: 0 !important;
}

.p-35 {
  padding: 35px !important;
}

.font-20 {
  font-size: 20px;
}

.font-28 {
  font-size: 28px;
}

.font-34 {
  font-size: 34px;
}

.font-42 {
  font-size: 42px
}

.mn-w-250 {
  min-width: 250px;
}

.mn-w-230 {
  min-width: 230px;
}

.max-height-0 {
  max-height: 0px!important;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.max-height-unset {
  max-height: unset;
}

.display-none {
  display: none;
}
