// Mixins
// Background Cover Mixin
@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Font Mixins
@mixin body-font {
  font-family: Lato, sans-serif;
}

@mixin placeholder($color: $input-color-placeholder) {
  &::-webkit-input-placeholder  { color: $color; } // Chrome and Safari
  &::-moz-placeholder           { color: $color; } // Firefox 19+
  &:-ms-input-placeholder       { color: $color; } // Internet Explorer 10+
  &::placeholder       					{ color: $color; }
}
