.pCareers {
  .div-first {
    background-image: url('../images/career/header-career.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .title-content {
      margin-top: 240px;
      padding-top: unset;
    }

    @media (max-width: 992px) {
      .header-overlay {
        height: 480px !important;
      }

      .title-list {
        &__page-name {
          font-size: 14px !important;
        }

        h1, h2, h3 {
          font-size: 44px !important;
        }
      }
    }

    .header-overlay {
      height: 530px;
      width: 470px;
      position: absolute;
      left: 17%;
      top: 0;
    }

    .title-list {
      text-align: left;
      width: 60%;
      margin-left: 20%;
      margin-bottom: 3rem;
      padding-top: unset;

      &__page-name {
        margin-left: 5px;

        text-transform: uppercase;

        font-family: Effra;
        font-size: 16px !important;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 5px;
        color: $white;
      }

      h1 {
        font-family: Effra;
        font-size: 3.775rem;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 4.1px;
        color: $blue;
      }

      h2 {
        font-family: Effra;
        font-size: 3.775rem;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 4.1px;
        color: $white;
      }

      h3 {
        font-family: Effra;
        font-size: 3.775rem;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 4.1px;
        color: $blue;
      }
    }

    .scroll-down-btn {

    }
  }

  .div-second {
    max-height: 1500px;
    transition: max-height 0.5s ease-in;
    overflow: hidden;

    .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }

    @media (min-width: 1600px) {
      .div-left {
        padding: 140px 6rem 175px 14rem!important;
      }

      .div-right {
        padding: 140px 14rem 175px 6rem!important;

        .tab-pane {
          ul {
            li {
              a {
                font-size: 46px!important;
              }
            }
          }
        }
      }
    }

    @media (max-width: 1200px) {
      .div-left {
        padding: 140px 4rem 175px 4rem!important;

        h3 {
          font-size: 44px!important;
        }

        p {
          font-size: 16px!important;
        }
      }

      .div-left {
        padding: 140px 4rem 175px 4rem!important;
      }
    }

    .div-left {
      padding: 140px 4rem 175px 10rem;

      h3 {
        font-family: Effra;
        font-size: 66px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.5px;
        color: $gray;
      }

      p {
        font-family: Effra;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.67;
        letter-spacing: 0.5px;
        color: $gray;
      }

    }
    .div-right {
      padding: 140px 10rem 175px 4rem;
      background-color: $gray-100;

      min-height:
      p {
        color: $blue;
        font-weight: bold;
      }

      .nav-tabs {
        border-bottom: unset;

        li {
          margin-right: 3.5rem;
          a {
            text-transform: uppercase;

            border-left: unset;
            border-right: unset;
            border-top: unset;

            font-family: Effra;
            font-size: 18px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.5px;
            color: #000000;

            padding: 10px 0px;

            transition: border 0.5s;
          }

          a:hover {
            background: unset;
            border-left: unset;
            border-right: unset;
            border-top: unset;
            border-bottom: solid 6px $blue;
            // color: $blue;

            transition: border 0.5s;
          }
        }

        li.active {
          a {
            // border: unset;
            border-left: unset;
            border-right: unset;
            border-top: unset;
            border-bottom: solid 6px $blue;
            // color: $blue;

            transition: border 0.5s;
          }
        }

        // White style for background image
        .white {
          color: $white;
        }

        .white:hover {
          background: unset;
          // border: unset;
          border-radius: 0px;
          color: $white;
          // border: unset;
          border-left: unset;
          border-right: unset;
          border-top: unset;
          border-bottom: solid 6px $blue;
        }

        li.active {
          .white {
            background: unset;
            // border: unset;
            border-radius: 0px;
            color: $white;
          }

          .white:hover {
            background: unset;
            border-bottom: solid 6px $blue;
            border-radius: 0px;
            color: $white;
          }
        }
      }

      .tab-pane {
        ul {
          li {
            list-style-type: none;
            margin-bottom: 15px;

            a {
              font-family: Effra;
              font-size: 36px;
              font-weight: 500;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.65;
              letter-spacing: 1px;
              color: $blue;
            }
          }
        }
      }

    }
  }

  .div-third {
    max-height: 1500px;
    transition: max-height 0.5s ease-in;
    overflow: hidden;
    // background-color: #f9f9f9;
    margin-bottom: 0px;
    margin-bottom: 30px;
  }

  .div-fourth {
    background-color: $gray-100;

    max-height: 1500px;
    transition: max-height 0.5s ease-in;
    overflow: hidden;

    .section-job {
      margin-top: 120px;
      margin-bottom: 130px;

      .section-heading {
        font-family: Effra;
        font-size: 46px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.65;
        letter-spacing: 1px;
        color: $blue;

        .job-type {
          margin-top: 10px;
          text-transform: uppercase;

          font-family: Effra;
          font-size: 20px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 1.1px;
          color: $blue;
        }

        .btn {
          border-width: 1px;

          float: right;
          margin-top: -90px;
          position: relative;
          padding: 0;
          width: 92px;
          height: 92px;

          > i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-40%, -50%);
            font-size: 2.5rem;
            font-weight: 100;
          }
        }
      }

      .section-description {
        margin-top: 25px;

        font-family: Effra;
        font-size: 18px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.67;
        letter-spacing: 0.5px;
        color: $gray;

        p {
          font-size: 18px;
          font-weight: 400;
        }

        h5 {
          margin-top: 15px;

          font-weight: 500;
          line-height: 2;
        }

        ul {
          margin: 20px 0px;

          li {
            margin-bottom: 20px;
          }
        }
        .btn {
          margin-top: 30px;
        }
      }

    }

  }

}


@media (min-width: 1400px) {
  .pCareers {
    .div-first {
      .title-content {
        margin-top: 280px;
      }

      .header-overlay {
        height: 641px;
        width: 597px;
        position: absolute;
        left: 8%;
        top: 0;
      }

      .title-list {
        margin-top: 280px;

        width: 80%;
        margin-left: 10%;
        margin-right: 10%;

        &__page-name {
          margin-left: 5px;

          font-family: Effra;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 5px;
          color: $white;
        }

        h1 {
          font-size: 80px;
        }

        h2 {
          font-size: 80px;
        }

        h3 {
          font-size: 80px
        }
      }
    }
  }

}

.pCareersMobile {
  .section {
    &.section-index {
      background-color: $white;
      background-image: url('~assets/images/media_assets/career/bg-career.jpg');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 100px;

      .section-heading {
        color: $white;
        margin-top: 100px;
        font-size: 16px;
        font-family: Effra, sans-serif;
        font-weight: 400;
        letter-spacing: 5px;
      }

      .section-description {
        margin-top: 20px;
        line-height: 1.25;
        font-size: 42px;
        font-family: Effra, sans-serif;
        font-weight: 500;
        letter-spacing: 2.74px;
      }
    }

    &.section-intro {
      background-color: $white;
      padding-top: 50px;
      padding-bottom: 50px;
      color: $gray;

      .section-heading {
        font-size: 34px;
        font-family: Effra, sans-serif;
        font-weight: 500;
        letter-spacing: 1.5px;
      }

      .section-description {
        margin-top: 20px;
        line-height: 1.5;
        font-size: 18px;
        font-family: Effra, sans-serif;
        letter-spacing: 0.5px;
        font-weight: 400;
      }
    }

    &.section-job {
      background-color: rgb(243, 241, 241);

      .section-heading {
        position: relative;
        font-size: 30px;
        font-family: Effra, sans-serif;
        font-weight: 500;
        letter-spacing: 0.65px;
        margin: 0;
        padding: 15px 30px 15px 0px;
        color: $blue;

        .btn {
          float: right;
          margin-top: -14px;
          position: relative;
          padding: 0;
          width: 62px;
          height: 62px;

          > i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-40%, -50%);
            font-size: 1.5rem;
          }
        }
      }

      .section-description {
        margin-top: 30px;
        position: relative;
        font-size: 18px;
        font-family: Effra;
        letter-spacing: 0.65px;
        color: $gray;

        p {
          font-size: inherit;
          color: inherit;
          margin-bottom: 30px;

          &.highlight {
            font-weight: 400;
          }
        }

        ul {
          padding-left: 50px;
          > li {
            margin-bottom: 30px;
            position: relative;

            &:before {
              content: '.';
              font-size: 42px;
              position: absolute;
              left: -50px;
              top: 0px;
              line-height: 0;
            }
          }
        }
      }
    }

    &.section-career {
      background-color: rgb(243, 241, 241);
      padding-top: 60px;
      padding-bottom: 60px;

      .nav.nav-tabs {
        border-width: 0;
        li {
          > a {
            border-width: 0;
            color: $gray;
            font-size: 18px;
            font-family: Effra, sans-serif;
            font-weight: 400;
            padding: 0;
            padding-bottom: 10px;
            position: relative;

          }

          &.active {
            > a {
              font-family: Effra, sans-serif;
              font-weight: 400;

              &:after {
                content: '';
                border-bottom: 5px solid $blue;
                position: absolute;
                bottom: 0px;
                left: 0;
                right: 0;
              }
            }
          }

          + li {
            margin-left: 50px;
          }
        }

        & + .tab-content {
          ul {
            li {
              margin-top: 40px;
              > a {
                line-height: 1.25;
                font-size: 30px;
                font-family: Effra, sans-serif;
                font-weight: 500;
                letter-spacing: 0.65px;
                color: $blue;

                &:hover, &.active, &:active, &:focus {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }

    &.section-news {
      padding-top: 70px;
      padding-bottom: 70px;
      background-color: $white;

      .section-heading {
        color: $blue;
        font-size: 20px;
      }

      .section-description {
        color: $gray;
        font-family: Effra, sans-serif;
        font-weight: 500;

        h1 {
          font-size: 34px;
        }
      }

      .news-carousel {
        margin-top: 30px;

        .owl-carousel {
          display: block;

          .owl-stage-outer {
            margin: 0 -30px;
            padding: 0 30px;
          }

          .owl-stage {
            .owl-item {
              display: block;
            }

            .news-item {
              position: relative;
              width: 275px;
              min-height: 310px;
              border-radius: 10px;
              padding: 25px;
              position: relative;

              background-color: #f8f8f8;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;

              &:before {
                border-radius: 10px;
                position: absolute;
                content: '';
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.2);
                z-index: 50;
              }

              .news-time {
                color: $white;
                letter-spacing: .5px;
                z-index: 100;
                position: relative;
              }

              .news-info {
                position: absolute;
                bottom: 25px;
                left: 25px;
                right: 25px;
                z-index: 100;

                .news-title {
                  margin-top: 28px;
                  color: $blue;
                  letter-spacing: 1.24px;
                  font-family: Effra, sans-serif;
                  font-weight: 500;
                  max-height: 160px;
                  overflow: hidden;
                }

                .news-link {
                  a {
                    height: 30px;
                    width: 30px;
                    display: block;

                    &:after {
                      content: "\E628";
                      font-family: themify;
                      color: $white;
                      font-size: 30px;
                      line-height: 1;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
