.pDisclaimers {
  .div-first {
    background-color: $white;
    margin-top: 255px;

    .title-list {
      text-align: center;
      width: 60%;
      margin-left: 20%;

      h1 {
        margin-bottom: 1.5rem;

        font-family: Effra;
        font-size: 86px!important;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.1;
        letter-spacing: 0.7px;
        text-align: center;
        color: $gray;
      }
      h2 {
        font-family: Effra;
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.6px;
        text-align: center;
        color: $blue;
      }
    }
  }

  .div-second {
    margin-top: 80px;

    .news-content {
      margin-top: 1rem;
      margin-right: 6rem;
      margin-bottom: 6rem;
      margin-left: 3rem;


      p {
        font-family: Effra;
        font-size: 20px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: 0.5px;
        color: $mirage;

        .highlight {
          font-weight: 500;
        }
      }

    }
  }
}

.pDisclaimersMobile {
  .section {
    padding-top: 100px;
    padding-bottom: 60px;

    .section-heading {
      margin-top: 100px;
      font-size: 42px;
      letter-spacing: 2.74px;
    }

    .section-description {
      margin-top: 30px;
      font-size: 20px;
      font-family: Effra, sans-serif;
      font-weight: 500;
      color: $blue;
      letter-spacing: .63px;
    }

    .section-body {
      margin-top: 50px;
      font-size: 20px;
      font-family: Effra;
      color: $gray;
      letter-spacing: 0.5px;

      p {

        .highlight {
          font-weight: 500;
        }

        color: inherit;
        font-size: inherit;
        margin-bottom: 30px;
      }
    }
  }
}
