.pHome {
  &__header-image {
    min-height: 908px;
  }

  .div-first {
    background-image: url('~assets/images/media_assets/frontpage/1_Header/header-fp-fallback.jpg');
    background-repeat: no-repeat;
    background-size:  fixed;
    background-position: 50% 0;

    .header-overlay {
      height: 450px;
      width: 430px;
      position: absolute;
      left: 10%;
      top: 0;
    }

    .title-list {
      text-align: left;
      // width: 60%;
      margin-left: 10%;
      margin-bottom: 4rem;
      padding-top: 8rem;

      .header-title {
        font-family: Effra;
        font-size: 64px !important;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 4.8px;
      }

      h3 {
        color: $blue;
      }
    }

    .scroll-down {
      &__title {
        text-transform: uppercase;
        font-family: Effra;
        font-weight: 500;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 5px;
        color: white;
      }

      &__icon {
        margin-left: 10px;
      }
    }
  }

  .div-second {
    background-image: url('~assets/images/media_assets/frontpage/2_ProjectsMap/map.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2rem;
    min-height: 789px;

    position: relative;

    .pin-active {
      display: none;
    }

    // Start style for location pin
    // Site for lg width size
    .mugga-lane-location {
      position: absolute;
      left: 79.5%;
      top: 41%;
      transition-duration: 0.2s;
    }
    .mugga-lane-location-active {
      position: absolute;
      left: 78.5%;
      top: 39.2%;
      transition-duration: 0.2s;
    }

    .sunraysia-solar-location {
      position: absolute;
      left: 65.5%;
      top: 35%;
      transition-duration: 0.2s;
    }
    .sunraysia-solar-location-active {
      position: absolute;
      left: 64.5%;
      top: 33.1%;
      transition-duration: 0.2s;
    }

    @media (min-width: 1331px) and (max-width: 1450px) {
      .sunraysia-solar-location-active {
        position: absolute;
        left: 64.3%;
        top: 33.1%;
      }
    }

    // Media for md width size
    @media (min-width: 1201px) and (max-width: 1330px) {
      .mugga-lane-location-active {
        position: absolute;
        left: 78.2%;
        top: 39.2%;
      }

      .sunraysia-solar-location {
        position: absolute;
        left: 65.3%;
        top: 36.5%;
      }
      .sunraysia-solar-location-active {
        position: absolute;
        left: 63.9%;
        top: 34.5%;
      }
    }
    @media (min-width: 1131px) and (max-width: 1200px) {
      .mugga-lane-location {
        position: absolute;
        left: 80.5%;
        top: 41%;
      }
      .mugga-lane-location-active {
        position: absolute;
        left: 79.1%;
        top: 39.2%;
      }

      .sunraysia-solar-location {
        position: absolute;
        left: 65%;
        top: 36.5%;
      }
      .sunraysia-solar-location-active {
        position: absolute;
        left: 63.5%;
        top: 34.5%;
      }
    }
    @media (min-width: 1071px) and (max-width: 1130px) {
      .mugga-lane-location {
        position: absolute;
        left: 81.75%;
        top: 41%;
      }
      .mugga-lane-location-active {
        position: absolute;
        left: 80.3%;
        top: 39.2%;
      }

      .sunraysia-solar-location {
        position: absolute;
        left: 66.4%;
        top: 37%;
      }
      .sunraysia-solar-location-active {
        position: absolute;
        left: 64.8%;
        top: 35.15%;
      }
    }
    @media (min-width: 1031px) and (max-width: 1070px) {
      .mugga-lane-location {
        position: absolute;
        left: 83%;
        top: 41%;
      }
      .mugga-lane-location-active {
        position: absolute;
        left: 81.3%;
        top: 39.2%;
      }

      .sunraysia-solar-location {
        position: absolute;
        left: 67%;
        top: 36.5%;
      }
      .sunraysia-solar-location-active {
        position: absolute;
        left: 65.35%;
        top: 34.5%;
      }
    }
    @media (min-width: 992px) and (max-width: 1030px) {
      .mugga-lane-location {
        position: absolute;
        left: 84%;
        top: 41%;
      }
      .mugga-lane-location-active {
        position: absolute;
        left: 82.3%;
        top: 39.2%;
      }

      .sunraysia-solar-location {
        position: absolute;
        left: 67.6%;
        top: 36.5%;
      }
      .sunraysia-solar-location-active {
        position: absolute;
        left: 65.84%;
        top: 34.5%;
      }
    }
    // End style for location pin

    &__carousel {
      .carousel-indicators {
        top: 5%;
        right: 5%;
        width: unset;
        left: unset;
      }

      .carousel-control {
        height: 10%;
        width: 10%;
        top: unset;
        bottom: 1rem;
        // right: 3%;
        left: unset;
        color: #6be3c2;
        z-index: 30;
        transition: 300ms;

        &.left {
          right: 15%;
          background-image: unset;
        }

        &.right {
          background-image: unset;
          margin-right: 1rem;
        }
      }

    }

    .card {
      border: 1px solid;
      text-align: left;
      padding: 3rem;
      padding-top: 5em;
      padding-bottom: 3em;
      padding-left: 3em;
      padding-right: 4em;
      background: linear-gradient(170deg, $woodsmoke 55%, $outerSpace 55%);
      margin: 0 3rem;
      margin: 0 0;

      .title-project {
        font-family: Effra;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.1px;
        color: $blue;
      }
      .title1 {
        color: $white;
        font-family: Effra;
        padding-bottom: 7rem;
        font-size: 45px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.06;
        letter-spacing: 1.5px;
      }
      .title2 {
        margin-bottom: 0.5em;

        font-family: Effra;
        font-size: 40px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        color: $blue;
      }
      .card-text {
        padding-bottom: 1.5em;
        font-family: Effra;
        font-size: 15px;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.67;
        letter-spacing: 0.8px;
        color: $white;
      }
    }
  }

  .div-third {
    background-image: url('~assets/images/media_assets/frontpage/3_TrackRecord/track-record-bg.jpg');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 50% 100%;
    margin-top: 2rem;
    /*margin-bottom: 2rem;*/

    .container-content {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .div-left {
      h2 {
        font-family: Effra;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.06;
        letter-spacing: 1.5px;
        color: $white;
      }
      p {
        font-family: Effra;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.67;
        letter-spacing: 0.5px;
        color: $white;
      }
    }

    .item-img {
      margin-top: 1rem;
      margin-bottom: 1rem;
      border-radius: 5px;
      height: 320px;

      .card {
        // background-color: white;
        border-radius: 5px;
        width: 100%;
        // box-shadow: 0 0 20px #000;
        box-shadow: 1px 1px 16px 0 rgba(0, 0, 0, 0.16);
        padding-top: 4rem;
        padding-bottom: 4rem;
        padding-left: 2rem;
        padding-right: 2rem;

        &.thumb1 {
          background: url('~assets/images/media_assets/frontpage/3_TrackRecord/thumb1.jpg') no-repeat center center;
          background-size: cover;
        }

        &.thumb2 {
          background: url('~assets/images/media_assets/frontpage/3_TrackRecord/thumb2.jpg') no-repeat center center;
          background-size: cover;
        }

        &__content {
          background-color: white;
          // padding: 8rem 2rem;

          &--title {
            font-size: 2.4rem;
            font-weight: 700;
            font-style: normal;
            font-stretch: normal;
            line-height: 0.5;
            letter-spacing: 3.3px;
            color: $denim;
          }

          &--details {
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.67;
            letter-spacing: 1px;
            color: $gray;
            margin-top: 3rem;
          }
        }

        &__image {
          border-radius: 5px;
        }

        .card-body {
          padding: 3rem 2rem;
        }
      }
    }

  }

  .div-fourth {
    // background-image: url('../images/Oval.png');
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-size: contain;
    // transition-duration: 0.1s;
    padding: 4rem 4rem 0rem 4rem;
    background-color: #f8f8f8 !important;
    border: 20px solid #f8f8f8;
    min-height: 1000px;
    //transition-duration: 300ms;
    //transition-property: all;
    //transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);

    /*margin-top: 7rem;*/
    margin-bottom: 2rem;
    .div-right {
      padding-left: 3rem;
      padding-right: 3rem;

      p {
        color: $gray;
      }
    }

    .nav-tabs {
      border-bottom: unset;

      li {
        margin-right: 3.5rem;
        a {
          border-left: unset;
          border-right: unset;
          border-top: unset;

          font-family: Effra;
          font-size: 18px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.5px;

          padding: 10px 0px;

          transition: color 0.5s;
          transition: border 0.5s;
        }

        a:hover {
          background: unset;
          border-left: unset;
          border-right: unset;
          border-top: unset;
          border-bottom: solid 6px $blue;
          color: $blue;

          transition: color 0.5s;
          transition: border 0.5s;
        }
      }

      li.active {
        a {
          // border: unset;
          border-left: unset;
          border-right: unset;
          border-top: unset;
          border-bottom: solid 6px $blue;
          color: $blue;

          transition: color 0.5s;
          transition: border 0.5s;
        }
      }

      // White style for background image
      .white {
        color: $white;
      }

      .white:hover {
        background: unset;
        // border: unset;
        border-radius: 0px;
        color: $white;
        // border: unset;
        border-left: unset;
        border-right: unset;
        border-top: unset;
        border-bottom: solid 6px $blue;
      }

      li.active {
        .white {
          background: unset;
          // border: unset;
          border-radius: 0px;
          color: $white;
        }

        .white:hover {
          background: unset;
          border-bottom: solid 6px $blue;
          border-radius: 0px;
          color: $white;
        }
      }
    }

    .tab-content {
      .vision-background {
        background-image: url('~assets/images/media_assets/frontpage/4_VisionTeam/vision-bg.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
      }

      .team-background {
        background-image: url('~assets/images/media_assets/frontpage/4_VisionTeam/team-bg.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
      }

      .tab-pane {
        .tab-title {
          &__caption {
            font-size: 2.8rem;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 1.8px;
            color: $gray;

            span {
              color: $blue;
            }
          }
        }

        .tab-details {

          &--p {
            font-family: Effra;
            font-size: 18px;
            font-weight: 400;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.67;
            letter-spacing: 0.5px;
            color: $gray !important;
          }
        }

        // Team content style
        .team-content {
          &__first-title {
            font-family: Effra;
            font-size: 1.2rem;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 1.1px;
            color: $blue;
          }

          &__second-title {
            margin-top: 1.3rem;
            font-family: Effra;
            font-size: 2.8rem;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 1.5px;
            color: $blue;

            &--white {
              color: $white;
            }
          }

          &__content {
            margin: 2rem 0rem 4rem;
            font-family: Effra;
            font-size: 1.2rem;
            font-weight: 400;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.67;
            letter-spacing: 0.5px;
            color: $white;
          }
        }

      }

    }
  }

}

@media (min-width: 1400px) {
  .pHome {

    .div-first {
      .header-overlay {
        height: 646px;
        width: 597px;
        position: absolute;
        left: 24%;
        top: 0;
      }

      .title-list {
        .header-title {
          font-family: Effra;
          font-size: 86px !important;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 4.8px;
        }
      }

      .scroll-down__title {
        text-transform: uppercase;
        font-family: Effra;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 5px;
        text-align: center;
        color: #ffffff;
      }

    }

    .div-second {
      .card {
        .title-project {
          font-size: 20px;
        }

        .title1 {
          font-size: 66px;
          font-family: Effra;
          font-weight: 500;
        }

        .title2 {
          font-size: 46px;
          font-family: Effra;
          font-weight: 500;
        }

        .card-text {
          font-size: 18px;
        }

      }
    }

    .div-third {
      .div-left {
        h2 {
          font-size: 66px !important;
        }
        p {
          font-size: 18px !important;
        }
      }

      .item-img {
        .card {
          &__content {
            // padding: 8rem 2rem;

            &--title {
              font-size: 60px;
            }

            &--details {
              font-size: 18px;
            }
          }

        }
      }

    }

    .div-fourth {
      .tab-content {
        .tab-pane {
          .tab-title {
            &__caption {
              font-size: 66px;
            }
          }

          .tab-details {

            &--p {
              font-family: Effra;
              font-size: 18px;
            }
          }

          // Team content style
          .team-content {
            &__first-title {
              font-size: 20px;
            }

            &__second-title {
              font-size: 66px;

              &--white {
                color: $white;
              }
            }

            &__content {
              font-size: 18px;
            }

          }
        }
      }

    }

  }
}

.pHomeMobile {
  font-family: Effra, Helvetica, sans-serif;

  .section {
    background-color: $white;
    color: $white;
    padding: 50px 30px;
    position: relative;

    .section-heading {
      font-size: 20px;
      color: $blue;
      font-family: Effra, sans-serif;
      font-weight: 500;
    }

    .section-description {
      p {
        color: inherit;
        margin: 0;
        font-size: 18px;
      }
    }

    &.section-intro {
      background-image: url('~assets/images/media_assets/frontpage/1_Header/header-fp-fallback.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: relative;
      min-height: 565px;

      .section-heading {
        margin-top: 100px;
        h1 {
          color: $white;
          font-size: 42px;
          font-family: Effra, sans-serif;
          font-weight: 500;
        }
      }

      .btn-next-screen {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 200px;
        padding: 10px 17px;
        border: 1px solid $white;
        font-size: 20px;
        color: $white;
        border-radius: 50%;
        text-align: center;
        z-index: 100;
      }
    }

    &.section-project {
      background-image: url('~assets/images/media_assets/frontpage/2_ProjectsMap/bg-project.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      .section-heading {
        font-size: 20px;
        font-family: Effra, sans-serif;
        font-weight: 500;
      }

      .section-description {
        font-size: 34px;
        line-height: 1.25;
      }

      .project-carousel {
        .owl-carousel {

          display: block;
          .owl-stage {

            .owl-item {
              display: block;
            }

            .project-item {
              .project-name {
                font-size: 28px;
                color: $blue;
              }

              .project-content {
                margin-top: 20px;
                color: $white;
                line-height: 1.5;
                letter-spacing: .9px;
                font-family: Effra, sans-serif;
                font-size: 18px;
              }
            }
          }

          .owl-dots {
            margin-top: 30px;
            padding-bottom: 10px;
            text-align: center;

            .owl-dot {
              margin-right: 15px;
              width: 4px;
              height: 4px;
              border: 1px solid $white;
              background-color: $white;
              border-radius: 50%;
              transform: translateY(50%);

              &:last-child {
                margin: 0;
              }

              &.active {
                width: 13px;
                height: 13px;
                border: 1px solid $blue;
                background-color: transparent;
              }
            }
          }

          .owl-nav {
            bottom: 0;

            .owl-prev, .owl-next {
              position: absolute;
              bottom: 0;
              width: 30px;
              height: 30px;
              transition: all .5s linear 0s;

              img {
                max-width: 100%;
                object-fit: cover;
              }

              &.disabled {
                opacity: 0;
              }
            }

            .owl-prev {
              transform: rotate(180deg);
              left: 0;
            }

            .owl-next {
              right: 0;
            }

            i {
              font-size: 30px;
              color: $blue;
            }
          }
        }
      }
    }

    &.section-map {
      min-height: 414px;
      position: relative;

      // background-image: url('../images/media_assets/frontpage/2_ProjectsMap/map.png');
      background-image: url('~assets/images/media_assets/frontpage/2_ProjectsMap/bg-map-mobile.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      .locations {
        ul {
          > li {
            position: absolute;
            transition-duration: 0.2s;

            > img {
              width: 20px;
              height: 20px;
              object-fit: contain;

              &.active {
                width: 35px;
                height: 35px;
                display: none;
              }
            }

            &.active {
              > img {
                display: none;

                &.active {
                  display: block;
                }
              }
            }

            &.project-1 {
              left: 65%;
              top: 31%;

              &.active {
                left: 63%;
                top: 29%;
              }
            }

            &.project-2 {
              left: 30%;
              top: 24%;

              &.active {
                left: 28%;
                top: 22%;
              }
            }
          }
        }
      }

      .mugga-lane-location {
        position: absolute;
        left: 79.5%;
        top: 41%;
        transition-duration: 0.2s;
      }
      .mugga-lane-location-active {
        position: absolute;
        left: 78.5%;
        top: 39.2%;
        transition-duration: 0.2s;
      }

      .sunraysia-solar-location {
        position: absolute;
        left: 65.5%;
        top: 35%;
        transition-duration: 0.2s;
      }
      .sunraysia-solar-location-active {
        position: absolute;
        left: 64.5%;
        top: 33.1%;
        transition-duration: 0.2s;
      }
    }

    &.section-track {

      background-image: url('~assets/images/media_assets/frontpage/3_TrackRecord/track-record-bg.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      .section-heading {
        color: $white;
        font-size: 34px;
      }

      .section-description {
        font-family: Effra, sans-serif;
        line-height: 1.5;
        font-size: 18px;
      }
    }

    &.section-sub-track {
      padding: 0;

      .section-first,
      .section-second,
      .section-third,
      .section-four {
        min-height: 320px;
        background-color: $white;
        padding: 30px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      .section-second {
        background-image: url('~assets/images/media_assets/frontpage/3_TrackRecord/thumb1.jpg');
      }

      .section-four {
        background-image: url('~assets/images/media_assets/frontpage/3_TrackRecord/thumb2.jpg');
      }

      .content-middle {
        display: flex;
        justify-content: center;
        justify-items: center;
        flex-flow: column;
      }

      .section-title {
        color: #195AC0;
        font-size: 42px;
        font-family: Effra, sans-serif;
        font-weight: 700;
      }

      .section-description {
        color: $gray;
        font-size: 18px;
        font-family: Effra, sans-serif;
        font-weight: 500;
      }
    }

    &.section-vision {
      background-color: #F8F8F8;
      padding-top: 70px;
      padding-bottom: 70px;

      .section-heading {
        color: $gray;
        font-size: 42px;
      }

      .section-description {
        font-size: 18px;
        color: $gray;
        font-family: Effra, sans-serif;

        p {
          line-height: 1.5;
          letter-spacing: .5px;
          margin-bottom: 20px;

          &:last-child {
            margin: 0;
          }
        }
      }
    }

    &.section-team {
      background-image: url('~assets/images/media_assets/frontpage/4_VisionTeam/team-bg.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      padding-top: 60px;
      padding-bottom: 60px;

      .section-heading {
        color: $blue;
        font-size: 20px;
      }

      .section-description {
        color: $white;
        margin-top: 20px;
        font-size: 18px;
        line-height: 1.5;
        letter-spacing: .5px;
        font-family: Effra, sans-serif;

        p {
          color: inherit;
          font-size: inherit;
          font-weight: 500;
          padding: 30px 0px;
        }
      }

      .btn{
        font-family: Effra, sans-serif;
        font-weight: 500;
        border-radius: 0px;
        color: $white;
        letter-spacing: 2.5px;
        border-width: 1px;
      }
    }

    &.section-news {
      padding-top: 70px;
      padding-bottom: 70px;
      background-color: $white;

      .section-heading {
        color: $blue;
        font-size: 20px;
      }

      .section-description {
        color: $gray;
        font-family: Effra, sans-serif;
        font-weight: 500;

        h1 {
          font-size: 34px;
        }
      }

      .news-carousel {
        margin-top: 30px;

        .owl-carousel {
          display: block;

          .owl-stage-outer {
            margin: 0 -30px;
            padding: 0 30px;
          }

          .owl-stage {
            .owl-item {
              display: block;
            }

            .news-item {
              position: relative;
              width: 275px;
              min-height: 310px;
              border-radius: 10px;
              padding: 25px;
              position: relative;

              background-color: #f8f8f8;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;

              &:before {
                border-radius: 10px;
                position: absolute;
                content: '';
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.2);
                z-index: 50;
              }

              .news-time {
                color: $white;
                letter-spacing: .5px;
                z-index: 100;
                position: relative;
              }

              .news-info {
                position: absolute;
                bottom: 25px;
                left: 25px;
                right: 25px;
                z-index: 100;

                .news-title {
                  margin-top: 28px;
                  color: $blue;
                  letter-spacing: 1.24px;
                  font-family: Effra, sans-serif;
                  font-weight: 500;
                  max-height: 160px;
                  overflow: hidden;
                }

                .news-link {
                  a {
                    height: 30px;
                    width: 30px;
                    display: block;

                    &:after {
                      content: "\E628";
                      font-family: themify;
                      color: $white;
                      font-size: 30px;
                      line-height: 1;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &.section-project-detail {
      background-color: #F8F8F8;
      padding-top: 70px;
      padding-bottom: 0;

      .project-carousel {
        .owl-carousel {
          display: block;
          .owl-stage {

            .owl-item {
              display: block;
            }

            .project-item {
              .project-name {
                font-size: 34px;
                color: $gray;
              }

              .project-content {
                margin-top: 20px;
                font-family: Effra;
                font-size: 18px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.67;
                letter-spacing: 0.5px;
                color: $gray;

                p {
                  line-height: 2;
                  margin-bottom: 20px;
                  color: inherit;
                  font-size: inherit;
                }
              }
            }
          }

          .owl-dots {
            margin-top: 90px;
            padding-bottom: 30px;
            text-align: center;
            .owl-dot {
              margin-right: 15px;
              width: 4px;
              height: 4px;
              border: 1px solid $blue;
              background-color: transparent;
              border-radius: 50%;
              transform: translateY(50%);

              &:last-child {
                margin: 0;
              }

              &.active {
                width: 13px;
                height: 13px;
              }
            }
          }

          .owl-nav {
            bottom: 0;

            .owl-prev, .owl-next {
              position: absolute;
              bottom: 0;
              width: 75px;
              height: 75px;

              img {
                width: 75px;
                height: 75px;
                object-fit: cover;
              }
            }

            .owl-prev {
              left: -30px;
            }

            .owl-next {
              right: -30px;
            }
          }
        }
      }
    }
  }
}
