.pNews {
  background-color: $alabaster;

  .div-first {
    // background-image: url('../images/HeaderNews.png');
    // background-position: top left;
    // background-repeat: no-repeat;
    // background-size: cover;

    .header-overlay {
      height: 597px;
      width: 641px;
      position: absolute;
      left: 20%;
      top: 0;
    }

    .title-list {
      text-align: left;
      width: 80%;
      margin-left: 20%;
      margin-top: 4rem;

      h1 {
        font-family: Effra;
        font-size: 80px!important;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 4.4px;
        color: $blue;
      }
      h3 {
        color: $blue;
      }
      p {
        font-family: Effra;
        font-size: 16px!important;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 5px;
        color: $white;
      }
    }
    .categories {
      text-align: left;

      .category {
        margin-right: 25px;
        margin-top: 25px;
      }

      .category-item {
        background-color: $gray-100;
        padding: .5rem 2rem;
        border-radius: 3rem;
        transition-duration: 0.2s;

        font-family: Effra;
        font-size: 16px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        text-align: center;
        color: $mirage;
      }

      .category-item:hover {
        background-color: $blue;
        transition-duration: 0.2s;
      }

      .category-item.active {
        background-color: $blue;
        transition-duration: 0.2s;
      }
    }

  }

  .div-second {
    margin-top: 25px;

    .item-first {
      // background-image: url('../images/NewsItem1.png');
      // background-position: center center;
      // background-repeat: no-repeat;
      // background-size: inherit;
      padding-top: 3rem;
      padding-left: 3rem;
      padding-right: 3rem;
      padding-bottom: 3rem;
      margin-bottom: 2rem;
      min-height: 600px;

      position: relative;

      border-radius: 5px;
      box-shadow: 1px 1px 16px 0 rgba(0, 0, 0, 0.16);

      p {
        // margin-bottom: 24rem;

        font-family: Effra;
        font-size: 1.5rem;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        color: $white;
      }
      h3 {
        color: $white;
        font-family: Effra;
        font-size: 2.5em;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.5px;

        // Let the title at the end of the picture
        position: absolute;
        bottom: 0;
        margin-bottom: 3rem;
      }

    }
    .item-first::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.3);
    }

    .item-second,
    .item-third,
    .item-fourth {
      // background-image: url('../images/NewsItem2.png');
      // background-position: center center;
      // background-repeat: no-repeat;
      // background-size: inherit;

      min-height: 312px;

      padding-top: 2rem;
      padding-left: 2rem;
      padding-bottom: 2rem;
      border-radius: 5px;
      box-shadow: 1px 1px 16px 0 rgba(0, 0, 0, 0.16);

      position: relative;

      height: 310px;
      p {
        font-family: Effra;
        font-size: 22px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        color: $white;
      }
      h3 {
        font-family: Effra;
        font-size: 26px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: 1.5px;
        color: $white;

        margin-bottom: 2rem;

        // To get the title at the end of the box
        position: absolute;
        bottom: 0;
      }
    }

    .card::before {
      content: '';
      // margin: 0 15px;
      position: absolute;
      border-radius: 5px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      // background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
      background: linear-gradient(165deg, rgba(0, 0, 0, 0.05) 60%, rgba(38, 27, 27, 0.2) 60%);
      transition-duration: 0.5s;

      background-color: rgba(0, 0, 0, 0.3);
    }

    .card:hover::before {
      content: '';
      // margin: 0 15px;
      position: absolute;
      border-radius: 5px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      // background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
      background: linear-gradient(165deg, rgba(102, 161, 255, 0.4) 60%, rgba(255, 255, 255, 0.3) 60%);
      // background: linear-gradient(165deg, rgba(25, 87, 187, 0.5) 60%, rgba(102,161,255, 0.4) 60%);

      transition-duration: 0.5s;
      background-color: rgba(0, 0, 0, 0.5);
    }

    .card:hover {

      transform: scale3d(1.030, 1.030, 1);

      .card-body {
        &__info {
          &__expanded-component {
            max-height: 200px;
            transition: max-height 0.5s ease-in;
          }
        }
        &__title {
          color: $blue;
          transition-duration: 0.5s;
        }
      }
    }

    .card {
      transition: transform .5s;

      padding-top: 2rem;
      padding-bottom: 2rem;
      padding-left: 2rem;
      padding-right: 2rem;
      border-radius: 5px;
      min-height: 312px;
      box-shadow: 1px 1px 16px 0 rgba(0, 0, 0, 0.16);

      margin-top: 35px;

      .card-body {

        &__info {
          position: absolute;
          bottom: 0;
          margin-bottom: 2rem;
          margin-right: 2rem;

          width: 280px;

          &__expanded-component {
            max-height: 0px;
            width: 100%;
            overflow: hidden;
            transition: max-height 0.5s ease-out;
          }
        }

        &__date {
          font-size: 24px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.7px;
          color: #ffffff;
          margin-bottom: 3rem;
        }

        &__title {
          font-size: 28px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: 1.5px;
          color: $white;

          min-height: 60px;

          transition-duration: 0.5s;

          // test text overflow
          // overflow: hidden;
          // white-space: nowrap;
          // text-overflow: ellipsis;
          // max-height: 64px;

          &--white {
            color: $white;

            // Get title to
            // position: absolute;
            // bottom: 0;
            // margin-bottom: 2rem;
            // margin-right: 2rem;
          }
        }

        &__details {
          font-family: Effra;
          font-size: 14px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.56rem; /* fallback */
          letter-spacing: 0.5px;
          color: #ffffff;

          // Text overflow ellipsis
          // First case
          // overflow: hidden;
          // text-overflow: ellipsis;
          // display: -webkit-box;
          // -webkit-box-orient: vertical;
          // -webkit-line-clamp: 2; /* number of lines to show */
          // max-height: 3.12rem;       /* fallback */

          // Second try
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;

          // min-height: 42px;
          // max-height: 42px;
        }

        &__icon {
          // min-height: 45px;
          position: relative;
          display: block;
          width: 45px;
          height: 45px;
          background: url('../images/next_white.svg');
          background-repeat: no-repeat;
          background-size: contain;
        }

      }
    }

    // Start card-first
    .card-first {
      @media (min-width: 767px) and (max-width: 992px) {
        height: 480px!important;
      }

      @media (min-width: 992px) and (max-width: 1200px) {
        height: 540px!important;
      }

      height: 600px;

      padding-top: 3rem;
      padding-left: 3rem;
      padding-right: 3rem;
      padding-bottom: 3rem;
      margin-bottom: 2rem;
      // min-height: 600px;

      box-shadow: 1px 1px 16px 0 rgba(0, 0, 0, 0.16);

      margin-top: 35px;

      .card-body {
        // Start media width 767px - 992px
        @media (min-width: 767px) and (max-width: 992px) {
          &__info {
            width: 30rem!important;
          }

          &__date {
            font-size: 22px!important;
          }

          &__title {
            font-size: 36px!important;
          }

          &__details {
            font-size: 16px!important;
          }

          &__icon {
            width: 38px!important;
            height: 38px!important;
          }
        }
        // End media width 767px - 992px

        // Start media width 992px - 1200px
        @media (min-width: 992px) and (max-width: 1200px) {
          &__info {
            width: 50rem!important;
          }

          &__date {
            font-size: 24px!important;
          }

          &__title {
            font-size: 42px!important;
          }

          &__details {
            font-size: 18px!important;
          }

          &__icon {
            width: 48px!important;
            height: 48px!important;
          }
        }
        // End media width 992px - 1200px

        &__info {
          margin-top: 25px;
          width: 60rem;
        }

        &__date {
          font-size: 24px;
        }

        &__title {
          font-family: Effra;
          font-size: 56px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 1.5px;

          &--white {
            color: $white;
          }
        }

        &__details {
          font-size: 18px;
        }

        &__icon {
          // min-height: 45px;
          position: relative;
          display: block;
          width: 64px;
          height: 64px;
        }

      }
    }
    // End card-first

    // Start card-second
    .card-second {
      .card-body {
        // Start media width 767px - 992px
        @media (min-width: 767px) and (max-width: 992px) {
          &__info {
            width: 30rem!important;
          }
        }
        // End media width 767px - 992px

        // Start media width 992px - 1200px
        @media (min-width: 992px) and (max-width: 1200px) {
          &__info {
            width: 200px!important;
          }

          &__title {
            font-size: 24px!important;
          }

          &__details {
            font-size: 14px!important;
          }

          &__icon {
            width: 36px!important;
            height: 36px!important;
          }
        }
        // End media width 992px - 1200px

        // Start media width 992px - 1200px
        @media (min-width: 1200px) and (max-width: 1400px) {
          &__title {
            font-size: 24px!important;
          }

          &__details {
            font-size: 14px!important;
          }

          &__icon {
            width: 42px!important;
            height: 42px!important;
          }
        }
        // End media width 992px - 1200px

        &__info {
          width: 300px;
        }

        &__title {
          font-size: 34px;

          &--white {
            color: $white;
          }
        }

        &__details {
          font-size: 18px;
        }

      }
    }
    // End card-second
  }

  .item-second::before,
  .item-third::before,
  .item-fourth::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .div-third {
    margin-top: 3rem;
    // margin-bottom: 5rem;
    .card {
      padding: 3rem 0;

      .card-title {
        font-family: Effra;
        font-size: 36px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.3;
        letter-spacing: 1px;
        color: $blue;

        &:hover {
          text-decoration: underline;
        }
      }

      .card-date {
        font-family: Effra;
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.8px;
        color: $gray;
      }

      .card-text {
        font-family: Effra;
        font-size: 18px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.67;
        letter-spacing: 0.5px;
        color: $gray;
      }

      .card-link i {
        position: relative;
        display: block;
        font-size: 35px;
        color: $woodsmoke;

        &:hover {
          color: $blue;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .pNews {
    .div-first {
      background-image: linear-gradient(#23AEB7, #2879CF);

      .header-overlay {
        display: none;
      }

      .title-list {
        width: 100%;
        margin-left: unset;
        margin-top: 4rem;
      }
    }

    .div-second {
      .item-second,
      .item-third,
      .item-fourth {
        margin-top: 25px;
      }

    }
  }
}

@media (min-width: 1400px) {
  .pNews {
    .div-first {
      .header-overlay {
        height: 641px;
        width: 597px;
        position: absolute;
        left: 20%;
        top: 0;
      }

      .title-list {
        width: 70%;
        margin-left: 20%;
        margin-top: 8rem;
      }
    }

    .div-second{
      .item-first {
        padding-top: 3rem;
        padding-left: 115px;
        padding-bottom: 3rem;
        padding-right: 115px;

        p {
          font-size: 30px;
        }

        h3 {
          font-size: 56px;
        }
      }

      .item-second,
      .item-third,
      .item-fourth {
        min-height: 410px;

        p {
          font-size: 24px;
        }

        h3 {
          font-size: 34px;
        }
      }
    }

    .div-third {
      .card {
        .card-title {
          font-size: 46px;
        }
      }
    }
  }
}

@media (min-width: 1700px) {
  .pNews {
    .div-first {
      .header-overlay {
        height: 641px;
        width: 597px;
        position: absolute;
        left: 20%;
        top: 0;
      }

      .title-list {
        width: 70%;
        margin-left: 10%;
        margin-top: 8rem;
      }
    }
  }
}

.pNewsMobile {
  .section {
    &.section-index {
      padding-top: 100px;
      padding-bottom: 60px;
      min-height: 500px;
      background-image: linear-gradient(#23AEB7, #2879CF);

      .section-heading {
        font-size: 16px;
        font-family: Effra, sans-serif;
        font-weight: 400;
        color: $white;
        letter-spacing: 5px;
      }

      .section-description {
        font-size: 42px;
        font-family: Effra, sans-serif;
        font-weight: 500;
        color: $white;
        letter-spacing: 2.4px;
      }
    }

    .div-category {
      .category-btn {
        margin-right: 15px;
      }

      .btn {

        margin-right: 15px;
        margin-top: 15px;
        letter-spacing: .6px;

        &.btn-white {
          padding: 10px 25px;
          border-radius: 25px;
          line-height: 1;
          transition: all .2s linear;

          &.active {
            color: $white;
            background-color: $blue;
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &.section-news-list {
      .news-item {
        min-height: 320px;
        border-radius: 5px;
        padding: 25px;
        position: relative;

        background-color: $white;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &:before {
          content: '';
          border-radius: 5px;
          z-index: 50;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: rgba(0, 0, 0, 0.2);
        }

        &.first-item {

          .news-info {
            .news-title {
              color: $blue;
              font-size: 28px;
            }

            .news-description {
              font-family: Effra;
              font-size: 18px;
            }
          }
        }

        > a {
          display: flex;
          flex-wrap: wrap;
          align-content: space-between;
          height: 100%;
          flex-flow: column;
        }

        .news-date {
          color: $white;
          font-size: 20px;
          font-family: Effra, sans-serif;
          font-weight: 500;
          letter-spacing: 0.6px;
          position: relative;
          z-index: 100;
        }

        .news-info {
          position: absolute;
          bottom: 25px;
          left: 25px;
          right: 25px;
          z-index: 100;

          .news-title {
            color: $white;
            font-size: 28px;
            font-family: Effra, sans-serif;
            font-weight: 500;
            letter-spacing: 1.24px;
            margin: 0;
          }

          .news-description {
            color: $white;
            max-height: 82px;
            overflow: hidden;

          }
          .news-links {
            > a {
              height: 30px;
              width: 30px;
              display: block;

              &:after {
                content: "\e628";
                font-family: themify;
                color: #fff;
                font-size: 30px;
                line-height: 1;
              }
            }
          }
        }
      }
    }

    &.section-news-filter {
      background-color: $white;
      padding-bottom: 70px;

      .news-item {

        .news-title {
          color: $blue;
          font-size: 34px;
          letter-spacing: 0.77px;
          margin: 0;
        }

        .news-date {
          color: $gray;
          font-size: 20px;
          letter-spacing: 0.8px;
          font-family: Effra, sans-serif;
          font-weight: 400;
        }

        .news-description {
          color: $gray;
          font-size: 18px;
          font-family: Effra, sans-serif;
          letter-spacing: .5px;
        }

        .news-links {
          > a {
            position: relative;
            display: block;
            width: 45px;
            height: 45px;
            background: url('../images//RightArrow.png');
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
      }
    }
  }
}
