.pNewsSlug {
  .div-first {
    background-color: $white;
    .title-list {
      text-align: center;
      width: 60%;
      margin-left: 20%;

      h1 {
        color: $black;
        margin-bottom: 1.5rem;
      }
      h2 {
        color: $blue;
        font-size: 1rem;
      }
    }
  }

  .div-second {
    background-color: #F8F8F8;
    .cover-image {
      margin-bottom: 3rem;

      .news-detail-image {
        width: 100%;
        // margin-left: 190px;
        // margin-right: 190px;
      }
    }
    .news-content {
      margin-top: 1rem;
      margin-right: 6rem;
      margin-bottom: 6rem;
      margin-left: 3rem;
      font-family: Effra;

      h1, h2 {
        margin-bottom: 30px;
        font-weight: 700;
      }

      p {
        font-size: 18px;
        font-weight:400;
        padding: 10px 0px;
      }

      blockquote {
        border-left: 5px solid $blue;
        margin: 40px 0px;

        &,p {
          font-weight: 500;
          font-size: 20px;
          padding: 0px 20px;
        }
      }
    }
  }

  .div-third {
    margin-top: 3rem;
    margin-bottom: 5rem;
    .card {
      padding: 3rem 3rem;

      .card-position {
        font-family: Effra;
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.1px;
        color: $blue;
        margin-bottom: 20px;
      }
      .card-title {
        font-family: Effra;
        font-size: 40px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.3;
        letter-spacing: 1px;
        color: $blue;

        & a {
          color: $blue;
        }

        &:hover {
          text-decoration: underline;
        }
      }
      .card-date {
        font-family: Effra;
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.8px;
        color: $gray;
      }
      .card-text {
        font-family: Effra;
        font-size: 16px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.67;
        letter-spacing: 0.5px;
        color: $gray;
      }
      .card-left {
        text-align: left;
      }
      .card-link-left {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 30px;
      }
      .card-right {
        text-align: right;
      }
      .card-link-right {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 30px;
      }
      .arrow {
        color: $blue;
        transition-duration: 300ms;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
        &:hover {
          color: #33ab90;
        }
      }
    }
  }
}

.pNewsSlugMobile {
  .section {

    &.section-index {
      padding-top: 100px;
      background-color: #F3F1F1;

      .section-heading {
        margin-top: 100px;
        color: $gray;
        font-size: 42px;
        font-family: Effra, sans-serif;
        font-weight: 500;
        letter-spacing: 2.74px;
      }

      .section-description {
        color: $blue;
        font-size: 20px;
        font-family: Effra, sans-serif;
        font-weight: 500;
        letter-spacing: 0.63px;
        line-height: 1.25;
      }
    }

    &.section-article {
      padding: 0;
      background-color: #F3F1F1;

      .article-title {
        margin-top: 200px;
      }

      .article-image {
        img {
          max-width: 100%;
          height: auto;
          object-fit: cover;
        }
      }

      .article-content {
        padding: 30px;
        font-family: Effra, sans-serif;
        letter-spacing: 0.45px;
        font-size: 18px;
        line-height: 1.25px;
        color: $gray;

        h1, h2 {
          font-family: Effra, sans-serif;
          margin-bottom: 30px;
          font-size: 25px;
        }

        p {
          font-size: inherit;
          margin-bottom: 30px;
          color: inherit;
        }

        blockquote {
          border-left: 5px solid $blue;
          margin: 40px 0px;

          &,p {
            font-weight: 400;
            font-size: 18px;
            padding: 0px 10px;
          }
        }

        img {
          max-width: 100%;
        }

        .article-caption {
          padding-left: 40px;
          border-left: 10px solid $blue;
          font-size: 18px;
          font-family: Effra, sans-serif;
          font-weight: 500;
          letter-spacing: 0.45px;
        }
      }
    }

    &.section-next-article {
      background-color: $white;
      padding-top: 75px;
      padding-bottom: 75px;

      .section-heading {
        color: $blue;
        font-size: 20px;
        font-family: Effra, sans-serif;
        font-weight: 500;
        letter-spacing: 1.11px;
      }

      .news-item {

        .news-title {
          color: $blue;
          font-size: 34px;
          letter-spacing: 0.77px;
          margin: 0;
          font-family: Effra, sans-serif;
          font-weight: 500;
        }

        .news-date {
          color: $gray;
          font-size: 20px;
          letter-spacing: 0.8px;
          font-family: Effra, sans-serif;
          font-weight: 400;
        }

        .news-description {
          color: $gray;
          font-size: 18px;
          font-family: Effra, sans-serif;
          font-weight: 400;
          letter-spacing: .5px;
        }

        .news-links {
          > a {
            position: relative;
            display: block;
            width: 45px;
            height: 45px;
            background: url('../images//RightArrow.png');
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
      }
    }
  }
}
