.pPageNotFound {
    .div-first {
        background-color: $white;

        .error-content {
            margin-top: 305px;

            .error-message {
                text-align: center;
                 &__title {
                    font-family: Effra;
                    font-size: 86px!important;
                    font-weight: 500;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.1;
                    letter-spacing: 0.7px;
                    color: $gray;

                    &--blue {
                        color: $blue;
                    }
                }

                &__subtitle {
                    margin-top: 50px;

                    font-family: Effra;
                    font-size: 20px;
                    font-weight: 500;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.5;
                    letter-spacing: 0.5px;
                    text-align: center;
                    color: $mirage;
                }

            }

            .error-btn {
                margin-top: 55px;
                margin-bottom: 160px;

                align-items: center;
                justify-content: center;
                display: flex;

                .home-btn {
                    text-transform: uppercase;
                    
                    margin: 25px auto;
                    padding: 1.2rem 3.0rem;

                    border-radius: 0px;
                    border: solid 1px $tundora;

                    font-family: Effra;
                    font-size: 16px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: 2.3px;
                    text-align: center;
                    color: $tundora;

                    transition-duration: 0.2s;
                }

                .home-btn:hover {
                    background-color: $tundora;
                    transition-duration: 0.2s;
                    color: $white;
                }
            }
        }
    }
}