.pProjects {
  .div-first {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center !important;

    .title-content {
      margin-top: 240px;
      padding-top: unset;
    }

    @media (max-width: 992px) {
      .header-overlay {
        height: 480px !important;
      }

      .title-list {
        &__page-name {
          font-size: 14px !important;
        }

        h1, h2, h3 {
          font-size: 44px !important;
        }
      }
    }

    .header-overlay {
      height: 530px;
      width: 470px;
      position: absolute;
      left: 17%;
      top: 0;
    }

    .title-list {
      text-align: left;
      width: 60%;
      margin-left: 20%;
      margin-bottom: 3rem;
      padding-top: unset;

      &__page-name {
        margin-left: 5px;

        font-family: Effra;
        font-size: 16px !important;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 5px;
        color: $white;
      }

      h1 {
        font-family: Effra;
        font-size: 3.775rem;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 4.1px;
        color: $blue;
      }

      h2 {
        font-family: Effra;
        font-size: 3.775rem;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 4.1px;
        color: $white;
      }

      h3 {
        font-family: Effra;
        font-size: 3.775rem;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 4.1px;
        color: $white;
      }
    }

    .scroll-down-btn {

    }
  }

  .div-second {
    .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }

    .project-content {
      background-color: $alabaster;
    }

    .div-left {
      &__carousel {
        // .carousel-indicators {
        //   top: 5%;
        //   right: 5%;
        //   width: unset;
        //   left: unset;
        // }

        .carousel-control {
          height: unset;
          width: unset;
          top: unset;
          // bottom: 1rem;
          // right: 3%;
          left: unset;
          color: #6be3c2;
          z-index: 30;
          opacity: 0.8;
          transition-duration: 0.1s;

          &.left {
            // right: 15%;
            left: 0;
            bottom: 0;
            background-image: unset;
          }

          &.right {
            right: 0;
            bottom: 0;
            background-image: unset;
            // margin-right: 1rem;
          }

          .arrow-icon {
            width: 72px;
            height: 72px;
          }
        }

        .carousel-control:hover {
          opacity: 1;
          transition-duration: 0.1s;
        }

      }

      .card {
        // border: 1px solid;
        text-align: left;
        padding: 3rem;
        padding-top: 5em;
        padding-bottom: 3em;
        padding-left: 3em;
        padding-right: 3em;
        // background-color: $woodsmoke;
        margin: 0 3rem;
        margin: 0 0;

        height: 740px;

        .title-project {
          color: $blue;
          font-weight: bold;
        }
        .title1 {
          color: $white;
          padding-bottom: 2.5rem;
          font-size: 45px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.06;
          letter-spacing: 1.5px;
        }
        .title2 {
          color: $blue;
          margin-bottom: 1em;
        }
        .card-text {
          color: $white;
          padding-bottom: 1.5em;
        }
        .card-link {
          border: 1px solid $white;
          padding: .5rem 2rem;
          color: $white;
        }
      }

      // To make invisible
      .statistic-1 {
        &__caption {
          font-size: 3.5rem;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: unset;
          letter-spacing: 1.5px;
          color: $denim;
        }

        &__details {
          font-family: Effra;
          font-size: 1.4rem;
          font-weight: 400;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: 0.6px;
          color: $gray;
        }
      }

      .statistic-2 {
        &__caption {
          font-size: 3.5rem;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: unset;
          letter-spacing: 1.5px;
          color: $denim;
        }

        &__details {
          font-family: Effra;
          font-size: 1.4rem;
          font-weight: 400;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: 0.6px;
          color: $gray;
        }
      }
    }
    .div-right {
      padding: 3rem 5rem;
      height: 740px;

      .statistic {
        padding-bottom: 20px;

        & .caption {
          font-size: 3.5rem;
          font-weight: 700;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: 1.5px;
          color: $denim;
        }

        & .details {
          font-family: Effra;
          font-size: 1.4rem;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: 0.6px;
          color: $gray;
        }
      }

      .description {
        padding: 10px 30% 30px 0;

        & p {
          font-family: Effra;
          font-size: 1.0rem;
          font-weight: 400;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: 0.5px;
          line-height: 30px;
          color: $gray;
        }
      }

      @media (max-width: 1500px) {
        .description {
        padding: 10px 0px 30px 0;
      }
    }

      .website-button {
        box-shadow: unset;
        border: 1px solid black;
        border-radius: unset;

        font-size: 1rem;
        font-family: Effra;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 3px;
        text-align: center;
        color: $tundora;

        padding: 1rem 2rem;
      }
    }
    .img-responsive {
      width: 100%;
    }
  }

}

@media (min-width: 1400px) {
  .pProjects {
    .div-first {
      .title-content {
        margin-top: 280px;
      }

      .header-overlay {
        height: 641px;
        width: 597px;
        position: absolute;
        left: 8%;
        top: 0;
      }

      .title-list {
        margin-top: 280px;

        width: 80%;
        margin-left: 10%;
        margin-right: 10%;

        &__page-name {
          margin-left: 5px;

          font-family: Effra;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 5px;
          color: $white;
        }

        h1 {
          font-size: 80px;
        }

        h2 {
          font-size: 80px;
        }

        h3 {
          font-size: 80px
        }
      }
    }
  }
}

.pProjectsMobile {
  .section {
    &.section-index {
      background-image: url("~assets/images/media_assets/projects/bg-project.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      .section-heading {
        margin-top: 200px;
        margin-bottom: 15px;
        font-size: 16px;
        font-family: Effra, sans-serif;
        font-weight: 400;
        letter-spacing: 5px;
        color: $white;
      }

      .section-description {
        font-size: 42px;
        letter-spacing: 2.72px;
        line-height: 1.25;
      }
    }

    &.section-project {
      padding-top: 60px;
      padding-bottom: 75px;
      background-color: #F8F8F8;

      .project {
        color: $gray;

        .project-info {

          .project-title {
            font-family: Effra, sans-serif;
            font-size: 42px;
            color: #1B60CE;
            letter-spacing: 2.33px;
            margin: 0;
            font-weight: 700;
          }

          .project-intro {
            margin-top: 10px;
            font-size: 18px;
            font-family: Effra, sans-serif;
            font-weight: 400;
            letter-spacing: 1px;
          }
        }

        .project-content {
          margin-top: 40px;
          font-size: 18px;
          font-family: Effra, sans-serif;
          font-weight: 400;
          letter-spacing: 0.8px;

          > p {
            color: inherit;
            line-height: 2;
            font-weight: inherit;
            margin-bottom: 30px;
          }
        }

        .project-links {
          .btn {
            border-width: 2px;
            letter-spacing: 5px;
          }
        }
      }
    }

    &.section-projects {
      .owl-carousel {
        .owl-stage {

          .owl-item {
            display: block;
          }

          .project-item {
            .project-image {
              background-color: #f8f8f8;
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              height: 414px;

              > img {
                max-width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .project-content {
              margin-top: 20px;
              color: $gray;
              line-height: 2;
              letter-spacing: .8px;
              font-family: Effra, sans-serif;
              font-weight: 400;

              p {
                line-height: 2;
              }
            }
          }
        }

        .owl-dots {
          padding-bottom: 27px;
          text-align: center;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 90;

          .owl-dot {
            margin-right: 15px;
            width: 4px;
            height: 4px;
            border: 1px solid $blue;
            background-color: transparent;
            border-radius: 50%;
            transform: translateY(50%);

            &:last-child {
              margin: 0;
            }

            &.active {
              width: 13px;
              height: 13px;
            }
          }
        }

        .owl-nav {
          bottom: 0;

          .owl-prev, .owl-next {
            position: absolute;
            bottom: 0;
            width: 75px;
            height: 75px;
            z-index: 100;

            img {
              width: 75px;
              height: 75px;
              object-fit: cover;
            }
          }

          .owl-prev {
            left: 0px;
          }

          .owl-next {
            right: 0px;
          }
        }
      }
    }
  }
}
