.pTeam {
  .div-first {
    background: url('~assets/images/media_assets/team/header-team.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center !important;

    .title-content {
      margin-top: 240px;
      padding-top: unset;
    }

    @media (max-width: 992px) {
      .header-overlay {
        height: 480px !important;
      }

      .title-list {
        &__page-name {
          font-size: 14px !important;
        }

        h1, h2, h3 {
          font-size: 44px !important;
        }
      }
    }

    .header-overlay {
      height: 530px;
      width: 470px;
      position: absolute;
      left: 17%;
      top: 0;
    }

    .title-list {
      text-align: left;
      width: 60%;
      margin-left: 20%;
      margin-bottom: 3rem;
      padding-top: unset;

      &__page-name {
        margin-left: 5px;

        font-family: Effra;
        font-size: 16px !important;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 5px;
        color: $white;
      }

      h1 {
        font-family: Effra;
        font-size: 3.775rem;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 4.1px;
        color: $blue;
      }

      h2 {
        font-family: Effra;
        font-size: 3.775rem;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 4.1px;
        color: $white;
      }

      h3 {
        font-family: Effra;
        font-size: 3.775rem;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 4.1px;
        color: $blue;
      }
    }

    .scroll-down-btn {

    }
  }

  .div-second {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #F8F8F8;

    .swiper-pagination-fraction {
      // display: none;
    }

    .div-body {
      background-position: top left;
      background-repeat: no-repeat;
      // background-size: contain;
      background-size: 55% 95%;
      // background-size: 55% 90%;
      background-image: url('~assets/images/media_assets/team/profile-background.jpg');
      padding-top: 5%;
      // padding-bottom: 1rem;
    }

    .profile-slide {

      &__left {

        &__avatar {
          width: 288px;
          height: 288px;
          position: absolute;
          left: 17%;
          top: 15%;
        }

        &__profile-link {
          position: absolute;
          left: 18.8%;
          top: 63%;

          min-width: 239.86px;

          transition-duration: 0.5s;

          font-family: Effra;
          // font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 5px;
          text-align: center;
          color: $white;
          text-transform: uppercase;

          padding: 1rem 1.5rem;
          border: solid 2px $white;

          &--linkedin-icon {
            font-size: 16px;
          }

          &--text {
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 5px;
            text-align: center;
          }
        }

        &__profile-link:hover {
          color: $woodsmoke;
          background-color: $blue;
          border-color: $blue;
          transition-duration: 0.5s;
        }

      }

    }

    .card {
      min-height: 726px;

      // border: 1px solid;
      box-shadow: 1px 1px 16px 0 rgba(0, 0, 0, 0.16);
      width: 60%;
      text-align: left;
      padding: 3rem;
      background-color: $white;

      // margin-left: 18rem;
      margin-left: 45%;

      // height: 680px;
      display: inline-block;

      .title-project {
        color: $blue;
        font-weight: bold;
      }
      .card-link {
        border: 1px solid #000;
        padding: .5rem 2rem;
        color: #000;
      }

      .card-body {
        &__name {
          font-family: Effra;
          font-size: 32px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 1.5px;
          color: $gray;
        }

        &__position {
          font-family: Effra;
          font-size: 18px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 1.1px;
          color: $blue;
        }

        &__content {
          font-family: Effra;
          font-size: 16px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.67;
          letter-spacing: 0.5px;
          color: $gray;
        }

        &__profile-link:hover {
          // color: $white;
          // background-color: $woodsmoke;
          // transition-duration: 0.2s;
          // border: solid 2px $woodsmoke;
          color: $woodsmoke;
          background-color: $blue;
          border-color: $blue;
          transition-duration: 0.5s;
        }

        &__profile-link {
          display: none;

          margin-top: 25px;
          // display: inline-block;

          transition-duration: 0.5s;

          font-family: Effra;
          // font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 5px;
          text-align: center;
          color: $woodsmoke;
          text-transform: uppercase;

          padding: 1rem 1.5rem;
          border: solid 2px $woodsmoke;

          &--linkedin-icon {
            font-size: 16px;
          }

          &--text {
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 5px;
            text-align: center;
          }
        }
      }
    }
  }

  .div-third {
    .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }
    .item-img {
      margin-bottom: 2rem;
    }
    .div-left {
      padding: 85px 5rem 2rem 12rem;
      h2 {
        font-family: Effra;
        font-size: 66px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.5px;
        color: $gray;
      }

      p {
        margin-top: 25px;
        font-family: Effra;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.67;
        letter-spacing: 0.5px;
        color: $gray;
      }
    }

    .div-right {
      height: 100%;

      padding: 85px 12rem 2rem 5rem;

      background: linear-gradient(170deg, #161F1E 55%, #1C2726 55%);

      .contact-form {
        margin: 0;

        form {
          margin-top: 15px;
          input, textarea {
            font-size: 20px;
            font-family: Effra, sans-serif;
            border-color: $white;
            color: $white;
            @include placeholder($white);
            text-transform: inherit;
            letter-spacing: 1.11px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
          }

          > div {
            margin-bottom: 35px;
          }

          .btn {
            border: solid 1px $blue;

            font-family: Effra;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 2.3px;
            text-align: center;
            color: $blue;
          }

          .btn:hover {
            background-color: $blue;
            color: $woodsmoke;
          }
        }
      }

    }
  }

}

@media (max-width: 992px) {
  .pTeam {
    .div-second {
      .profile-slide {
        &__left {
          &__avatar {
            width: 176px!important;
            height: 176px!important;
            left: 37%!important;
            top: 7%!important;
          }

          &__profile-link {
            display: none;
          }
        }
      }

      .card {
        .card-body {
          &__name {
            font-size: 46px;
          }

          &__position {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .pTeam {
    .div-second {
      .profile-slide {
        &__left {
          &__avatar {
            width: 208px;
            height: 208px;
            left: 39%;
            top: 7%;
          }

          &__profile-link {
            display: none;

          }
        }

        .div-body {
          background-size: 100% 100%;
          padding-left: 0px!important;
          padding-right: 0px;
        }
      }

      .card {
        min-height: unset;

        width: 100%;
        margin-left: 0px;
        margin-top: 300px;

        .card-body {
          &__name {
            font-size: 46px;
          }

          &__position {
            font-size: 20px;
          }

          &__profile-link {
            display: inline-block;
          }
        }
      }
    }

    .div-third {
      .div-left {
        padding: 85px 10rem 2rem 10rem;
        h2 {
          font-size: 66px;
        }

        p {
          font-family: Effra;
        }
      }

      .div-right {
        padding: 85px 10rem 2rem 10rem;

        .contact-form {

          form {
            margin-top: 15px;
            > div {
              margin-bottom: 35px;
            }
          }
        }

      }
    }
  }
}

@media (min-width: 1400px) {
  .pTeam {
    .div-first {
      .title-content {
        margin-top: 280px;
      }

      .header-overlay {
        height: 641px;
        width: 597px;
        position: absolute;
        left: 8%;
        top: 0;
      }

      .title-list {
        margin-top: 280px;

        width: 80%;
        margin-left: 10%;
        margin-right: 10%;

        &__page-name {
          margin-left: 5px;

          font-family: Effra;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 5px;
          color: $white;
        }

        h1 {
          font-size: 80px;
        }

        h2 {
          font-size: 80px;
        }

        h3 {
          font-size: 80px
        }
      }
    }

    .div-second {
      .profile-slide {
        &__left {
          &__avatar {
            width: 320px;
            height: 320px;
            position: absolute;
            left: 16.5%;
            top: 16%;
          }

          &__profile-link {
            position: absolute;
            left: 19.4%;
            top: 68%;
          }
        }
      }

      .card {

        .card-body {
          &__name {
            font-size: 46px;
          }

          &__position {
            font-size: 20px;
          }

          &__content {
            font-size: 18px;
          }
        }
      }
    }

    .div-third {
      .div-left {
        padding: 85px 8rem 2rem 15rem;
        h2 {
          font-size: 66px;
        }

        p {
          font-family: Effra;
        }
      }

      .div-right {
        padding: 85px 15rem 2rem 8rem;

        .contact-form {

          form {
            margin-top: 15px;
            > div {
              margin-bottom: 35px;
            }
          }
        }

      }
    }
  }
}

.pTeamMobile {
  .section {
    &.section-index {
      background-color: $white;
      background-image: url('~assets/images/media_assets/team/header-team-mobile.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      .section-heading {
        margin-top: 200px;
        font-size: 16px;
        font-family: Effra, sans-serif;
        font-weight: 500;
        color: $white;
        letter-spacing: 5px;
      }

      .section-description {
        font-size: 42px;
        font-family: Effra, sans-serif;
        font-weight: 500;
        color: $white;
        letter-spacing: 5px;
        line-height: 1.25;
      }
    }

    &.section-profile {
      background-color: $white;
      background-image: url('~assets/images/media_assets/team/profile-background.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      padding-bottom: 0;

      .profile-carousel {
        .owl-carousel {
          .owl-stage {

            .owl-item {
              display: block;
            }

            .profile-item {
              .profile-image {
                padding: 30px;
                text-align: center;

                > img {
                  width: 234px;
                  height: 234px;
                  border-radius: 50%;
                  background-color: $white;
                  border-width: 0;
                  object-fit: cover;
                  display: inline-block;
                }
              }

              .profile-links {
                text-align: center;

                .btn {
                  font-family: Effra, sans-serif;
                  font-weight: 500;
                  letter-spacing: 5px;
                  i {
                    margin-right: 10px;
                  }
                }
              }
            }
          }

          .owl-dots {
            margin-top: 90px;
            padding-bottom: 30px;
            text-align: center;
            .owl-dot {
              margin-right: 15px;
              width: 4px;
              height: 4px;
              border: 1px solid $blue;
              background-color: transparent;
              border-radius: 50%;
              transform: translateY(50%);

              &:last-child {
                margin: 0;
              }

              &.active {
                width: 13px;
                height: 13px;
              }
            }
          }

          .owl-nav {
            bottom: 0;

            .owl-prev, .owl-next {
              position: absolute;
              bottom: 0;
              width: 75px;
              height: 75px;

              img {
                width: 75px;
                height: 75px;
                object-fit: cover;
              }
            }

            .owl-prev {
              left: -30px;
            }

            .owl-next {
              right: -30px;
            }
          }
        }
      }
    }

    &.section-profile-info {
      padding-top: 60px;
      padding-bottom: 60px;
      background-color: #F8F8F8;
      color: $gray;
      letter-spacing: 1.89px;

      .profile-name {
        font-family: Effra, sans-serif;
        font-weight: 700;
        font-size: 34px;
      }
      .profile-position {
        color: $blue;
        font-size: 20px;
        font-family: Effra, sans-serif;
        font-weight: 500;
        letter-spacing: 1.11px;
      }

      .profile-intro {
        font-family: Effra;

        ul {
          > li {
            margin-top: 30px;
            font-size: 18px;
          }
        }
      }
    }

    &.section-join-us {
      padding-top: 60px;
      padding-bottom: 60px;
      color: $gray;

      .section-heading {
        font-size: 34px;
        font-family: Effra, sans-serif;
        font-weight: 500;
      }

      .section-description {
        p {
          margin: 30px 0px;
          font-size: 18px;
          color: inherit;
          font-family: Effra, sans-serif;
          font-weight: 400;
        }
      }

      .btn {
        box-shadow: none;
        border-width: 2px;
        letter-spacing: 2.3px;
        font-family: Effra, sans-serif;
        font-weight: 500;
      }
    }

    &.section-contact-us {
      padding-top: 60px;
      padding-bottom: 80px;
      background: linear-gradient(155deg, #161F1E 55%, #1C2726 55%);

      .contact-form {
        margin: 0;

        form {
          margin-top: 15px;
          input, textarea {
            font-size: 20px;
            font-family: Effra, sans-serif;
            font-weight: 500;
            border-color: $white;
            color: $white;
            @include placeholder($white);
            text-transform: inherit;
            letter-spacing: 1.11px;
          }

          > div {
            margin-bottom: 20px;
          }

          .btn {
            border-width: 2px;
          }
        }
      }
    }

    &.section-news {
      padding-top: 70px;
      padding-bottom: 70px;
      background-color: $white;

      .section-heading {
        color: $blue;
        font-size: 20px;
      }

      .section-description {
        color: $gray;
        font-family: Effra, sans-serif;
        font-weight: 500;
        h1 {
          font-size: 34px;
        }
        p {
          font-size: 18px;
        }
      }

      .news-carousel {
        margin-top: 30px;

        .owl-carousel {
          display: block;

          .owl-stage-outer {
            margin: 0 -30px;
            padding: 0 30px;
          }

          .owl-stage {
            .owl-item {
              display: block;
            }

            .news-item {
              position: relative;
              width: 275px;
              min-height: 310px;
              border-radius: 10px;
              padding: 25px;
              position: relative;

              background-color: #f8f8f8;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;

              &:before {
                border-radius: 10px;
                position: absolute;
                content: '';
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.2);
                z-index: 50;
              }

              .news-time {
                color: $white;
                letter-spacing: .5px;
                z-index: 100;
                position: relative;
              }

              .news-info {
                position: absolute;
                bottom: 25px;
                left: 25px;
                right: 25px;
                z-index: 100;

                .news-title {
                  margin-top: 28px;
                  color: $blue;
                  letter-spacing: 1.24px;
                  font-family: Effra, sans-serif;
                  font-weight: 500;
                  max-height: 160px;
                  overflow: hidden;
                }

                .news-link {
                  a {
                    height: 30px;
                    width: 30px;
                    display: block;

                    &:after {
                      content: "\E628";
                      font-family: themify;
                      color: $white;
                      font-size: 30px;
                      line-height: 1;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
