// Variables

// Restated Bootstrap Variables

$white: #fff !default;
// $gray-100: #f8f9fa !default;
// $gray-200: #e9ecef !default;
// $gray-300: #dee2e6 !default;
// $gray-400: #ced4da !default;
// $gray-500: #adb5bd !default;
// $gray-600: #868e96 !default;
// $gray-700: #495057 !default;
// $gray-800: #343a40 !default;
// $gray-900: #212529 !default;
$black: #000 !default;

$primary: #1D809F !default;
$secondary: #ecb807 !default;

$blue: #50E3C2 !default;
$gray: #261B1B !default;
$gray-100: #F3F1F1 !default;

// Custom color with non-duplicate custom name
$tundora: #4A4A4A !default;
$denim: #1b60ce !default;
$alabaster: #F8F8F8 !default;
$woodsmoke: #161F1E !default;
$outerSpace: #1c2726 !default;
$mirage: #1e2739 !default;