.cProjectDetailComponent {
    .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }

    .project-content {
      background-color: $alabaster;
    }

    .div-left {
      &__carousel {
        // .carousel-indicators {
        //   top: 5%;
        //   right: 5%;
        //   width: unset;
        //   left: unset;
        // }

        .carousel-control {
          height: unset;
          width: unset;
          top: unset;
          // bottom: 1rem;
          // right: 3%;
          left: unset;
          color: #6be3c2;
          z-index: 30;
          opacity: 0.8;
          transition-duration: 0.1s;

          &.left {
            // right: 15%;
            left: 0;
            bottom: 0;
            background-image: unset;
          }

          &.right {
            right: 0;
            bottom: 0;
            background-image: unset;
            // margin-right: 1rem;
          }

          .arrow-icon {
            width: 72px;
            height: 72px;
          }
        }

        .carousel-control:hover {
          opacity: 1;
          transition-duration: 0.1s;
        }

      }

      .card {
        // border: 1px solid;
        text-align: left;
        padding: 3rem;
        padding-top: 5em;
        padding-bottom: 3em;
        padding-left: 3em;
        padding-right: 3em;
        // background-color: $woodsmoke;
        margin: 0 3rem;
        margin: 0 0;

        height: 740px;

        .title-project {
          color: $blue;
          font-weight: bold;
        }
        .title1 {
          color: $white;
          padding-bottom: 2.5rem;
          font-size: 45px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.06;
          letter-spacing: 1.5px;
        }
        .title2 {
          color: $blue;
          margin-bottom: 1em;
        }
        .card-text {
          color: $white;
          padding-bottom: 1.5em;
        }
        .card-link {
          border: 1px solid $white;
          padding: .5rem 2rem;
          color: $white;
        }
      }

      // To make invisible
      .statistic-1 {
        &__caption {
          font-size: 3.5rem;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: unset;
          letter-spacing: 1.5px;
          color: $denim;
        }

        &__details {
          font-family: Effra;
          font-size: 1.4rem;
          font-weight: 400;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: 0.6px;
          color: $gray;
        }
      }

      .statistic-2 {
        &__caption {
          font-size: 3.5rem;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: unset;
          letter-spacing: 1.5px;
          color: $denim;
        }

        &__details {
          font-family: Effra;
          font-size: 1.4rem;
          font-weight: 400;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: 0.6px;
          color: $gray;
        }
      }
    }
    .div-right {
      padding: 3rem 5rem;
      height: 740px;

      .statistic {
        padding-bottom: 20px;

        & .caption {
          font-size: 3.5rem;
          font-weight: 700;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: 1.5px;
          color: $denim;
        }

        & .details {
          font-family: Effra;
          font-size: 1.4rem;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: 0.6px;
          color: $gray;
        }
      }

      .description {
        padding: 10px 30% 30px 0;

        & p {
          font-family: Effra;
          font-size: 1.0rem;
          font-weight: 400;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: 0.5px;
          line-height: 30px;
          color: $gray;
        }
      }

      @media (max-width: 1500px) {
        .description {
        padding: 10px 0px 30px 0;
      }
    }

      .website-button {
        box-shadow: unset;
        border: 1px solid black;
        border-radius: unset;

        font-size: 1rem;
        font-family: Effra;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 3px;
        text-align: center;
        color: $tundora;

        padding: 1rem 2rem;
      }
    }
    .img-responsive {
      width: 100%;
    }
}