<template>
  <div class="pHomeMobile">
    <section class="section section-intro" v-bind:style="'height: ' + height + 'px'">

      <div class="section-heading">
        <h1>{{$t('heading.title.first')}} {{$t('heading.title.second')}}<span class="text-highlight"> {{$t('heading.title.third')}}</span></h1>
      </div>

      <div class="text-center">
        <!-- <a class="btn btn-link btn-next-screen" v-on:click="scrollTo('.section-project')"> -->
        <a class="btn btn-link btn-next-screen" v-on:click="scrollTo('.new-map-component')">
          <i class="fas fa-arrow-down"></i>
        </a>
      </div>
    </section>

    <c-map-component class="new-map-component" idName="map-component-carousel-mobile" :dataContent="$t('explore')" :btnContent="$t('button')"></c-map-component>

    <!-- <section class="section section-project">
      <h3 class="section-heading text-uppercase">
        {{$t('explore.projects')}}
      </h3>
      <div class="section-description">
        {{$t('explore.operation')}}
      </div>

      <div class="project-carousel m-t-50">
        <div id="carousel-project-1" class="owl-carousel owl-theme">
          <div class="item project-item"
               v-for="(project, index) of projects" :key="'project-' + index">
            <h4 class="project-name">{{ project.name }}</h4>
            <div class="project-content">
              {{ project.description }}
              <div class="m-t-40">
                <a :href="project.url" target="_blank" class="btn btn-outline-white mn-w-230 ">{{$t('button.moreinfo')}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section section-map" v-bind:style="'min-height: ' + width + 'px'">

      <div class="locations">
        <ul class="list-unstyled">
          <li :class="[{active: currentProject.name === project.name}, 'project-' + (index + 1)]"
              v-for="(project, index) in projects" :key="'project-' + index">
            <img class="img-responsive"
                 src="~/assets/images/media_assets/frontpage/2_ProjectsMap/map-pin.svg"
                 v-on:click="onSelectLocation(index)"/>
            <img class="active img-responsive"
                 src="~/assets/images/media_assets/frontpage/2_ProjectsMap/map-pin-active.svg"/>
          </li>
        </ul>
      </div>
    </section> -->

    <section class="section section-track">
      <h1 class="section-heading">{{$t('trackrecord.title.first')}} <span class="text-highlight">{{$t('trackrecord.title.second')}}</span> {{$t('trackrecord.title.third')}}</h1>
      <div class="section-description m-t-20">
        {{$t('trackrecord.description')}}
      </div>
    </section>

    <section class="section section-sub-track">
      <div class="section-first content-middle" :style="'height: ' + width + 'px'">
        <div class="section-title">{{$t('trackrecord.card1.title')}}</div>
        <div class="section-description">
          {{$t('trackrecord.card1.desc')}}
        </div>
      </div>
      <div class="section-second" :style="'height: ' + width + 'px'">
        <!-- bg -->
      </div>
      <div class="section-third content-middle" :style="'height: ' + width + 'px'">
        <div class="section-title">{{$t('trackrecord.card2.title')}}</div>
        <div class="section-description">
          {{$t('trackrecord.card2.desc')}}
        </div>
      </div>
      <div class="section-four" :style="'height: ' + width + 'px'">
        <!-- bg -->
      </div>
    </section>

    <section class="section section-vision">
      <h1 class="section-heading">
        <span class="text-highlight">{{$t('visionteam.vision.title.first')}}</span> {{$t('visionteam.vision.title.second')}}
      </h1>
      <div class="section-description m-t-20">
        <p>{{$t('visionteam.vision.desc.first')}}</p>

        <p>{{$t('visionteam.vision.desc.second')}}</p>

        <p>{{$t('visionteam.vision.desc.third')}}</p>

        <p>{{$t('visionteam.vision.desc.fourth')}}</p>

        <p>{{$t('visionteam.vision.desc.fifth')}}</p>
      </div>
    </section>

    <section class="section section-team">
      <h4 class="section-heading text-uppercase">{{$t('visionteam.team.title.first')}}</h4>
      <div class="section-description m-t-20">
        <h1 class="text-white">{{$t('visionteam.team.title.second')}} <span class="text-highlight">{{$t('visionteam.team.title.third')}}</span></h1>
        <p>
          {{$t('visionteam.team.desc')}}
        </p>

        <div class="m-t-20">
          <a class="btn btn-link btn-outline-white mn-w-230" href="#">
            {{$t('button.team')}}
          </a>
        </div>
      </div>
    </section>

    <section class="section section-news">
      <h4 class="section-heading text-uppercase">{{$t('news.title.first')}}</h4>
      <div class="section-description">
        <h1>{{$t('news.title.second')}}</h1>
        <p>{{$t('news.title.third')}}</p>

        <div class="news-carousel">
          <div id="carousel-news" class="owl-carousel owl-theme">
            <div class="item news-item"
                 :style="{ background: 'url(' + blog.thumbnail + ')' }"
                 v-for="(blog, index) of blogs"
                 :key="`blog-${index}`">
              <div class="news-time">{{ [ blog.date, "dddd MMMM Do, YYYY" ] | moment("M.YYYY") }}</div>
              <div class="news-info">
                <h1 class="news-title">{{ blog.title }}</h1>
                <div class="news-link">
                  <a :href="blog._path"></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="m-t-40">
          <a class="btn btn-link btn-gray-outline mn-w-230" href="/news">{{$t('button.morenews')}}</a>
        </div>
      </div>
    </section>

    <section class="section section-project-detail">
      <h4 class="section-heading text-uppercase">{{$t('project.title.first')}}</h4>
      <div class="section-description">
        <div class="project-carousel">
          <div id="carousel-project-2" class="owl-carousel owl-theme">
            <div class="item project-item"
                 v-for="(project, index) in $t('project.projects')"
                 :key="`project-${index}`">
              <h1 class="project-name">{{ project.name }}</h1>
              <div class="project-content">
                <p v-for="(item, textIndex) in project.intro" :key="`project-${index}-text-${textIndex}`">{{ item }}</p>
              </div>
              <div class="project-link m-t-40">
                <a :href="project.url" target="_blank" class="btn btn-link btn-gray-outline text-uppercase mn-w-230">
                  More Info
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  import messages from "../../../assets/translations/home";
  import cMapComponent from "~/components/cMapComponent/cMapComponent"

  export default {
    name: 'cIndexMobile',
    
    components: {
      cMapComponent
    },

    i18n: {
      messages
    },

    data() {
      return {
        height: null,
        width: null,
        projectCarousel1: undefined,
        newsCarousel: undefined,
        projectCarousel2: undefined,
        blogs: [],
        projects: [],
        currentProject: {}
      }
    },
    computed: {
      allBlogPosts() {
        return this.$store.state.allBlogs
      }
    },
    created() {
      this.blogs = this.allBlogPosts.slice(0, 3);

      this.projects = this.$t('explore.projectsMobile')

      this.currentProject = this.projects[0];
    },

    mounted() {
      this.initComponent()
    },

    methods: {
      scrollTo(element) {
        var ele = $(element);

        if (!!ele.get(0)) {
          $('html, body').animate({
            scrollTop: ele.offset().top
          }, 1000);
        }
      },

      onSelectLocation(index) {
        this.projectCarousel1.trigger('to.owl.carousel', index);
      },

      onActiveLocation(index) {
        this.currentProject = this.projects[index];
      },

      initComponent() {

        var _this = this;

        $(document).ready(() => {
          $(window).bind('load resize', (e) => {
            this.height = $(window).height();
            this.width = $(window).width();
          });

          this.height = $(window).height();
          this.width = $(window).width();

          this.projectCarousel1 = $('#carousel-project-1');
          this.projectCarousel1.owlCarousel({
            items: 1,
            nav: true,
            dot: true,
            navText: [
              '<i class="fas fa-arrow-right"></i>',
              '<i class="fas fa-arrow-right"></i>',
            ]
          }).on('changed.owl.carousel', (event) => {

            _this.onActiveLocation(event.item.index);

          });

          // news carousel
          this.newsCarousel = $('#carousel-news');
          this.newsCarousel.owlCarousel({
            autoWidth: true,
            margin: 15
          });

          // project detail section
          this.projectCarousel2 = $('#carousel-project-2');
          this.projectCarousel2.owlCarousel({
            items: 1,
            nav: true,
            dot: true,
            navText: [
              '<img class="img-responsive" src="images/CommonItems/arrow-left-background.svg" alt="prev"/>',
              '<img class="img-responsive" src="images/CommonItems/arrow-right-background.svg" alt="prev"/>',
            ]
          });
        });
      }
    }
  }
</script>
