<template>
  <div class="">
    <div class="hidden-sm hidden-md hidden-lg">
      <c-projects-mobile projectName="mugga-lane" :currentProject="$t('muggaLane')"></c-projects-mobile>
    </div>
    <div class="hidden-xs">
      <c-projects-desktop projectName="mugga-lane" :currentProject="$t('muggaLane')"></c-projects-desktop>
    </div>
  </div>
</template>

<script>
  import messages from "~/assets/translations/projects";
  import cProjectsDesktop from '~/components/projects/desktop/cProjectsDesktop.vue'
  import CProjectsMobile from "~/components/projects/mobile/cProjectsMobile";

  export default {
    components: {
      CProjectsMobile,
      cProjectsDesktop,
    },

    i18n: {
      messages
    },
    head () {
      return {
        title: this.$t('head.muggaLane.title'),
        meta: this.$t('head.muggaLane.meta')
      }
    }
  };
</script>
