<template>
    <section class="cMapComponent">
        
        <div class="carousel-size carousel-position carousel-component g-padding-y-50--md">
            <div class="g-hor-centered-row--md">
                <!-- <div class="col-md-7 col-sm-12"> -->
                <div class="">
                    <div :id="idName" class="carousel slide carousel-fade map-component__carousel"
                        data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div :class="{ item: true, active: true }">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="text-uppercase title-project">{{ dataContent.projects }}</p>
                                        <h4 class="title1">{{ dataContent.operation }}</h4>
                                        <h4 class="title2">{{ dataContent.muggatitle }}</h4>
                                        <p class="card-text">
                                            {{ dataContent.muggadesc }}
                                        </p>
                                        <a href="/projects/mugga-lane" class="btn btn-outline-white">{{ btnContent.moreinfo }}</a>
                                    </div>
                                </div>
                            </div>
                            <div :class="{ item: true }">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="text-uppercase title-project">{{ dataContent.projects }}</p>
                                        <h4 class="title1">{{ dataContent.operation }}</h4>
                                        <h4 class="title2">{{ dataContent.sunraysiatitle }}</h4>
                                        <p class="card-text">
                                            {{ dataContent.sunraysiadesc }}
                                        </p>
                                        <a href="/projects/sunraysia" class="btn btn-outline-white">{{ btnContent.moreinfo}}</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" :href="`#${idName}`" role="button" data-slide="prev"
                            v-on:click="mapLocationChange()">
                            <span class="fas fa-arrow-left" aria-hidden="true" style="font-size: 35px;"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" :href="`#${idName}`" role="button" data-slide="next"
                            v-on:click="mapLocationChange()">
                            <span class="fas fa-arrow-right" aria-hidden="true" style="font-size: 35px;"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="map-component__map">
            <GmapMap
                class="map-component__map__map-view"
                :center="center"
                :zoom="zoom"
                :options="mapStyle"
                map-type-id="terrain"
            >
                <GmapMarker
                    v-if="!isMuggaLaneLocation"
                    :position="muggaLaneMarker"
                    :clickable="true"
                    :icon="markerOptions"
                    @click="muggaLocation()"
                />
                <GmapMarker
                    v-if="!isSunraysiaLocation"
                    :position="sunraysiaMarker"
                    :clickable="true"
                    :icon="markerOptions"
                    @click="sunraysiaLocation()" 
                />

                <GmapMarker
                    v-if="isMuggaLaneLocation"
                    :position="muggaLaneMarker"
                    :clickable="false"
                    :icon="markerOptionsActive"
                />
                <GmapMarker
                    v-if="isSunraysiaLocation"
                    :position="sunraysiaMarker"
                    :clickable="false"
                    :icon="markerOptionsActive"
                />
            </GmapMap>
        </div>

    </section>
</template>

<script>
    import mapMarker from '~/assets/images/media_assets/frontpage/2_ProjectsMap/map-pin.svg'
    import mapMarkerActive from '~/assets/images/media_assets/frontpage/2_ProjectsMap/map-pin-active.svg'

    export default {
        name: 'cMapComponent',

        props: {
            dataContent: {},
            btnContent: {},
            idName: {
                required: false
            }
        },

        data () {
            return {
                isMuggaLaneLocation: true,
                isSunraysiaLocation: false,
                carouselObject: undefined,
                center: {
                    lat: -35,
                    lng: 138.149113
                },
                mobileCenterCoor: {
                    lat: -35,
                    lng: 146.149113
                },
                zoom: 6,
                sunraysiaMarker: {
                    name: 'Sunraysia',
                    lat: -34.8070837,
                    lng: 143.493517
                },
                muggaLaneMarker: {
                    name: 'Mugga-Lane',
                    lat: -35.398161,
                    lng: 149.149113
                },
                mapStyle: {
                    // other properties...
                    styles: [
                        {elementType: 'geometry', stylers: [{color: 'f5f5f5'}]},
                        {elementType: 'labels.icon', stylers: [{visibility: 'off'}]},
                        {elementType: 'labels.text.stroke', stylers: [{color: '#f5f5f5'}]},
                        {elementType: 'labels.text.fill', stylers: [{color: '#616161'}]},
                        {
                            featureType: 'administrative.land_parcel',
                            elementType: 'labels.text.fill',
                            stylers: [{color: '#bdbdbd'}]
                        },
                        {
                        featureType: 'administrative.neighborhood',
                        stylers: [{visibility: 'off'}]
                        },
                        {
                            featureType: 'poi',
                            elementType: 'labels.text',
                            stylers: [{visibility: 'on'}]
                        },
                        {
                            featureType: 'poi',
                            elementType: 'labels.text.fill',
                            stylers: [{color: '#757575'}]
                        },
                        {
                            featureType: 'poi.business',
                            stylers: [{visibility: 'off'}]
                        },
                        {
                            featureType: 'poi.park',
                            elementType: 'labels.text',
                            stylers: [{visibility: 'off'}]
                        },
                        {
                            featureType: 'poi.park',
                            elementType: 'labels.text.fill',
                            stylers: [{color: '#9e9e9e'}]
                        },
                        {
                            featureType: 'road',
                            elementType: 'geometry',
                            stylers: [{color: '#ffffff'}]
                        },
                        {
                            featureType: 'road',
                            elementType: 'labels',
                            stylers: [{visibility: 'on'}]
                        },
                        {
                            featureType: 'road.arterial',
                            elementType: 'labels.text.fill',
                            stylers: [{color: '#757575'}]
                        },
                        {
                            featureType: 'road.highway',
                            elementType: 'geometry',
                            stylers: [{color: '#dadada'}]
                        },
                        {
                            featureType: 'road.highway',
                            elementType: 'labels.text.fill',
                            stylers: [{color: '#616161'}]
                        },
                        {
                            featureType: 'road.local',
                            elementType: 'labels.text.fill',
                            stylers: [{color: '#9e9e9e'}]
                        },
                        {
                            featureType: 'transit.line',
                            elementType: 'geometry',
                            stylers: [{color: '#e5e5e5'}]
                        },
                        {
                            featureType: 'transit.station',
                            elementType: 'geometry',
                            stylers: [{color: '#eeeeee'}]
                        },
                        {
                            featureType: 'water',
                            elementType: 'geometry',
                            stylers: [{color: '#c9c9c9'}]
                        },
                        {
                            featureType: 'water',
                            elementType: 'labels.text',
                            stylers: [{visibility: 'off'}]
                        },
                        {
                            featureType: 'water',
                            elementType: 'labels.text.fill',
                            stylers: [{color: '#9e9e9e'}]
                        }
                    ]
                },
                markerOptions: {
                  url: mapMarker,
                  size: {width: 24, height: 33, f: 'px', b: 'px',},
                  scaledSize: {width: 24, height: 33, f: 'px', b: 'px',},
                },
                markerOptionsActive: {
                  url: mapMarkerActive,
                  size: {width: 59, height: 59, f: 'px', b: 'px',},
                  scaledSize: {width: 59, height: 59, f: 'px', b: 'px',},
                }
            }
        },

        mounted () {
            this.initMapCenterPosition()
            this.initCarousel()
        },

        methods: {
            initCarousel () {
                // Create element id name
                let carouselIdName = '#' + this.idName
                let idName = this.idName
                this.carouselObject = $(carouselIdName)
                $(document).ready(() => {
                    $(carouselIdName).on('slide.bs.carousel', (e) => {
                        // let b = $('#map-component-carousel-desktop .carousel-inner')
                        // console.log(b.children().index($('.item.active')))
                        // console.log($(carouselIdName + ' div.item.active').index())
                        var currentIndex = $(carouselIdName + ' div.item.active').index();
                        if (currentIndex === 0) {
                            this.isMuggaLaneLocation = false;
                            this.isSunraysiaLocation = true;
                        } else if (currentIndex === 1) {
                            this.isMuggaLaneLocation = true;
                            this.isSunraysiaLocation = false;
                        }
                    })
                })
            },
            initMapCenterPosition () {
                let screenSize = window.innerWidth

                if (screenSize <= 992) {
                    this.center = this.mobileCenterCoor
                }
            },
            mapLocationChange (panelIndex) {
                this.isMuggaLaneLocation = !this.isMuggaLaneLocation
                this.isSunraysiaLocation = !this.isSunraysiaLocation

                this.carouselObject.carousel(panelIndex)
            },
            muggaLocation() {
                this.isMuggaLaneLocation = !this.isMuggaLaneLocation
                this.isSunraysiaLocation = !this.isSunraysiaLocation

                // this.carouselObject.carousel('next')
                this.carouselObject.carousel(0)
            },
            sunraysiaLocation() {
                this.isMuggaLaneLocation = false
                this.isSunraysiaLocation = true

                // this.carouselObject.carousel('prev')
                this.carouselObject.carousel(1)
            }
        }
    }
</script>