<template>
    <div class="cProjectMapComponent">
        <div class="map-component">
            <GmapMap
                class="map-component__map"
                :center="mapContent.center"
                :zoom="mapContent.zoom"
                :options="mapStyle"
                map-type-id="terrain"
            >
                <GmapMarker
                    :position="mapContent.markerPosition"
                    :clickable="false"
                    :icon="markerActiveOptions"
                />
            </GmapMap>
        </div>
    </div>
</template>

<script>
    import mapMarkerActive from '~/assets/images/media_assets/frontpage/2_ProjectsMap/map-pin-active.svg'

    export default {
        name: 'cProjectMapComponent',

        props: {
            mapContent: {}
        },

        data () {
            return {
                center: {
                    lat: -35.398161,
                    lng: 149.149113
                },
                zoom: 7,
                markerPosition: {
                    lat: -35.398161,
                    lng: 149.149113
                },
                mapStyle: {
                    // other properties...
                    styles: [
                        {elementType: 'geometry', stylers: [{color: 'f5f5f5'}]},
                        {elementType: 'labels.icon', stylers: [{visibility: 'off'}]},
                        {elementType: 'labels.text.stroke', stylers: [{color: '#f5f5f5'}]},
                        {elementType: 'labels.text.fill', stylers: [{color: '#616161'}]},
                        {
                            featureType: 'administrative.land_parcel',
                            elementType: 'labels.text.fill',
                            stylers: [{color: '#bdbdbd'}]
                        },
                        {
                        featureType: 'administrative.neighborhood',
                        stylers: [{visibility: 'off'}]
                        },
                        {
                            featureType: 'poi',
                            elementType: 'labels.text',
                            stylers: [{visibility: 'on'}]
                        },
                        {
                            featureType: 'poi',
                            elementType: 'labels.text.fill',
                            stylers: [{color: '#757575'}]
                        },
                        {
                            featureType: 'poi.business',
                            stylers: [{visibility: 'off'}]
                        },
                        {
                            featureType: 'poi.park',
                            elementType: 'labels.text',
                            stylers: [{visibility: 'off'}]
                        },
                        {
                            featureType: 'poi.park',
                            elementType: 'labels.text.fill',
                            stylers: [{color: '#9e9e9e'}]
                        },
                        {
                            featureType: 'road',
                            elementType: 'geometry',
                            stylers: [{color: '#ffffff'}]
                        },
                        {
                            featureType: 'road',
                            elementType: 'labels',
                            stylers: [{visibility: 'on'}]
                        },
                        {
                            featureType: 'road.arterial',
                            elementType: 'labels.text.fill',
                            stylers: [{color: '#757575'}]
                        },
                        {
                            featureType: 'road.highway',
                            elementType: 'geometry',
                            stylers: [{color: '#dadada'}]
                        },
                        {
                            featureType: 'road.highway',
                            elementType: 'labels.text.fill',
                            stylers: [{color: '#616161'}]
                        },
                        {
                            featureType: 'road.local',
                            elementType: 'labels.text.fill',
                            stylers: [{color: '#9e9e9e'}]
                        },
                        {
                            featureType: 'transit.line',
                            elementType: 'geometry',
                            stylers: [{color: '#e5e5e5'}]
                        },
                        {
                            featureType: 'transit.station',
                            elementType: 'geometry',
                            stylers: [{color: '#eeeeee'}]
                        },
                        {
                            featureType: 'water',
                            elementType: 'geometry',
                            stylers: [{color: '#c9c9c9'}]
                        },
                        {
                            featureType: 'water',
                            elementType: 'labels.text',
                            stylers: [{visibility: 'off'}]
                        },
                        {
                            featureType: 'water',
                            elementType: 'labels.text.fill',
                            stylers: [{color: '#9e9e9e'}]
                        }
                    ]
                },
                markerActiveOptions: {
                  url: mapMarkerActive,
                  size: {width: 59, height: 59, f: 'px', b: 'px',},
                  scaledSize: {width: 59, height: 59, f: 'px', b: 'px',},
                }
            }
        }
    }
</script>