<template>
  <div>
    <c-header/>
    <nuxt/>
    <c-footer/>
    <!-- Back To Top -->
    <a href="javascript:void(0);" class="s-back-to-top js__back-to-top"></a>

    <!-- Vendor -->
    <!-- <script async type="text/javascript" src="/theme/vendor/jquery.min.js"></script>
    <script async type="text/javascript" src="/theme/vendor/jquery.migrate.min.js"></script>
    <script async type="text/javascript" src="/theme/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script async type="text/javascript" src="/theme/vendor/owl-carousel/owl.carousel.js"></script>
    <script async type="text/javascript" src="/theme/vendor/jquery.smooth-scroll.min.js"></script>
    <script async type="text/javascript" src="/theme/vendor/jquery.back-to-top.min.js"></script>
    <script async type="text/javascript" src="/theme/vendor/scrollbar/jquery.scrollbar.min.js"></script>
    <script async type="text/javascript" src="/theme/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script async type="text/javascript" src="/theme/vendor/swiper/swiper.jquery.min.js"></script>
    <script async type="text/javascript" src="/theme/vendor/waypoint.min.js"></script>
    <script async type="text/javascript" src="/theme/vendor/counterup.min.js"></script>
    <script async type="text/javascript" src="/theme/vendor/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
    <script async type="text/javascript" src="/theme/vendor/jquery.parallax.min.js"></script>

    <script async type="text/javascript" src="/theme/vendor/jquery.wow.min.js"></script> -->

    <!-- General Components and Settings -->
    <!-- <script async type="text/javascript" src="/theme/js/global.min.js"></script>
    <script async type="text/javascript" src="/theme/js/components/header-sticky.min.js"></script>
    <script async type="text/javascript" src="/theme/js/components/scrollbar.min.js"></script>
    <script async type="text/javascript" src="/theme/vendor/vidbg.min.js"></script>
    <script async type="text/javascript" src="/theme/js/components/magnific-popup.min.js"></script>
    <script async type="text/javascript" src="/theme/js/components/swiper.min.js"></script>
    <script async type="text/javascript" src="/theme/js/components/counter.min.js"></script>
    <script async type="text/javascript" src="/theme/js/components/portfolio-3-col.min.js"></script>
    <script async type="text/javascript" src="/theme/js/components/parallax.min.js"></script>
    <script async type="text/javascript" src="/theme/js/components/wow.min.js"></script> -->
  </div>
</template>

<script>
  import cHeader from '../components/cHeader.vue'
  import cFooter from '../components/cFooter.vue'

  export default {
    components: {
      cHeader,
      cFooter,
    },
    data() {
      return {}
    },
  }
</script>

<style lang="scss">

</style>
