<template>
  <div class="pPageNotFound">
    <div class="div-first"> 
      <div class="container">
        <div class="error-content">
          <div class="error-message">
            <h3 class="vv-subheading text-xs-center error-message__title"><span class="error-message__title--blue">{{ $t("title") }}</span> {{ $t("titleWhite") }}</h3>
            <p class="text-xs-center error-message__subtitle">{{ $t("subtitle") }}</p>  
          </div>
          <div class="error-btn" > 
            <a class="btn home-btn" href="/">Back to homepage</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import messages from '../assets/translations/404'
  export default {
    props: ['error'],
    layout: 'default',
    i18n: {
      messages
    },
    mounted () {
      this.$store.commit('SET_MENU_WHITE_THEME', false)
    }
  }
</script>

<style scoped lang="scss">

</style>
