<template>
  <div class="pCareers">
    <section class="div-first">
      <div class="container g-position--overlay g-text-center--xs">
        <img class="header-overlay" src="~/assets/images/CommonItems/header-overlay.png">
        <div class="g-padding-y-50--xs g-margin-t-100--xs g-margin-b-100--xs g-margin-b-100--md title-content">
          <div class="title-list position-relative">
            <p class="title-list__page-name">{{$t('heading.title.caps')}}</p>
            <h1 class>
              {{$t('heading.title.first')}}
            </h1>
            <h2 class>{{$t('heading.title.second')}}</h2>
            <h3 class>{{$t('heading.title.third')}}</h3>
          </div>

          <a href="#js__scroll-to-section" class="scroll-down-btn position-relative">
            <span class="btn s-icon s-icon--md s-icon--white-brd g-radius--circle fas fa-arrow-down font-weight-900"></span>
          </a>
        </div>
      </div>
    </section>


    <section class="div-fourth section-job" :class="{ 'max-height-0': !isPopupDisplay }">
      <div class="container">
        <div class="section-job">
          <h3 class="section-heading">
            {{ currentJob.title }} - {{ currentJob.location }}
            <span class="job-type">{{ currentJob.jobType }}</span>
            <button class="btn btn-gray-outline" v-on:click="updatePopupstate(false)">
              <i class="fas fa-times font-weight-900"></i>
            </button>
          </h3>

          <div class="section-description row">
            <div class="col-md-8">
              <h5>Role</h5>
              <p>{{ currentJob.role }}</p>

              <h5>{{ currentJob.responsibilityTitle }}</h5>
              <ul class="list-unstyled">
                <li v-for="(responsibility, index) in currentJob.responsibilities" :key="`responsibility-${index}`">
                  {{ responsibility }}
                </li>
              </ul>
              <p>{{ currentJob.responsibilitiesDescription }}</p>

              <h5>{{ currentJob.skillsTitle }}</h5>
              <ul class="list-unstyled">
                <li v-for="(requirement, index) in currentJob.requirements" :key="`requirement-${index}`">
                  {{ requirement }}
                </li>
              </ul>
              <a class="btn btn-gray-outline" :href="currentJob.websiteUrl">APPLY ON SEEK</a>

            </div>
          </div>

          <div class="section-form">

          </div>
        </div>
      </div>
    </section>

    <section id="js__scroll-to-section" class="div-second" :class="{ 'max-height-0': isPopupDisplay }">
      <div class="container-fluid">
        <div class="row">
          <div class="div-left col-md-6">
            <h3>{{ $t('jobs.head.title') }}</h3>
            <p>{{ $t('jobs.head.description') }}</p>
          </div>

          <div class="div-right col-md-6">
            <ul class="nav nav-tabs">
              <li class="active"><a class="" data-toggle="tab" href="#careerSydney">Sydney</a></li>
              <!--<li><a class="" data-toggle="tab" href="#careerSingapore">Singapore</a></li>-->
            </ul>

            <div class="tab-content g-margin-t-30--xs g-margin-t-50--sm">
              <div id="careerSydney" class="tab-pane fade in active">
                <div class="row">
                  <ul>
                    <li v-for="(job, index) in $t('jobs.sydney')" :key="`sydney-${index}`"><a @click="jobClick(job)">{{ job.title }}</a></li>
                  </ul>
                </div>
              </div>
              <div id="careerSingapore" class="tab-pane fade">
                <div class="row">
                  <ul>
                    <li v-for="(job, index) in $t('jobs.singapore')" :key="`singapore-${index}`"><a @click="jobClick(job)">{{ job.title }}</a></li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="div-third" :class="{ 'max-height-0': isPopupDisplay }">
      <c-news-list-component :news="$t('news')" 
        :button="$t('button')"
        :allBlogsList="this.allBlogPosts"
        :blogBeginNumber="0" 
        :blogsNumber="3"
        backgroundColor="#f9f9f9"
      ></c-news-list-component>
    </section>


    <!-- <section class="div-third articles-card-component" :class="{ 'max-height-0': isPopupDisplay }">
      <div class="container container-content">
        <div class="div-header row">
          <div class="col-sm-5 g-hor-centered-row__col">
            <p class="text-uppercase title-header">{{$t('news.title.first')}}</p>
            <h2 class="title-caption">{{$t('news.title.second')}}</h2>
            <p class="title-details">{{$t('news.title.third')}}</p>
          </div>
        </div>

        <div class="div-content articles-card-list row">
          <div class="col-md-4">
            <div class="card"
                :style="{ 'background-image': 'url(' + this.allBlogPosts[0].thumbnail + ')' }"
                style="background-repeat: no-repeat; background-position: center center; background-size: cover; position: relative;">
              <div class="card-body">
                <p class="card-body__date position-relative">{{ [ this.allBlogPosts[0].date, "dddd MMMM Do, YYYY" ] | moment("M.YYYY") }}</p>

                <div class="card-body__info">
                  <a :href="this.allBlogPosts[0]._path" class="card-body__title card-body__title">{{ this.allBlogPosts[0].title }}</a>
                  <div class="card-body__info__expanded-component">
                    <p class="card-body__details">
                      {{ this.allBlogPosts[0].shortBody }}
                    </p>
                    <a :href="this.allBlogPosts[0]._path" class="card-body__icon"/>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card"
                :style="{ 'background-image': 'url(' + this.allBlogPosts[1].thumbnail + ')' }"
                style="background-repeat: no-repeat; background-position: center center; background-size: cover; position: relative;">
              <div class="card-body">
                <p class="card-body__date position-relative">{{ [ this.allBlogPosts[1].date, "dddd MMMM Do, YYYY" ] | moment("M.YYYY")}}</p>

                <div class="card-body__info">
                  <a :href="this.allBlogPosts[1]._path" class="card-body__title card-body__title">{{ this.allBlogPosts[1].title }}</a>
                  <div class="card-body__info__expanded-component">
                    <p class="card-body__details">
                      {{ this.allBlogPosts[1].shortBody }}
                    </p>
                    <a :href="this.allBlogPosts[1]._path" class="card-body__icon"/>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card"
                :style="{ 'background-image': 'url(' + this.allBlogPosts[2].thumbnail + ')' }"
                style="background-repeat: no-repeat; background-position: center center; background-size: cover; position: relative;">
              <div class="card-body">
                <p class="card-body__date position-relative" style="-webkit-box-orient: vertical;">{{ [ this.allBlogPosts[2].date, "dddd MMMM Do, YYYY" ] | moment("M.YYYY")}}</p>

                <div class="card-body__info">
                  <a :href="this.allBlogPosts[2]._path" class="card-body__title card-body__title">{{ this.allBlogPosts[2].title }}</a>
                  <div class="card-body__info__expanded-component">
                    <p class="card-body__details">
                      {{ this.allBlogPosts[2].shortBody }}
                    </p>
                    <a :href="this.allBlogPosts[2]._path" class="card-body__icon"/>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="div-more-news row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
              <a href="/news" class="btn btn-gray-outline" role="button">{{$t('button.morenews')}}</a>
            </div>
          </div>
        </div>
      </div>
    </section> -->

  </div>
</template>

<script>
  import messages from "~/assets/translations/careers";
  import cNewsListComponent from '~/components/cNewsListComponent/cNewsListComponent'

  export default {
    name: 'cCareersDesktop',
    components: {
      cNewsListComponent
    },

    i18n: {
      messages
    },

    computed: {
      allBlogPosts() {
        return this.$store.state.allBlogs;
      }
    },

    data () {
      return {
        currentJob: this.$t('jobs.sydney[0]'),
        isPopupDisplay: false
      }
    },

    methods: {
      jobClick (jobObject) {
        this.currentJob = jobObject
        this.updatePopupstate(true)
      },
      updatePopupstate (isDisplay) {
        this.isPopupDisplay = isDisplay
      }
    }
  };
</script>
