<template>
    <section class="cCarouselComponent">
        <div class="container g-text-center--xs">

            <div :id="idName" class="s-swiper carousel carousel-fade slide" data-ride="carousel">
                <!-- Swiper Wrapper -->
                <div class="swiper-wrapper carousel-inner g-margin-b-50--xs" role="listbox">

                    <!-- Start slider item -->
                    <div class="item g-padding-x-130--sm g-padding-x-150--lg"
                        :class="{ 'active': index === 0 }"
                        v-for="(projectObject, index) in project.projects"
                        :key="`project-${index}`">
                        <div class="div-body div-body__item-1 g-padding-x-20--xs g-padding-x-50--lg"
                            :style="{ 'background-image': 'url(' + projectObject.thumbnail  +')' }">
                            <div class="card">
                                <div class="card-body">
                                    <p class="text-uppercase title-project">{{ project.title.first }}</p>
                                    <h4 class="project-name-title">{{ projectObject.name }}</h4>
                                    <p class="card-text project-content">{{ projectObject.intro[0] }}</p>
                                    <p class="card-text pb-1 project-content project-content--last">{{ projectObject.intro[1] }}</p>
                                    <a :href="projectObject.url" target="_blank" class="btn btn-gray-outline">{{ button.moreinfo }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End slider item -->

                </div>
                <!-- End Swipper Wrapper -->

                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li v-for="(projectObject, index) in project.projects" 
                        :key="`project-indicators-${index}`" 
                        :data-target="`#${idName}`" 
                        :data-slide-to="index"
                        class=""
                        :class="{ 'active': index === 0 }">
                    </li>
                </ol>

                <!-- Arrows -->
                <a class="s-swiper__arrow-v1--right carousel-next" :href="`#${idName}`" role="button" data-slide="next">
                    <span class="fas fa-arrow-right" aria-hidden="true" style="font-size: 45px;"></span>
                    <span class="sr-only">Next</span>
                </a>
                <a class="s-swiper__arrow-v1--left carousel-prev" :href="`#${idName}`" role="button" data-slide="prev">
                    <span class="fas fa-arrow-left" aria-hidden="true" style="font-size: 45px;"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <!-- End Arrows -->
            </div>

        </div>
    </section>
</template>

<script>
    export default {
        name: 'cCarouselComponent',

        props: {
            idName: {},
            button: {},
            project: {}
        }
    }
</script>