<template>
    <section id="js__scroll-to-section" class="cTeamCarouselComponent">
      <div class="container g-text-center--xs">
        <div :id="idName" class="s-swiper carousel carousel-fade slide" data-ride="carousel">
            <!-- Start carousel inner -->
            <div class="swiper-wrapper carousel-inner g-margin-b-50--xs" role="listbox">
                <!-- Start Carousel Item -->
                <div class="item g-padding-x-130--sm g-padding-x-150--lg profile-slide"
                    :class="{ 'active': profileIndex === 0 }"
                    v-for="(profile, profileIndex) in profiles"
                    :key="`profile-${profileIndex}`">
                    <div class="profile-slide__left">
                        <img class="profile-slide__left__avatar" :src="profile.avatar" :alt="profile.name">
                        <a class="profile-slide__left__profile-link" :href="profile.link">
                            <i class="fab fa-linkedin profile-slide__left__profile-link--linkedin-icon"></i>
                            <span class="profile-slide__left__profile-link--text">{{ button.profile }}</span>
                        </a>
                    </div>

                    <div class="div-body g-padding-x-20--xs g-padding-x-50--lg profile-slide__right">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-body__name">{{ profile.name }}</h4>
                                <p class="text-uppercase card-body__position">{{ profile.title }}</p>
                                <p
                                    class="card-body__content"
                                    v-for="(content, contentIndex) in profile.intro"
                                    :key="`profile-${profileIndex}-detail-${contentIndex}`"
                                >{{ content }}</p>

                                <a class="card-body__profile-link" :href="profile.link">
                                    <i class="fab fa-linkedin card-body__profile-link--linkedin-icon"></i>
                                    <span class="card-body__profile-link--text">View Profile</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Carousel Item -->
            </div>
            <!-- Start Carousel Inner -->

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li v-for="(profile, profileIndex) in profiles" 
                    :key="`project-indicators-${profileIndex}`" 
                    :data-target="`#${idName}`" 
                    :data-slide-to="profileIndex"
                    class=""
                    :class="{ 'active': profileIndex === 0 }">
                </li>
            </ol>

            <!-- Start Carousel Control -->
            <a class="s-swiper__arrow-v1--right carousel-next" :href="`#${idName}`" role="button" data-slide="next">
                <span class="fas fa-arrow-right" aria-hidden="true" style="font-size: 45px;"></span>
                <span class="sr-only">Next</span>
            </a>
            <a class="s-swiper__arrow-v1--left carousel-prev" :href="`#${idName}`" role="button" data-slide="prev">
                <span class="fas fa-arrow-left" aria-hidden="true" style="font-size: 45px;"></span>
                <span class="sr-only">Previous</span>
            </a>
          <!-- Start Carousel Control -->
        </div>
      </div>
    </section>
</template>

<script>
    export default {
        name: 'cTeamCarouselComponent',

        props: {
            profiles: {},
            button: {},
            idName: {}
        }
    }
</script>