<template>
    <section class="cProjectDetailComponent">
        <div class="container-fluid">
            <div class="row project-content">
                <div class="col-md-6 div-left">
                    <!-- <img class="img-responsive" src="~/assets/images/ImageBlockCarousel.png"> -->

                    <div id="carousel-example-generic" class="carousel slide div-left__carousel" data-ride="carousel">
                    <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li v-for="(galleryImage, index) in currentProject.gallery"
                            :key="`galleryIndicator-${index}`"
                            data-target="#carousel-example-generic" :data-slide-to="index" :class="{ active: index === 0 }"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div v-for="(galleryImage, index) in currentProject.gallery"
                            :key="`galleryIndicator-${index}`"
                            class="item" :class="{ active: index === 0 }">
                                <div class="card"
                                    style="background-repeat: no-repeat; background-position: center center; background-size: cover;"
                                    :style="{ 'background-image': 'url(' + galleryImage + ')'}">
                                </div>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <img class="arrow-icon" src="~/assets/images/CommonItems/arrow-left-background.svg"/>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <img class="arrow-icon" src="~/assets/images/CommonItems/arrow-right-background.svg"/>
                        </a>
                    </div>


                </div>
                <div class="col-md-6 div-right">
                    <div class="statistic">
                        <h3 class="caption">{{ currentProject.statisticOne.caption }}</h3>
                        <p class="details">{{ currentProject.statisticOne.details }}</p>
                    </div>
                    <div class="statistic">
                        <h3 class="caption">{{ currentProject.statisticTwo.caption }}</h3>
                        <p class="details">{{ currentProject.statisticTwo.details }}</p>
                    </div>
                    <div class="description">
                        <p v-for="(content, index) in currentProject.content" :key="`projectContent-${index}`">{{ content }}</p>
                    </div>
                    <a class="btn btn-gray-outline" :href="currentProject.websiteUrl">{{ button.visitWebsiteBtn }}</a>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: 'cProjectDetailComponent',

        props: {
            currentProject: {},
            button: {}
        }
    }
</script>