<template>
    <div class="pDisclaimersMobile">
        <section class="section section-index">
          <h1 class="section-heading">Disclaimer</h1>
          <h4 class="section-description">Maoneng Group 2018</h4>
          <div class="section-body">
            <div v-for="(content, index) in $t('contents')" :key="`content-${index}`">
              <p v-if="index !== 0">
                {{ content }}
              </p>
              <p v-else>
                <span class="highlight">{{ content.highlight }}</span> {{ content.content }}
              </p>
            </div>
          </div>
        </section>
    </div>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";
  import messages from "~/assets/translations/disclaimers";

  export default {
    components: {},
    i18n: {
      messages
    },
  };
</script>